{% extends "govuk-one-login-header--login.html" %}
{% set serviceName = "Find an apprenticeship" %}

{# Set where you want this to go to #}
{% set signInLink = "./govuk-one-login-flow-start-page/sign-in-or-create" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="search-page-02.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="location-page" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" style="margin-bottom: 4px;">
            <span class="govuk-caption-l">Question 1 of 2</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">What interests you?</h1>
          </legend>
          <p class="govuk-body style" style="color:	#505a5f">Select all that apply</p>

          <div class="govuk-!-padding-bottom-3"></div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            <div class="govuk-!-padding-bottom-5"></div>
            <h2 class="govuk-heading-m">Business, finance and public services</h2>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-1" name="sector" type="checkbox" value="business">
              <label class="govuk-label govuk-checkboxes__label" for="sector-1" style="font-size: 19px;">
                Business and administration
              </label>
              <div id="business-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. administrator, project manager, human resources
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-2" name="sector" type="checkbox" value="legal">
              <label class="govuk-label govuk-checkboxes__label" for="sector-2">
                Legal, finance and accounting
              </label>
              <div id="legal-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. financial advisor, payroll assistant, solicitor
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-3" name="sector" type="checkbox" value="protective">
              <label class="govuk-label govuk-checkboxes__label" for="sector-3">
                Protective services
              </label>
              <div id="protective-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. security, firefighter, coastguard
              </div>
            </div>            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-4" name="sector" type="checkbox" value="sales">
              <label class="govuk-label govuk-checkboxes__label" for="sector-4">
                Sales and marketing
              </label>
              <div id="sales-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. sales manager, digital marketer
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-5" name="sector" type="checkbox" value="transport">
              <label class="govuk-label govuk-checkboxes__label" for="sector-5">
                Transport and logistics
              </label>
              <div id="transport-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. aviation ground handler, train driver, fleet manager
              </div>
            </div>
            
            <div class="govuk-!-padding-bottom-5"></div>
            <h2 class="govuk-heading-m">Creative and service industries</h2>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-6" name="sector" type="checkbox" value="catering">
              <label class="govuk-label govuk-checkboxes__label" for="sector-6">
                Catering and hospitality
              </label>
              <div id="catering-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. chef, baker, hospitality staff
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-7" name="sector" type="checkbox" value="creative">
              <label class="govuk-label govuk-checkboxes__label" for="sector-7">
                Creative and design
              </label>
              <div id="creative-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. graphic designer, photographer, animator
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-8" name="sector" type="checkbox" value="hair">
              <label class="govuk-label govuk-checkboxes__label" for="sector-8">
                Hair and beauty
              </label>
              <div id="hair-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. hairdresser, barber, holistic therapist
              </div>
            </div>

            <div class="govuk-!-padding-bottom-5"></div>
            <h2 class="govuk-heading-m">Environment and agriculture</h2>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-9" name="sector" type="checkbox" value="environment">
              <label class="govuk-label govuk-checkboxes__label" for="sector-9">
                Agriculture, environmental and animal care
              </label>
              <div id="agriculture-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. farmer, gardener, vet
              </div>
            </div>


            <div class="govuk-!-padding-bottom-5"></div>
            <h2 class="govuk-heading-m">People and care</h2>
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-10" name="sector" type="checkbox" value="care">
              <label class="govuk-label govuk-checkboxes__label" for="sector-10">
                Care services
              </label>
              <div id="care-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. social worker, play therapist, adult carer
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-11" name="sector" type="checkbox" value="education">
              <label class="govuk-label govuk-checkboxes__label" for="sector-11">
                Education and early years
              </label>
              <div id="education-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. teaching assistant, early years educator
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-12" name="sector" type="checkbox" value="health">
              <label class="govuk-label govuk-checkboxes__label" for="sector-12">
                Health and science
              </label>
              <div id="health-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. ambulance worker, sports coach, clinical scientist
              </div>
            </div>

      

            <div class="govuk-!-padding-bottom-5"></div>
            <h2 class="govuk-heading-m">Technical and engineering</h2>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-13" name="sector" type="checkbox" value="construction">
              <label class="govuk-label govuk-checkboxes__label" for="sector-13">
                Construction and the built environment
              </label>
              <div id="construction-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. bricklayer, carpenter, architect
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-14" name="sector" type="checkbox" value="digital">
              <label class="govuk-label govuk-checkboxes__label" for="sector-14">
                Digital
              </label>
              <div id="digital-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. software engineer, data scientist, cloud engineer
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-15" name="sector" type="checkbox" value="engineering">
              <label class="govuk-label govuk-checkboxes__label" for="sector-15">
                Engineering and manufacturing
              </label>
              <div id="engineering-item-hint" class="govuk-hint govuk-checkboxes__hint" style="font-size: 16px;">
                e.g. autocare technician, welder, rail engineer
              </div>
            </div>

      

      


          </div>
        </fieldset>
      </div>



      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}