{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application submitted
          </h1>
          <div class="govuk-panel__body">
            Business Administration Apprentice Level 3 (Ashbury), KING RECRUITMENT
          </div>
        </div>
        <h1 class="govuk-heading-m govuk-!-padding-top-5">What happens next</h1>
        <p class="govuk-body">This company will contact you if you’re invited to an interview.
          They’ll contact you using the telephone number or email
          address on your application.</p>
        <p class="govuk-body">
          Check your application status in <a href="..//applications/submitted.html" class="govuk-link">your
            applications</a>.
        </p>

        <h1 class="govuk-heading-m govuk-!-padding-top-5">Tell us more about yourself (optional)</h1>
        <p class="govuk-body">Answer 4 equality questions. Your answers will help us check that apprenticeship
          recruitment is inclusive and fair.</p>
        <p class="govuk-body">We’ll never share your answers when you apply for an apprenticeship.</p>
        <div class="govuk-!-padding-bottom-5"></div>

        <form class="equality-question-form" id="equality-question-form"
          action="/v24/faa/apply/equality-question/action" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="equality-question">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do you want to answer the equality questions?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item" data-target="equality-question">
                  <input class="govuk-radios__input" id="yes-equality" name="equality-question" type="radio"
                    value="yes-equality">
                  <label class="govuk-label govuk-radios__label" for="yes-equality">
                    Yes, answer our equality questions (4 questions)
                  </label>
                </div>
                <div class="govuk-radios__item" data-target="equality-question">
                  <input class="govuk-radios__input" id="no-equality" name="equality-question" type="radio"
                    value="no-equality">
                  <label class="govuk-label govuk-radios__label" for="no-equality">
                    No, don’t answer the equality questions
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>




</div>
</div>

{% endblock %}