{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage team members
{% endblock %}

{% block beforeContent %}
{{super()}}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Your team
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your team</h1>
  </div>
  <div class="govuk-grid-column-one-third" style="text-align:right;">

      <p class="govuk-body govuk-!-margin-bottom-0"><a href="2-invite" class="govuk-button govuk-!-margin-bottom-2">Invite a new member</a></p>

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<p class="govuk-body-l">
  Invite team members from your organisation, control what they can do, remove members and cancel or resend invitations.
</p>

  </div>
</div>


          <table class="govuk-table das-table--responsive">           
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header" style="width: 25px;">Name</span></th>
                    <th scope="col" class="govuk-table__header" style="width: 25px;">What they can do</th>
                    <th scope="col" class="govuk-table__header" style="width: 25px;">Status</th>
                    <th scope="col" class="govuk-table__header" style="width: 25px;"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Hazel Fletcher<br>
                    <span class="govuk-caption-m">hazel@email.com</span></td>
                    <td class="govuk-table__cell">Manage adverts and view account information</td>
                    <td class="govuk-table__cell"> Active </td>
                    <td class="govuk-table__cell"><a href="3a-view-viewer" class="govuk-link">View</a></td>   
                </tr>
          
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Chris Lightfoot<br>
                        <span class="govuk-caption-m">chris@email.com</span></td>
                      </td>
                        <td class="govuk-table__cell">Manage apprentices, adverts and view account information</td>
                        <td class="govuk-table__cell"> Active </td>
                        <td class="govuk-table__cell"><a href="4a-view-transactor" class="govuk-link">View</a></td>   
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Dan Morrison<br>
                        <span class="govuk-caption-m">dan@email.com</span></td>
                      </td>
                        <td class="govuk-table__cell">Manage apprentices, adverts and account – includes signing the employer agreement, adding PAYE schemes and managing team member access</td>
                        <td class="govuk-table__cell"> Active </td>
                        <td class="govuk-table__cell"><a href="5a-view-owner" class="govuk-link">View</a></td>   
                    </tr>
                  
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Chardai Brice <br>
                        <span class="govuk-caption-m">chardai@email.com</span></td>
                      </td>
                        <td class="govuk-table__cell">Manage apprentices, adverts and account – includes signing the employer agreement, adding PAYE schemes and managing team member access</td>
                        <td class="govuk-table__cell"> Invitation expired </td>
                        <td class="govuk-table__cell"><a href="6-view-unaccepted" class="govuk-link">View</a></td>   
                    </tr>

            </tbody>
          </table>

</div>
</div>
  
    
{% endblock %}
