{% extends "tp-layout.html" %}

{% block pageTitle %}
Create a vacancy - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% if data.journey != "new" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create a vacancy</h1>
    <p class="govuk-body">Advertise an apprenticeship in England on <a href="https://www.gov.uk/apply-apprenticeship"
        class="govuk-link govuk-link--no-visited-state">Find an apprenticeship (opens in new tab)</a>. You can accept applications using Find an apprenticeship or add a link to your own application website.</p>
    


    <h2 class="govuk-heading-m">Before creating a vacancy</h2>
    <p class="govuk-body">Make sure you have</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#" class="govuk-link govuk-link--no-visited-state">reserved funding</a> if the employer you're working with does not pag the apprenticeship levy</li>
      <li>got details such as the apprenticeship's wage and working hours</li>
    </ul>


    {% set _forwardLink = "employers-select" %}

    {{ govukButton({
    text: "Create vacancy",
    href: _forwardLink,
    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
    isStartButton: true
    }) }}

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Creating vacancies on your own system using our APIs</h3>
    <p class="govuk-body">If you're working with a software developer, you can connect your system to Find an apprenticeship by <a href="#" class="govuk-link govuk-link--no-visited-state">using our APIs.</a></p>
  </div>
</div>

{% endblock %}