{% extends "gov-uk-signed-out.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}





{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Page not found</h1>
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body govuk-!-margin-bottom-6">If you pasted the web address, check you copied the entire address.
    </p>

    <p class="govuk-body">
      <a href="..//search-page-02.html" class="govuk-link govuk-link--no-visited-state">Start a new search for an apprenticeship</a>
    </p>

  </div>
</div>













{% endblock %}