{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="..//application-summary-training-courses.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Education history</span>
    <h1 class="govuk-heading-l">Do you want to delete this training course?</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title"> {{ data['course-name'] or 'E33 Building Safety' }}</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['year-achieved'] or '2018' }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-!-padding-bottom-5"></div>
    
    
    
    <form action="..//application-summary-training-courses" method="post" novalidate>
      <div class="govuk-button-group" href="..//application-summary-training-courses.html">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Yes, delete
        </button>
        <a class="govuk-link" href="..//application-summary-training-courses.html">Cancel – don't delete</a>
      </div>
    
    </form>




  </div>
</div>


{% endblock %}