{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage your emails
{% endblock %}


{% block main %}


{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div class="grid-row dashboard-header">
					<div class="column-two-thirds">
						<h1 class="govuk-heading-xl" style="margin-bottom: 0.25rem;">
							Manage your advert notifications
						</h1>
					</div>
				</div>
				<br><br>
				<p class="govuk-body" style="color: grey;">Choose when to get emails about your adverts</p>
				<br><br>

				<form method="post" action="#">

					<!-- SECTION 1 -->
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								<h2 class="govuk-fieldset__heading">
									When an advert is approved or rejected by DfE
								</h2>
							</legend>
							<p class="govuk-body" style="color: #757575;">
								DfE checks all adverts before they go live
							</p>
							<div class="govuk-radios" data-module="govuk-radios">
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="approved-none" name="notifications_advert_status" type="radio" value="none">
									<label class="govuk-label govuk-radios__label" for="approved-none">
										Do not get this email
									</label>
								</div>
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="approved-submitted"
										name="notifications_advert_status" type="radio" value="submitted">
									<label class="govuk-label govuk-radios__label" for="approved-submitted">
										Only get for vacancies I’ve submitted
									</label>
								</div>
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="approved-all"
										name="notifications_advert_status" type="radio" value="all">
									<label class="govuk-label govuk-radios__label" for="approved-all">
										Get for all vacancies in our team's account
									</label>
								</div>
							</div>
						</fieldset>
					</div>

					<br>

					<style>
						.govuk-radios__conditional {
							border-left: none !important;
							margin-left: 0;
							padding-left: 0;
						}

						.custom-inset {
							border-left: 5px solid #b1b4b6;
							margin-left: 15px;
							padding-left: 20px;
							padding-top: 15px;
							padding-bottom: 10px;
						}
					</style>

					<!-- SECTION 2 -->
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								<h2 class="govuk-fieldset__heading">
									When adverts receive new applications
								</h2>
							</legend>
							<div class="govuk-radios" data-module="govuk-radios">
								<!-- Option 1 -->
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="approved-none" name="notifications_advert_status" type="radio"
										value="none">
									<label class="govuk-label govuk-radios__label" for="approved-none">
										Do not get this email
									</label>
								</div>
							
								<!-- Option 2 -->
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="approved-submitted" name="notifications_advert_status" type="radio"
										value="submitted" data-aria-controls="conditional-frequency-submitted">
									<label class="govuk-label govuk-radios__label" for="approved-submitted">
										Only get for adverts I’ve submitted
									</label>
								</div>
								<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-frequency-submitted">
									<div class="govuk-inset-text">
										<fieldset class="govuk-fieldset">
											<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
												How often do you want to get emails about new applications?
											</legend>
											<div class="govuk-radios" data-module="govuk-radios">
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="freq-immediate-submitted" name="frequency" type="radio"
														value="immediate">
													<label class="govuk-label govuk-radios__label" for="freq-immediate-submitted">As soon as a new
														application is received</label>
												</div>
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="freq-daily-submitted" name="frequency" type="radio"
														value="daily">
													<label class="govuk-label govuk-radios__label" for="freq-daily-submitted">Once a day</label>
												</div>
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="freq-weekly-submitted" name="frequency" type="radio"
														value="weekly">
													<label class="govuk-label govuk-radios__label" for="freq-weekly-submitted">Once a week</label>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							
								<!-- Option 3 -->
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="approved-all" name="notifications_advert_status" type="radio" value="all"
										data-aria-controls="conditional-frequency-all">
									<label class="govuk-label govuk-radios__label" for="approved-all">
										Get for all adverts in our team's account
									</label>
								</div>
								<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-frequency-all">
									<div class="govuk-inset-text">
										<fieldset class="govuk-fieldset">
											<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
												How often do you want to get emails about new applications?
											</legend>
											<div class="govuk-radios" data-module="govuk-radios">
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="freq-immediate-all" name="frequency" type="radio"
														value="immediate">
													<label class="govuk-label govuk-radios__label" for="freq-immediate-all">As soon as a new
														application is received</label>
												</div>
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="freq-daily-all" name="frequency" type="radio"
														value="daily">
													<label class="govuk-label govuk-radios__label" for="freq-daily-all">Once a day</label>
												</div>
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="freq-weekly-all" name="frequency" type="radio"
														value="weekly">
													<label class="govuk-label govuk-radios__label" for="freq-weekly-all">Once a week</label>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
							  
							  
							  
							  

							
						</fieldset>
					</div>
					<br>
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								<h2 class="govuk-fieldset__heading">
									When your training provider needs you to review an advert or application
								</h2>
							</legend>
							<div class="govuk-radios" data-module="govuk-radios">
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="approved-none" name="notifications_advert_status" type="radio"
										value="none">
									<label class="govuk-label govuk-radios__label" for="approved-none">
										Do not get this email
									</label>
								</div>
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="approved-submitted" name="notifications_advert_status"
										type="radio" value="submitted">
									<label class="govuk-label govuk-radios__label" for="approved-submitted">
										Get this email
									</label>
								</div>
							</div>
					
					
						</fieldset>
					</div>
					<br>

					<!-- Submit -->
					<div class="govuk-button-group">
						<button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
							Save settings
						</button>
					</div>
				</form>
			</div>
		</div>
	</main>
</div>
	

{% endblock %}

{% endblock %}