{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage your emails
{% endblock %}


{% block main %}


{% block content %}



<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">


		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div class="grid-row dashboard-header">

					<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
						aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
						<div class="govuk-notification-banner__header">
							<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
								Success
							</h2>
						</div>
						<div class="govuk-notification-banner__content">
							<p class="govuk-notification-banner__heading">
								Advert notification settings saved.
							</p>
						</div>
					</div>

					<div class="column-two-thirds">
						<h1 class="govuk-heading-xl" style="margin-bottom: 0.25rem;">
							Manage your advert notifications
						</h1>
						<p class="govuk-body" style="color: #757575;">
							Choose when to get emails about your adverts</p>
					</div>
				</div>
				<br>
				<br>

				<form method="post">
		
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								<h2 class="govuk-fieldset__heading">
									When an advert is approved or rejected by DfE
								</h2>
							</legend>
							<p class="govuk-body" style="color: #757575;">
								DfE checks all adverts before they go live</p>
							<div class="govuk-radios" data-module="radios">
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="notifications-level-personal"
										name="notifications_level" type="radio" value="personal">
									<label class="govuk-label govuk-radios__label" for="notifications-level-personal">
										Only get for vacancies I’ve submitted
									</label>
								</div>
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="notifications-level-personal"
										name="notifications_level" type="radio" value="personal">
									<label class="govuk-label govuk-radios__label" for="notifications-level-personal">
										Get for all vacancies in our team's account
									</label>
								</div>
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="notifications-level-group" name="notifications_level"
										type="radio" value="group">
									<label class="govuk-label govuk-radios__label" for="notifications-level-group">
										Do not get this email
									</label>
								</div>
							</div>
						</fieldset>
					</div>
		
					<br>
		
					<style>
						/* Optional: hide default conditional left border */
						.govuk-radios__conditional {
							border-left: none !important;
							margin-left: 0;
							padding-left: 0;
						}
		
						/* Only apply inset styling to actual content block */
						.custom-inset {
							border-left: 5px solid #b1b4b6;
							margin-left: 15px;
							padding-left: 20px;
							padding-top: 15px;
							padding-bottom: 10px;
						}
					</style>
		
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								<h2 class="govuk-fieldset__heading">
									When there are new applications
								</h2>
							</legend>
		
							<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
		
								<!-- Radio 1 -->
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="notifications-new-apps-1"
										name="notifications_new_applications" type="radio" value="submitted"
										data-aria-controls="conditional-applications-extra-1">
									<label class="govuk-label govuk-radios__label" for="notifications-new-apps-1">
										Only get for vacancies I’ve submitted
									</label>
								</div>
		
								<!-- Radio 2 -->
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="notifications-new-apps-2"
										name="notifications_new_applications" type="radio" value="all"
										data-aria-controls="conditional-applications-extra-2">
									<label class="govuk-label govuk-radios__label" for="notifications-new-apps-2">
										Get for all vacancies in our team’s account
									</label>
								</div>
		
								<!-- Radio 3 -->
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="notifications-new-apps-3"
										name="notifications_new_applications" type="radio" value="none">
									<label class="govuk-label govuk-radios__label" for="notifications-new-apps-3">
										Do not get this email
									</label>
								</div>
		
								<!-- Conditional for radio 1 -->
								<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
									id="conditional-applications-extra-1">
									<div class="custom-inset">
										<fieldset class="govuk-fieldset">
											<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
												<h3 class="govuk-heading-s">How often do you want to receive emails about new
													applications?</h3>
											</legend>
											<div class="govuk-radios">
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="withdraw-yes-1"
														name="withdraw_notify" type="radio" value="yes">
													<label class="govuk-label govuk-radios__label" for="withdraw-yes-1">As soon
														as a new application is received</label>
												</div>
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="withdraw-yes-1"
														name="withdraw_notify" type="radio" value="yes">
													<label class="govuk-label govuk-radios__label" for="withdraw-yes-1">Once a
														day</label>
												</div>
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="withdraw-no-1" name="withdraw_notify"
														type="radio" value="no">
													<label class="govuk-label govuk-radios__label" for="withdraw-no-1">Once a
														week</label>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
		
								<!-- Conditional for radio 2 -->
								<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
									id="conditional-applications-extra-2">
									<div class="custom-inset">
										<fieldset class="govuk-fieldset">
											<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
												<h3 class="govuk-heading-s">How often do you want to receive emails about new
													applications?</h3>
											</legend>
											<div class="govuk-radios">
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="withdraw-yes-2"
														name="withdraw_notify" type="radio" value="yes">
													<label class="govuk-label govuk-radios__label" for="withdraw-yes-2">As soon
														as a new application is received</label>
												</div>
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="withdraw-yes-2"
														name="withdraw_notify" type="radio" value="yes">
													<label class="govuk-label govuk-radios__label" for="withdraw-yes-2">Once a
														day</label>
												</div>
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="withdraw-no-2" name="withdraw_notify"
														type="radio" value="no">
													<label class="govuk-label govuk-radios__label" for="withdraw-no-2">Once a
														week</label>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
		
							</div>
						</fieldset>
					</div>
		
					<br>
		
		
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
								<h2 class="govuk-fieldset__heading">
									When your training provider needs you to review an advert or application
								</h2>
							</legend>
							<div class="govuk-radios" data-module="radios">
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="notifications-level-personal"
										name="notifications_level" type="radio" value="personal">
									<label class="govuk-label govuk-radios__label" for="notifications-level-personal">
										Get this email
									</label>
								</div>
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="notifications-level-group" name="notifications_level"
										type="radio" value="group">
									<label class="govuk-label govuk-radios__label" for="notifications-level-group">
										Do not get this email
									</label>
								</div>
							</div>
						</fieldset>
					</div>
		
					<form method="post" action="manage-emails-saved">
		
						<div class="govuk-button-group">
							<button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
								Save settings
							</button>
					</form>
			</div>
			</div>




	</main>
</div>

{% endblock %}

{% endblock %}