{% extends "govuk-one-login-header--login.html" %}
{% set serviceName = "Find an apprenticeship" %}

{# Set where you want this to go to #}
{% set signInLink = "./govuk-one-login-flow-start-page/sign-in-or-create" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  </div>
</div>




{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">You can no longer apply for this apprenticeship</h1>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Business Administration Apprentice</h2>
    <p class="govuk-body govuk-!-margin-bottom-0">King recruitment LTD</p>
    <p class="govuk-body govuk-!-margin-bottom-6" style="color:#505a5f">
      Sheffield (S1 3FG)</p>
    <p class="govuk-body govuk-!-margin-bottom-6">This apprenticeship closed on 4 February 2024.</p>
    <p class="govuk-body">
      <a href="search-page-02.html" class="govuk-link govuk-link--no-visited-state">Find more apprenticeships</a>
    </p>

  </div>
</div>













{% endblock %}