{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-date-of-birth.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Personal information</span>
    <h1 class="govuk-heading-l">Personal information summary</h1>
    </p>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-name-input.html">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          5 January 1978
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-date-of-birth.html">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
    </dl>



    <form action="/form-handler" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Have you completed this section?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="have-you-completed-this-section"
                name="have-you-completed-this-section" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section">
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="have-you-completed-this-section-2"
                name="have-you-completed-this-section" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section-2">
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>



  </div>
</div>


{% endblock %}