{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-task-list-new-user.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Personal information</span>
    <h1 class="govuk-heading-l">What is your full name?</h1>
    </p>
    <div class="govuk-form-group">
      <input class="govuk-input govuk-!-width-two-thirds" id="name-input" name="name-input" type="name">
    </div>


    <form class="form" action="application-question-page-date-of-birth" method="post">
      <div class="govuk-button-group" href="application-question-page-date-of-birth.html">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>


  </div>
</div>

{% endblock %}