{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-main-strengths.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Application questions</span>
    <h1 class="govuk-heading-l">What would you like to learn during this apprenticeship?</h1>

    <div class="govuk-inset-text">
      <h3 class="govuk-body">You will be studying the Business administrator (level 3) qualification.</h3>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Skills you’ll learn
          </span>
        </summary>
        <div class="govuk-details__text">
          Skills from ifate.
        </div>
      </details>
    </div>

    <p class="govuk-body"><a href="vacancy-page-01.html" class="govuk-link" rel="noreferrer noopener"
        target="_blank">View the full
        vacancy (opens in new tab)</a> and check the <b>What you’ll do</b> section to learn what new skills you’ll be
      taught.</p>

    <div class="govuk-word-count" data-module="govuk-word-count" data-maxlength="500">
      <form class="form" action="application-summary-role-questions" method="post">
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="with-hint">
              Your answer
            </label>
          </h2>
          <textarea class="govuk-textarea govuk-js-word-count" id="like-to-learn" name="like-to-learn" rows="5"
            aria-describedby="with-hint-info with-hint-hint" value="{{ data['like-to-learn'] or '' }}"></textarea>
        </div>
        <div id="with-hint-info" class="govuk-hint govuk-word-count__message">
          <p class="govuk-hint govuk-!-margin-bottom-0">500 words remaining
          <p class="govuk-hint govuk-!-margin-bottom-0">You do not need to use the full word count</p>
        </div>

        <div class="govuk-!-padding-bottom-7"></div>




        <div class="govuk-button-group" href="application-summary-role-questions.html">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      </form>



    </div>
  </div>

  {% endblock %}