{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-task-list-new-user.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">About you</span>
    <h1 class="govuk-heading-l">What are your hobbies and interests?</h1>
    </p>

    <p class="govuk-body">Help an employer to understand more about you.</p>
    <p class="govuk-body">You could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>what you do outside of work or school</li>
      <li>things you care about and are interested in</li>
    </ul>
    <p class="govuk-body">You could also mention:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you take on responsibilities at clubs</li>
      <li>how your interests show a particular passion for a profession</li>
    </ul>

    <div class="govuk-word-count" data-module="govuk-word-count" data-maxlength="200">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="with-hint">
            Your answer
          </label>
        </h2>
        <textarea class="govuk-textarea govuk-js-word-count" id="with-hint" name="with-hint" rows="5"
          aria-describedby="with-hint-info with-hint-hint"></textarea>
      </div>
      <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
        <p class="govuk-hint govuk-!-margin-bottom-0">300 words remaining
        <p class="govuk-hint govuk-!-margin-bottom-0">You do not need to use the full word count</p>
      </div>
    </div>
    <div class="govuk-!-padding-bottom-7"></div>



    <form class="form" action="application-summary-hobbies-interest" method="post">
      <div class="govuk-button-group" href="application-summary-hobbies-interest.html">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>



  </div>
</div>

{% endblock %}