{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="sector-selection-page.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <div class="govuk-form-group">
      <form class="form" action="search-listing" method="post">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Question 2 of 2</span>
          <h1 class="govuk-heading-l govuk-!-margin-bottom-2">What is your location?</h1>
        </legend>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="location-hint">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="location" name="location" type="radio" value="postcode"
                  data-aria-controls="conditional-location">
                <label class="govuk-label govuk-radios__label" for="location">
                  Enter a city or postcode
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-location">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="location-by-postcode">
                    City or postcode
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="location-by-postcode"
                    name="location-by-postcode" type="postcode" spellcheck="false" autocomplete="postcode">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="sort">
                    Distance you can travel
                  </label>
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="published">2 miles</option>
                    <option value="published">5 miles</option>
                    <option value="updated" selected>10 miles</option>
                    <option value="views">15 miles</option>
                    <option value="comments">20 miles</option>
                    <option value="comments">30 miles</option>
                    <option value="comments">40 miles</option>
                  </select>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="location-2" name="location" type="radio" value="england"
                  data-aria-controls="conditional-location-2">
                <label class="govuk-label govuk-radios__label" for="location-2">
                  Search across all of England
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-!-padding-bottom-3"></div>



        <button class="govuk-button" data-module="govuk-button">Search apprenticeships</button>

      </form>

    </div>
  </div>

  {% endblock %}