{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="search-listing.html">Back</a>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-2" style="text-align: right;">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link " href="#">Save to favourites</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Print this job</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Report this vacancy</a>
      </li>
    </ul>
  </div>
</div>




{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- START intro -->
    <strong class="govuk-tag">New</strong>
    <div class="govuk-!-padding-bottom-3"></div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Business Administration Apprentice</h1>
    <p class="govuk-caption-xl" style="color:#0b0c0c">King Recruitment</p>
    <p class="govuk-caption-l" style="color:	#505a5f">Sheffield, S3 7GE</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-padding-bottom-3"></div>

    <!-- END intro -->
  </div>
  <div class="govuk-grid-column-one-third">
    <div
      style="background-color:#F3F2F1; padding-top: 30px; padding-right: 30px; padding-bottom: 20px; padding-left: 30px">
      <h2 class=" govuk-heading-m govuk-!-margin-bottom-3" id="your-employment">Apply now</h2>
      <p class="govuk-body">Closes in 30 days (Friday 4 August at 11:59pm)</p>
      <form class="form" action="application/application-task-list-new-user" method="post">
        <div class="govuk-button-group" href="application/application-task-list-new-user.html">
          <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
            Apply
          </button>
        </div>
      </form>

      <p class="govuk-body govuk-body govuk-!-font-size-14" style="color:#505a5f">Posted 1 July</p>

    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class=" govuk-heading-l govuk-!-margin-bottom-3">Summary</h2>
    <p class="govuk-body">As the business administration apprentice, you will be responsible for
      supporting the day-to-day running of our office.
      You will need to provide helpful and fast support to both staff and clients. You may also need to take on some
      receptionist duties including answering the phone.</p>
    <!-- END intro -->

    <!-- START table -->
    <table class="govuk-table">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working for</th>
          <td class="govuk-table__cell">King Recruitment
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training with</th>
          <td class="govuk-table__cell">Sheffield Professional College
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Annual wage</th>
          <td class="govuk-table__cell">£10,158.72 to £20,048.08<p
              class="govuk-body govuk-!-font-size-14 govuk-!-margin-0" govuk-!-font-size-14 govuk-!-margin-><a
                href="https://www.gov.uk/national-minimum-wage-rates"
                class="govuk-link govuk-link--no-visited-state">What you’ll get paid as an apprentice</a></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Hours</th>
          <td class="govuk-table__cell">37 hours a week</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Start date</th>
          <td class="govuk-table__cell">Monday 21 August
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Duration</th>
          <td class="govuk-table__cell">18 months (ends March 2024)</td>
        </tr>
      </tbody>
    </table>
    <!-- END table -->


    <p class="govuk-body govuk-!-font-size-16">An apprenticeship combines working with
      training.
      Learn
      more on the <a href="#" class="govuk-link">apprenticeship website</a>.</p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <!-- START work -->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3" id="your-employment">Your work</h2>
    <p class="govuk-body style=" style="color:	#505a5f">During an apprenticeship, you spend most of your time working
      at
      a company getting hands-on experience</p>
    <h3 class="govuk-heading-m">Who you’ll work for</h3>
    <p class="govuk-body">King Recruitment</p>
    <h3 class="govuk-heading-m">What you’ll do</h3>
    <p class="govuk-body">You’ll be at the heart of keeping our busy office running smoothly:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        Be part of King Recruitment’s commitment to being an inclusive, open and supportive workplace
      </li>
      <li>
        Keep our databases and customer relationship management software (CRM) accurate and up-to-date, following best
        GDPR
        practice
      </li>
      <li>
        Assist members of the team to create reports that track company performance
      </li>
      <li>
        Take minutes of company meetings and transcribe and circulate them accurately and quickly
      </li>
      <li>
        Talk with clients on the phone and help schedule appointments for them to meet our recruiters
      </li>
      <li>
        Printing, photocopying, scanning, typing up minutes, general office support work including some receptionist
        duties and
        handling post
      </li>
    </ul>

    <h3 class="govuk-heading-m">About this company</h3>
    <p class="govuk-body">King Recruitment is a leading recruitment company specialising in medical, science and
      manufacturing recruitment. Our
      mission is to find people jobs that help them meet and exceed their potential. We’ve helped over 1,000 people
      into
      work.
      We have a staff of 15 employees and our office is busy.</p>

    <p class="govuk-body"><a href="www.kingrecruitment.com"
        class="govuk-link govuk-link--no-visited-state">www.kingrecruitment.com</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END employment -->

    <!-- START training -->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3" id="your-employment">Your training</h2>
    <p class="govuk-body style=" style="color:	#505a5f">During an apprenticeship, you spend some of your time with a
      college or training provider learning the required knowledge for a profession</p>
    <h3 class="govuk-heading-m">Who you’ll train with</h3>
    <p class="govuk-body">Sheffield Professional College</p>

    <h3 class="govuk-heading-m">Qualification you’ll gain (apprenticeship standard)</h3>
    <p class="govuk-body govuk-!-margin-bottom-3">Business administrator</p>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Skills you’ll learn
        </span>
      </summary>
      <div class="govuk-details__text">
        Content needs to go here about skills taught in the apprenticeship standard
      </div>
    </details>

    <h3 class="govuk-heading-m">Apprenticeship level</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">Level 3 (equal to A-levels)</p>
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1" style="color:#505a5f">Most people will do this
      qualification level:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16" style="color:#505a5f">
      <li>after their GCSES or A-levels</li>
      <li>after completing a level 2 apprenticeship</li>
      <li>when switching into a new career</li>
    </ul>

    <h3 class="govuk-heading-m">About your training</h3>
    <p class="govuk-body">You will be taught the Business Administrator Apprenticeship Standard LEVEL 3.</p>
    <p class="govuk-body">Attendance: 1 day per month alternating between Microsoft teams and in-person at Sheffield
      Professional College, Jam
      Avenue Campus.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END training -->


    <!-- START working week -->
    <h2 class="govuk-heading-l" id="working-week-timetable">Working week timetable</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">How often</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Location</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> Working for King Recruitment</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Monday – Friday
            <p class="govuk-body">08:30 – 16:00</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">King Recruitment<p
              class="govuk-body govuk-!-margin-bottom-0">Holland Street
            <p class="govuk-body govuk-!-margin-bottom-0">Sheffield
            <p class="govuk-body govuk-!-margin-bottom-0">South Yorkshire</p>
            <p class="govuk-body govuk-!-margin-bottom-0">S3 7GE</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training with Sheffield Professional College</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">1 day per month<p class="govuk-body">(alternating
              between in-person and
              online)</p>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sheffield Professional College<p
              class="govuk-body govuk-!-margin-bottom-0">
              Jam Avenue
            <p class="govuk-body govuk-!-margin-bottom-0">Sheffield
            <p class="govuk-body govuk-!-margin-bottom-0">S2 2RL</p>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Check your commute</h3>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="event-name">
              From
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            Enter your location
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="subject">
            To
          </label>
          <div id="subject-hint" class="govuk-hint">
            Select location
          </div>
          <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
            <option value="choose" selected>Choose location</option>
            <option value="employer">Employer</option>
            <option value="provider">Training provider</option>
          </select>
        </div>
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="subject">
        Transport
      </label>
      <div id="subject-hint" class="govuk-hint">
        Select a transport method
      </div>
      <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
        <option value="choose" selected>Choose transport</option>
        <option value="driving">Driving</option>
        <option value="bustrain">Bus/train</option>
        <option value="walking">Walking</option>
        <option value="cycling">Cycling</option>
      </select>
    </div>

    <img src="/public/images/Map-sheff-college.png" width="630px">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-l" id="requirements">Requirements</h2>

    <h3 class="govuk-heading-m">GCSEs (Or equivalent)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>English (grade 4 or C) <b>Essential</b></li>
      <li>Maths (grade 4 or C) <b>Essential</b></li>
      <li>2 more subjects (grade 4 or C) <b>Essential</b></li>
    </ul>

    <h3 class="govuk-heading-m">Desired skills and qualities</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Communication skills </li>
      <li>IT skills </li>
      <li>Attention to detail </li>
      <li>Organisation skills </li>
      <li>Administrative skills </li>
      <li>Logical </li>
      <li>Team working </li>
      <li>Non judgemental </li>
      <li>Patience </li>
    </ul>

    <!-- START after -->
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3" id="your-employment">After this apprenticeship</h2>
    <h3 class="govuk-heading-m">Opportunities</h3>
    <p class="govuk-body">On successful completion, you might be able to continue working this role or continue
      learning and become a recruiter or
      work in our IT department.</p>
    <!-- END after -->

    <!-- START question -->

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Ask a question about this apprenticeship
      </caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Contact</th>
          <td class="govuk-table__cell">Malcolm<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0"
              style="color:#505a5f">
              Sheffield Professional College</p>
          </td>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Phone number</th>
          <td class="govuk-table__cell">0114 4960786</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Vacancy reference</th>
          <td class="govuk-table__cell">VAC84739RH32R</td>
        </tr>
      </tbody>
    </table>
    <!-- END question -->

    <!-- START apply -->
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break-non-visible">
    <div
      style="background-color:#F3F2F1; padding-top: 30px; padding-right: 30px; padding-bottom: 30px; padding-left: 30px">
      <h2 class=" govuk-heading-l govuk-!-margin-bottom-3" id="your-employment">Apply now</h2>
      <p class="govuk-body">Closes in 30 days (Friday 4 August at 11:59pm)</p>
      <form class="form" action="sapplication/application-task-list-new-user" method="post">
        <div class="govuk-button-group" href="application/application-task-list-new-user.html">
          <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
            Apply
          </button>
        </div>
      </form>

      <p class="govuk-body govuk-body govuk-!-font-size-14" style="color:#505a5f">Posted 1 July</p>
      <!-- END apply -->

    </div>



  </div>
</div>










{% endblock %}