{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="search-page.html">Back</a>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper" id="main-content">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">66 apprenticeships found</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="das-show-hide" data-module="das-show-hide">
        <div class="das-filter das-!-show--from-tablet" id="fat-filter" tabindex="0">
          <div class="das-filter__header">
            <h2 class="das-filter__heading">Filter</h2>
          </div>
          <div class="das-filter__body das-!-show--from-tablet" id="fat-filter-options">
            <form method="GET" action="/courses">

              <button type="submit" class="govuk-button" id="filters-submit">Apply filters</button>
              <div class="govuk-form-group">
                <label for="Keyword" class="govuk-fieldset__legend govuk-fieldset__legend--m">What
                  <p class="govuk-hint">Enter job company, skills</p>
                </label>
                <input name="keyword" type="search" title="Search" class="govuk-input" id="Keyword" value="">
              </div>
              <div class="govuk-form-group">
                <label for="Keyword" class="govuk-fieldset__legend govuk-fieldset__legend--m">Where
                  <p class="govuk-hint">Enter job company, skills</p>
                </label>
                <input name="keyword" type="search" title="Search" class="govuk-input" id="Keyword" value="">
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Qualification level
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="level-2" name="levels" type="checkbox" value="2" />
                      <label class="govuk-label govuk-checkboxes__label" for="level-2">
                        Level 2 - GCSE
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="level-3" name="levels" type="checkbox" value="3" />
                      <label class="govuk-label govuk-checkboxes__label" for="level-3">
                        Level 3 - A level
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="level-4" name="levels" type="checkbox" value="4" />
                      <label class="govuk-label govuk-checkboxes__label" for="level-4">
                        Level 4 - higher national certificate (HNC)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="level-5" name="levels" type="checkbox" value="5" />
                      <label class="govuk-label govuk-checkboxes__label" for="level-5">
                        Level 5 - higher national diploma (HND)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="level-6" name="levels" type="checkbox" value="6" />
                      <label class="govuk-label govuk-checkboxes__label" for="level-6">
                        Level 6 - degree
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="level-7" name="levels" type="checkbox" value="7" />
                      <label class="govuk-label govuk-checkboxes__label" for="level-7">
                        Level 7 - master&#x2019;s degree
                      </label>
                    </div>
                  </div>
                </fieldset>
                <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3"><a
                    class="govuk-link govuk-link--no-visited-state"
                    href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"
                    target="_blank" rel="external">What qualification levels mean (opens in new tab or window)</a></p>
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Sector
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-2868f657-3279-452a-9196-24f7294bd950"
                        name="sectors" type="checkbox" value="Agriculture, environmental and animal care">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-2868f657-3279-452a-9196-24f7294bd950">
                        Agriculture, environmental and animal care
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-7e11990f-1967-4fdc-9f56-b49893d73645"
                        name="sectors" type="checkbox" value="Business and administration">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-7e11990f-1967-4fdc-9f56-b49893d73645">
                        Business and administration
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-67f93420-76b7-4e76-b3c0-f006c302e6b7"
                        name="sectors" type="checkbox" value="Care services">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-67f93420-76b7-4e76-b3c0-f006c302e6b7">
                        Care services
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-29bfe27e-95d8-4e5c-9be2-b538bb38a452"
                        name="sectors" type="checkbox" value="Catering and hospitality">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-29bfe27e-95d8-4e5c-9be2-b538bb38a452">
                        Catering and hospitality
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-13e44e4e-1b5b-4e4d-b804-a832483d2a76"
                        name="sectors" type="checkbox" value="Construction and the built environment">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-13e44e4e-1b5b-4e4d-b804-a832483d2a76">
                        Construction and the built environment
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-821e4541-3dfd-470e-8435-cb9701704a48"
                        name="sectors" type="checkbox" value="Creative and design">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-821e4541-3dfd-470e-8435-cb9701704a48">
                        Creative and design
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-94d46af2-9298-4f8d-a127-ea04ac019cee"
                        name="sectors" type="checkbox" value="Digital">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-94d46af2-9298-4f8d-a127-ea04ac019cee">
                        Digital
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-13afbfa6-592f-4841-96b2-4d1c8ee5363b"
                        name="sectors" type="checkbox" value="Education and early years">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-13afbfa6-592f-4841-96b2-4d1c8ee5363b">
                        Education and early years
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-407af951-9317-446a-bf7d-0da752c7a092"
                        name="sectors" type="checkbox" value="Engineering and manufacturing">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-407af951-9317-446a-bf7d-0da752c7a092">
                        Engineering and manufacturing
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-cb50c085-d71b-47e2-b624-b034a6148201"
                        name="sectors" type="checkbox" value="Hair and beauty">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-cb50c085-d71b-47e2-b624-b034a6148201">
                        Hair and beauty
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-02b509c1-319f-4825-8526-3dbd8760baf9"
                        name="sectors" type="checkbox" value="Health and science">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-02b509c1-319f-4825-8526-3dbd8760baf9">
                        Health and science
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-ca87e41b-6ab9-4291-bb5f-c084a029d010"
                        name="sectors" type="checkbox" value="Legal, finance and accounting">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-ca87e41b-6ab9-4291-bb5f-c084a029d010">
                        Legal, finance and accounting
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-ff16a7b9-8c77-4786-8a2b-c5ee5f562743"
                        name="sectors" type="checkbox" value="Protective services">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-ff16a7b9-8c77-4786-8a2b-c5ee5f562743">
                        Protective services
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-29ddf300-5a11-403a-8920-c53284571eb5"
                        name="sectors" type="checkbox" value="Sales, marketing and procurement">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-29ddf300-5a11-403a-8920-c53284571eb5">
                        Sales, marketing and procurement
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="route-8576ae03-4f55-441f-adeb-ec3bcf81d265"
                        name="sectors" type="checkbox" value="Transport and logistics">
                      <label class="govuk-label govuk-checkboxes__label"
                        for="route-8576ae03-4f55-441f-adeb-ec3bcf81d265">
                        Transport and logistics
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <button type="submit" class="govuk-button" id="filters-submit-second">Apply filters</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="recent">Most recent</option>
          <option value="distance" selected>Distance</option>
          <option value="closing">Closing soon</option>
          <option value="salary-decending">Salary high to low</option>
          <option value="salary-accending">Salary low to high</option>
        </select>
      </div>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">
      <div class="das-search-results">
        <ol class="das-search-results__list">
          <h2 class="govuk-heading-m das-search-results__heading">
            <a class="das-search-results__link" id="standard-274" href="/courses/274">
              Business Administration Apprentice</a>
            <p class="govuk-body govuk-!-margin-bottom-0">Aspect 3 Apartments LTD</p>
            <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
              Sheffield, S3 7GE</p>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3 ">
            <h2 class="govuk-heading-m das-search-results__heading">
              <a class="das-search-results__link" id="standard-272" href="/courses/272">
                Academic professional <span class="das-no-wrap">(level 7)</span>
              </a>
            </h2>
            <p class="govuk-body das-search-results__body">Working within the higher education (HE) sector delivering
              higher education teaching</p>
            <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
              <dt class="das-definition-list__title">Apprenticeship category</dt>
              <dd class="das-definition-list__definition">Education and early years</dd>
            </dl>
            </li>
            <li class="das-search-results__list-item">
              <h2 class="govuk-heading-m das-search-results__heading">
                <a class="das-search-results__link" id="standard-176" href="/courses/176">
                  Accident repair technician <span class="das-no-wrap">(level 3)</span>
                </a>
              </h2>
              <p class="govuk-body das-search-results__body">Mending damaged vehicles using a range of metalworking and
                finishing techniques.</p>
              <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                <dt class="das-definition-list__title">Apprenticeship category</dt>
                <dd class="das-definition-list__definition">Engineering and manufacturing</dd>
              </dl>
            </li>
            <li class="das-search-results__list-item">
              <h2 class="govuk-heading-m das-search-results__heading">
                <a class="das-search-results__link" id="standard-204" href="/courses/204">
                  Accountancy or taxation professional <span class="das-no-wrap">(level 7)</span>
                </a>
              </h2>
              <p class="govuk-body das-search-results__body">Providing financial information and advice to different
                organisations.</p>
              <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                <dt class="das-definition-list__title">Apprenticeship category</dt>
                <dd class="das-definition-list__definition">Legal, finance and accounting</dd>
              </dl>
            </li>
            <li class="das-search-results__list-item">
              <h2 class="govuk-heading-m das-search-results__heading">
                <a class="das-search-results__link" id="standard-698" href="/courses/698">
                  Accounting finance manager <span class="das-no-wrap">(level 6)</span>
                </a>
              </h2>
              <p class="govuk-body das-search-results__body">Manage and implement accounting, finance systems and
                processes.</p>
              <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                <dt class="das-definition-list__title">Apprenticeship category</dt>
                <dd class="das-definition-list__definition">Legal, finance and accounting</dd>
              </dl>
            </li>
            <li class="das-search-results__list-item">
              <h2 class="govuk-heading-m das-search-results__heading">
                <a class="das-search-results__link" id="standard-488" href="/courses/488">
                  Accounts or finance assistant <span class="das-no-wrap">(level 2)</span>
                </a>
              </h2>
              <p class="govuk-body das-search-results__body">Maintaining an efficient and accurate finance function
                within
                a business.</p>
              <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                <dt class="das-definition-list__title">Apprenticeship category</dt>
                <dd class="das-definition-list__definition">Legal, finance and accounting</dd>
              </dl>
            </li>
            <li class="das-search-results__list-item">
              <h2 class="govuk-heading-m das-search-results__heading">
                <a class="das-search-results__link" id="standard-463" href="/courses/463">
                  Acoustics technician <span class="das-no-wrap">(level 4)</span>
                </a>
              </h2>
              <p class="govuk-body das-search-results__body">Understanding the science of sound and vibration
                propagation
                and applying this to work areas relevant to their employer&#x2019;s working practices.</p>
              <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                <dt class="das-definition-list__title">Apprenticeship category</dt>
                <dd class="das-definition-list__definition">Construction and the built environment</dd>
              </dl>
            </li>
            <li class="das-search-results__list-item">
              <h2 class="govuk-heading-m das-search-results__heading">
                <a class="das-search-results__link" id="standard-17" href="/courses/17">
                  Actuarial technician <span class="das-no-wrap">(level 4)</span>
                </a>
              </h2>
              <p class="govuk-body das-search-results__body">Supporting senior colleagues to help manage risks for
                clients. This will be through the use of actuarial techniques and building mathematical models</p>
              <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                <dt class="das-definition-list__title">Apprenticeship category</dt>
                <dd class="das-definition-list__definition">Legal, finance and accounting</dd>
              </dl>
            </li>
            <li class="das-search-results__list-item">
              <h2 class="govuk-heading-m das-search-results__heading">
                <a class="das-search-results__link" id="standard-255" href="/courses/255">
                  Actuary <span class="das-no-wrap">(level 7)</span>
                </a>
              </h2>
              <p class="govuk-body das-search-results__body">Analysing data to predict the likelihood and potential
                financial risk of future events.</p>
              <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                <dt class="das-definition-list__title">Apprenticeship category</dt>
                <dd class="das-definition-list__definition">Legal, finance and accounting</dd>
              </dl>
            </li>
            <li class="das-search-results__list-item">
              <h2 class="govuk-heading-m das-search-results__heading">
                <a class="das-search-results__link" id="standard-119" href="/courses/119">
                  Adult care worker <span class="das-no-wrap">(level 2)</span>
                </a>
              </h2>
              <p class="govuk-body das-search-results__body">Enable young people to develop and working with young
                people
                to
                facilitate personal, social and educational development.</p>
              <dl class="das-definition-list das-definition-list--meta das-search-results__meta">
                <dt class="das-definition-list__title">Apprenticeship category</dt>
                <dd class="das-definition-list__definition">Care services</dd>
              </dl>
            </li>
        </ol>
      </div>
    </div>
  </div>
</main>

</div>

{% endblock %}