{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="start-page.html">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Find an apprenticeship
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-9">There are currently <b>10,408</b> vacancies on Find an apprenticeship.
</p>

<!-- START search -->
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="one-half">
      What
    </label>
  </h1>
  <div id="event-name-hint" class="govuk-hint">
    Job, career or company
  </div>
  <input class="govuk-input govuk-!-width-one-half" id="one-quarter" name="one-half" type="text">
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="one-half">
      Where
    </label>
  </h1>
  <div id="event-name-hint" class="govuk-hint">
    Enter a city, location or postcode <a href="/" class="govuk-link govuk-link--no-visited-state">use current
      location</a>
  </div>
  <input class="govuk-input govuk-!-width-one-half" id="one-quarter" name="one-half" type="text">
</div>
<!-- END search -->

<!-- START checkbox -->

<form method="post" action="search-listing.html">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Or browse by sector
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Select all sectors you are interested in
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-1" name="agriculture" type="checkbox"
                value="agriculture">
              <label class="govuk-label govuk-checkboxes__label" for="sector-1">
                Agriculture, environmental and animal care
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-2" name="buisness" type="checkbox" value="business">
              <label class="govuk-label govuk-checkboxes__label" for="sector-2">
                Business and administration
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-3" name="care" type="checkbox" value="care">
              <label class="govuk-label govuk-checkboxes__label" for="sector-3">
                Care services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-4" name="catering" type="checkbox" value="catering">
              <label class="govuk-label govuk-checkboxes__label" for="sector-4">
                Catering and hospitality
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-5" name="construction" type="checkbox"
                value="construction">
              <label class="govuk-label govuk-checkboxes__label" for="sector-5">
                Construction and the built environment
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-6" name="creative" type="checkbox" value="creative">
              <label class="govuk-label govuk-checkboxes__label" for="sector-6">
                Creative and design
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-7" name="digital" type="checkbox" value="digital">
              <label class="govuk-label govuk-checkboxes__label" for="sector-7">
                Digital
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-8" name="education" type="checkbox" value="education">
              <label class="govuk-label govuk-checkboxes__label" for="sector-8">
                Education and childcare
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-9" name="engineering" type="checkbox"
                value="engineering">
              <label class="govuk-label govuk-checkboxes__label" for="sector-9">
                Engineering and manufacturing
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-10" name="hair" type="checkbox" value="hair">
              <label class="govuk-label govuk-checkboxes__label" for="sector-10">
                Hair and beauty
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-11" name="health" type="checkbox" value="health">
              <label class="govuk-label govuk-checkboxes__label" for="sector-11">
                Health and science
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-12" name="legal" type="checkbox" value="legal">
              <label class="govuk-label govuk-checkboxes__label" for="sector-12">
                Legal, finance and accounting
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-13" name="protective" type="checkbox"
                value="protective">
              <label class="govuk-label govuk-checkboxes__label" for="sector-13">
                Protective services
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-14" name="sales" type="checkbox" value="sales">
              <label class="govuk-label govuk-checkboxes__label" for="sector-14">
                Sales, marketing and procurements
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sector-15" name="transport" type="checkbox" value="transport">
              <label class="govuk-label govuk-checkboxes__label" for="sector-15">
                Transport and logistics
              </label>
            </div>
          </div>
      </div>
    </div>
    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Search
  </button>
</form>

</div>
</div>

<!-- END checkbox -->





{% endblock %}