{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="search-listing.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <strong class="govuk-tag">New</strong>
    <div class="govuk-!-padding-bottom-3"></div>
    <h1 class="govuk-heading-xl">Business Administration Apprentice</h1>
    <p class="govuk-caption-xl" style="color:#0b0c0c">South Yorkshire Fire & Rescue</p>
    <p class="govuk-caption-l" style="color:	#505a5f">Sheffield, South Yorkshire</p>
    <div class="govuk-!-padding-bottom-3"></div>

    <p class="govuk-body govuk-!-margin-top-">To provide efficient and effective administrative support to the South
      Yorkshire Fire & Rescue
      Service (SYFR) Learning &
      Development Team while undertaking learning and development towards successful completion of the business
      administrator
      level 3 apprentice standard.</p>


    <!-- START table -->
    <table class="govuk-table">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working for</th>
          <td class="govuk-table__cell">South Yorkshire Fire & Rescue<p
              class="govuk-body govuk-!-font-size-14 govuk-!-margin-0" style="color:#505a5f">
              Your employer</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training with</th>
          <td class="govuk-table__cell">Sheffield College<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0"
              style="color:#505a5f">
              Your training provider</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Qualification you’ll gain</th>
          <td class="govuk-table__cell">Business administrator (Level 3)<p
              class="govuk-body govuk-!-font-size-14 govuk-!-margin-0" style="color:#505a5f">
              Your apprenticeship standard</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Annual wage</th>
          <td class="govuk-table__cell">£10,158.72 to £20,048.08</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Hours</th>
          <td class="govuk-table__cell">37 hours a week</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Duration</th>
          <td class="govuk-table__cell">18 months (ends November 2024)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Possible start date</th>
          <td class="govuk-table__cell">10 July 2023</td>
        </tr>
      </tbody>
    </table>
    <!-- END table -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How an apprenticeship works
        </span>
      </summary>
      <div class="govuk-details__text">
        Content needs to go here about how an apprenticeship works
      </div>
    </details>
    <div class="govuk-!-padding-bottom-3"></div>


    <!-- START button -->
    <form class="form" action="/url/of/next/page" method="post">
      <button class="govuk-button govuk-!-margin-bottom-5" data-module="govuk-button">Apply now</button>
    </form>
    <!-- END button -->

    <p class="govuk-body govuk-!-margin-bottom-1">Closes in <b>14 days</b> (Monday 26 June)</p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">Posted 3 days ago (9 June 2023)</p>


    <!-- START contents -->
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Contents</h2>
    <ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
      <li><a class="govuk-link" href="#requirements">Requirements</a></li>
      <li><a class="govuk-link" href="#working-week-timetable">Working week timetable</a></li>
      <li><a class="govuk-link" href="#your-employment">Your employment</a></li>
      <li><a class="govuk-link" href="#your-training">Your training</a></li>
      <li><a class="govuk-link" href="#ask-a-question-about-this-apprenticeship">Ask a question about this
          apprenticeship</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END contents -->

    <!-- START requirements -->
    <h2 class="govuk-heading-l" id="requirements">Requirements</h2>

    <h3 class="govuk-heading-m">GCSEs (Or equivalent)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>English (grade 4 or C) <b>Essential</b></li>
      <li>Maths (grade 4 or C) <b>Essential</b></li>
      <li>2 more subjects (grade 4 or C) <b>Essential</b></li>
    </ul>

    <h3 class="govuk-heading-m">Desired skills and qualities</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Communication skills </li>
      <li>IT skills </li>
      <li>Attention to detail </li>
      <li>Organisation skills </li>
      <li>Administrative skills </li>
      <li>Logical </li>
      <li>Team working </li>
      <li>Non judgemental </li>
      <li>Patience </li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <!-- END requirements -->

    <!-- START working week -->
    <h2 class="govuk-heading-l" id="working-week-timetable">Working week timetable</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">How often</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Location</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working for
            South Yorkshire Fire & Rescue</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Monday – Thursday 08:30 – 16:30, Friday 08:30 – 16:00
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">South Yorkshire Fire & Rescue,
            Eyre Street, Sheffield, South Yorkshire, S1 3FG</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training with
            Sheffield College</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">1 day per month (alternating between in-person and
            online)</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sheffield College, City Campus, Sheffield, S2 2RL
          </td>
        </tr>
      </tbody>
    </table>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <!-- END working week -->

    <!-- START employment -->
    <h2 class="govuk-heading-l" id="your-employment">Your employment</h2>
    <h3 class="govuk-heading-m">Who you’ll work for</h3>
    <p class="govuk-body">South Yorkshire Fire & Rescue</p>
    <h3 class="govuk-heading-m">What you’ll do</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        Provide administrative support, including the operation of all office and administrative systems in accordance
        with
        SYFR’s procedures, such as processing incoming/outgoing post and answering telephone calls
      </li>
      <li>
        Carry out filing, photocopying, scanning, faxing, binding, collation of learner programmes and materials and all
        other
        basic administration duties to support the work of the Learning and Development Team
      </li>
      <li>
        Accurately input and retrieve information on relevant systems and databases and to assist with the production of
        reports/procedures and statistical analysis returns relating to learner development and achievement
      </li>
      <li>
        Organise and minute meetings (as required) in the appropriate set format and with a high attention to detail and
        accuracy
      </li>
      <li>
        Support the administration of the accredited qualifications and examinations centres including involvement in
        exam
        invigilation and qualification delivery
      </li>
      <li>
        Support programme evaluation tasks, including the collation and management of customer surveys and feedback
      </li>
      <li>
        Maintain accurate and up to date database records on all systems relevant to the work of the team
      </li>
      <li>
        Provide administrative support to the Learning & Development Team and support and cover for other administration
        staff
        as required
      </li>
      <li>
        Comply at all times with the SYFR Employee Code of Conduct and the Core Code of Ethics for Fire and Rescue
        Services in
        addition to adopting a conscientious approach to timekeeping and attendance
      </li>
      <li>
        Practice and promote SYFR’s Equality, Diversity & Inclusion and Health & Safety Policies and to conduct oneself
        in a
        professional manner that is consistent with SYFR’s core behaviours and values at all times
      </li>
    </ul>

    <h3 class="govuk-heading-m">About South Yorkshire Fire & Rescue</h3>
    <p class="govuk-body">South Yorkshire Fire & Rescue is the statutory Fire and Rescue Service for the area of South
      Yorkshire. We serve a
      population of approximately 1.29 million people. Our mission is to keep the people of South Yorkshire safe. This
      includes our deployment of hundreds of firefighters, covering 22 fire stations, using dozens of specialist
      vehicles
      supported by dedicated support staff employees and resources.</p>

    <p class="govuk-body"><a href="https://www.syfire.gov.uk/"
        class="govuk-link govuk-link--no-visited-state">www.syfire.gov.uk</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END employment -->

    <!-- START training -->
    <h2 class="govuk-heading-l" id="your-training">Your training</h2>
    <h3 class="govuk-heading-m">Who you’ll train with</h3>
    <p class="govuk-body">Sheffield College</p>
    <h3 class="govuk-heading-m">What you’ll learn</h3>
    <p class="govuk-body">L3 Business Administrator apprenticeship standard:</p>
    <p class="govuk-body">Attendance: 1 day per month alternate college attendance/google classroom, City Campus,
      Sheffield, S2 2RL.</p>
    <p class="govuk-body govuk-!-margin-bottom-1">Assessment method:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Knowledge Test</li>
      <li>Portfolio based interview</li>
      <li>Project/Improvement Presentation</li>
    </ul>
    <h3 class="govuk-heading-m">Apprenticeship standard you’ll achieve</h3>

    <p class="govuk-body govuk-!-margin-bottom-0">Business administrator (Level 3)</p>
    <p class="govuk-body govuk-!-font-size-14" style="color:#505a5f">
      Level 3 is equivalent to A-levels</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Skills taught in this apprenticeship standard
        </span>
      </summary>
      <div class="govuk-details__text">
        Content needs to go here about skills taught in the apprenticeship standard
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END training -->

    <!-- START questions -->
    <h2 class="govuk-heading-l" id="ask-a-question-about-this-apprenticeship">Ask a question about this apprenticeship
    </h2>

    <table class="govuk-table">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Contact</th>
          <td class="govuk-table__cell">Malcolm<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0"
              style="color:#505a5f">
              Sheffield College</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Phone number</th>
          <td class="govuk-table__cell">0114 4960786</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Vacancy reference</th>
          <td class="govuk-table__cell">VAC84739RH32R</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>



{% endblock %}