{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="search-listing.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <strong class="govuk-tag">New</strong>
    <div class="govuk-!-padding-bottom-3"></div>
    <h1 class="govuk-heading-xl">Business Administration Apprentice</h1>
    <p class="govuk-caption-xl" style="color:#0b0c0c">King Recruitment</p>
    <p class="govuk-caption-l" style="color:	#505a5f">Sheffield, South Yorkshire</p>
    <div class="govuk-!-padding-bottom-3"></div>

    <p class="govuk-body govuk-!-margin-top-">As the business administration apprentice, you will be responsible for
      supporting the day-to-day running of our office.
      You will need to provide helpful and fast support to both staff and clients. You may also need to take on some
      receptionist duties including answering the phone.</p>


    <!-- START table -->
    <table class="govuk-table">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working for</th>
          <td class="govuk-table__cell">King Recruitment<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0"
              style="color:#505a5f">
              Your employer</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training with</th>
          <td class="govuk-table__cell">Sheffield Professional College<p
              class="govuk-body govuk-!-font-size-14 govuk-!-margin-0" style="color:#505a5f">
              Your training provider</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Qualification you’ll gain</th>
          <td class="govuk-table__cell">Business administrator (Level 3)<p
              class="govuk-body govuk-!-font-size-14 govuk-!-margin-0" style="color:#505a5f">
              Your apprenticeship standard</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Annual wage</th>
          <td class="govuk-table__cell">£10,158.72 to £20,048.08</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Hours</th>
          <td class="govuk-table__cell">37 hours a week</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Duration</th>
          <td class="govuk-table__cell">18 months (ends November 2024)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Possible start date</th>
          <td class="govuk-table__cell">10 July 2023</td>
        </tr>
      </tbody>
    </table>
    <!-- END table -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How an apprenticeship works
        </span>
      </summary>
      <div class="govuk-details__text">
        Content needs to go here about how an apprenticeship works
      </div>
    </details>
    <div class="govuk-!-padding-bottom-3"></div>


    <!-- START button -->
    <form class="form" action="/url/of/next/page" method="post">
      <button class="govuk-button govuk-!-margin-bottom-5" data-module="govuk-button">Apply now</button>
    </form>
    <!-- END button -->

    <p class="govuk-body govuk-!-margin-bottom-1">Closes in <b>14 days</b> (Monday 26 June)</p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">Posted 3 days ago (9 June 2023)</p>


    <!-- START contents -->
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Contents</h2>
    <ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
      <li><a class="govuk-link" href="#requirements">Requirements</a></li>
      <li><a class="govuk-link" href="#working-week-timetable">Working week timetable</a></li>
      <li><a class="govuk-link" href="#your-employment">Your employment</a></li>
      <li><a class="govuk-link" href="#your-training">Your training</a></li>
      <li><a class="govuk-link" href="#ask-a-question-about-this-apprenticeship">Ask a question about this
          apprenticeship</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END contents -->

    <!-- START requirements -->
    <h2 class="govuk-heading-l" id="requirements">Requirements</h2>

    <h3 class="govuk-heading-m">GCSEs (Or equivalent)</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>English (grade 4 or C) <b>Essential</b></li>
      <li>Maths (grade 4 or C) <b>Essential</b></li>
      <li>2 more subjects (grade 4 or C) <b>Essential</b></li>
    </ul>

    <h3 class="govuk-heading-m">Desired skills and qualities</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Communication skills </li>
      <li>IT skills </li>
      <li>Attention to detail </li>
      <li>Organisation skills </li>
      <li>Administrative skills </li>
      <li>Logical </li>
      <li>Team working </li>
      <li>Non judgemental </li>
      <li>Patience </li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <!-- END requirements -->

    <!-- START working week -->
    <h2 class="govuk-heading-l" id="working-week-timetable">Working week timetable</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">How often</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Location</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working for
            South Yorkshire Fire & Rescue</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Monday – Thursday 08:30 – 16:30, Friday 08:30 – 16:00
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">King Recruitment, Lookout Street, Sheffield, South
            Yorkshire, S1 3FG</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training with
            Sheffield College</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">1 day per month (alternating between in-person and
            online)</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sheffield Professional College, Jam Avenue,
            Sheffield, S2 2RL
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Check your commute</h3>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="event-name">
          From
        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint">
        Enter your location
      </div>
      <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="subject">
        To
      </label>
      <div id="subject-hint" class="govuk-hint">
        Select location
      </div>
      <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
        <option value="choose" selected>Choose location</option>
        <option value="employer">Employer</option>
        <option value="provider">Training provider</option>
      </select>
    </div>
  </div>
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="subject">
    Transport
  </label>
  <div id="subject-hint" class="govuk-hint">
    Select a transport method
  </div>
  <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
    <option value="choose" selected>Choose transport</option>
    <option value="driving">Driving</option>
    <option value="bustrain">Bus/train</option>
    <option value="walking">Walking</option>
    <option value="cycling">Cycling</option>
  </select>
</div>

<img src="/public/images/Map route 1.png" width="630px">




<!-- END working week -->

<!-- START employment -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-l" id="your-employment">Your employment</h2>
    <h3 class="govuk-heading-m">Who you’ll work for</h3>
    <p class="govuk-body">King Recruitment</p>
    <h3 class="govuk-heading-m">What you’ll do</h3>
    <p class="govuk-body">You’ll be at the heart of keeping our busy office running smoothly:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        Be part of King Recruitment’s commitment to being an inclusive, open and supportive workplace
      </li>
      <li>
        Keep our databases and customer relationship management software (CRM) accurate and up-to-date, following best
        GDPR
        practice
      </li>
      <li>
        Assist members of the team to create reports that track company performance
      </li>
      <li>
        Take minutes of company meetings and transcribe and circulate them accurately and quickly
      </li>
      <li>
        Talk with clients on the phone and help schedule appointments for them to meet our recruiters
      </li>
      <li>
        Printing, photocopying, scanning, typing up minutes, general office support work including some receptionist
        duties and
        handling post
      </li>
    </ul>

    <h3 class="govuk-heading-m">About this company</h3>
    <p class="govuk-body">King Recruitment is a leading recruitment company specialising in medical, science and
      manufacturing recruitment. Our
      mission is to find people jobs that help them meet and exceed their potential. We’ve helped over 1,000 people into
      work.
      We have a staff of 15 employees and our office is busy.</p>

    <p class="govuk-body"><a href="www.kingrecruitment.com"
        class="govuk-link govuk-link--no-visited-state">www.kingrecruitment.com</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END employment -->

    <!-- START training -->
    <h2 class="govuk-heading-l" id="your-training">Your training</h2>
    <h3 class="govuk-heading-m">Who you’ll train with</h3>
    <p class="govuk-body">Sheffield Professional College</p>
    <h3 class="govuk-heading-m">What you’ll learn</h3>
    <p class="govuk-body">You will be taught the Business Administrator Apprenticeship Standard LEVEL 3.</p>
    <p class="govuk-body">Attendance: 1 day per month alternating between Microsoft teams and in-person at Sheffield
      Professional College, Jam
      Avenue Campus.</p>
    <p class="govuk-body govuk-!-margin-bottom-1">You’ll be assessed with:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Knowledge Test</li>
      <li>Portfolio based interview</li>
      <li>Interview at the end of your course</li>
    </ul>
    <h3 class="govuk-heading-m">Apprenticeship standard you’ll achieve</h3>

    <p class="govuk-body govuk-!-margin-bottom-0">Business administrator (Level 3)</p>
    <p class="govuk-body govuk-!-font-size-14" style="color:#505a5f">
      Level 3 is equivalent to A-levels</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Skills taught in this apprenticeship standard
        </span>
      </summary>
      <div class="govuk-details__text">
        Content needs to go here about skills taught in the apprenticeship standard
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END training -->

    <!-- START questions -->
    <h2 class="govuk-heading-l" id="ask-a-question-about-this-apprenticeship">Ask a question about this apprenticeship
    </h2>

    <table class="govuk-table">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Contact</th>
          <td class="govuk-table__cell">Malcolm<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0"
              style="color:#505a5f">
              Sheffield Professional College</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Phone number</th>
          <td class="govuk-table__cell">0114 4960786</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Vacancy reference</th>
          <td class="govuk-table__cell">VAC84739RH32R</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>



{% endblock %}