{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block content %}
{{super()}}

<div class="govuk-width-container style">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Apply for</span>
        <h1 class="govuk-heading-l">Business Administration Apprentice</h1>
        </p>
      </div>
    </div>
  </main>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">My profile</h2>
    <p class="govuk-body">Use your profile to apply for apprenticeships as part of your application. These details will
      be saved for future
      applications.</p>

    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Application incomplete</h3>
      <p class="govuk-body">You have completed 0 of 5 sections.</p>
    </div>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Personal details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="personal-information-status">
                Personal information
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
              started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="contact-information-status">
                Contact information
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
              started</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Education History
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="company-information-status">
                Company information
              </a>
            </span>
            <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="contact-details-status">
                Your contact details
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In
              progress</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="list-convictions-status">
                List convictions
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
              started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Provide financial evidence
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start
              yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Give medical information
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start
              yet</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Work history
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Submit and pay
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start
              yet</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> About you
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Submit and pay
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start
              yet</strong>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}