{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Your applications</h1>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="./started.html" href="#1">Started</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="./submitted.html">Submitted</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="./successful.html">Successful</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page">Unsuccessful</a>
            </li>
          </ul>

        </nav>

        <h2 class="govuk-heading-m">Unsuccessful</h2>
        <p class="govuk-body">
          If an application you make is unsuccessful, you’ll get feedback here to help you improve your future
          applications. 
        </p>


      </div>
    </div>
  </main>
</div>

{% endblock %}