{% extends "gov-uk-signed-out.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="..//apply/create-an-account-start.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Transfer your data to the new Find an apprenticeship</h1>
        <p class="govuk-body">If you had an account before May 2024, we can transfer your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            personal details</li>
          <li>
            applications you’re working on</li>
          <li>
            past applications you’ve made</li>
          <li>
            saved vacancies</li>
        </ul>

        <p class="govuk-body">You’ll need to sign with your old account details for us to transfer your data.</p>
        <p class="govuk-body">We’ll transfer your data to your GOV.UK One Login.</p>
        <div class="govuk-!-padding-bottom-3"></div>

        <form class="form" action="account-notifications" method="post">
          <div class="govuk-button-group" href="account-notifications.html">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>
        </form>

      </div>
    </div>
  </main>
</div>



{% endblock %}