{% extends "gov-uk-one-search.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="search-listing-signed-in-filtered.html">Back</a>
  </div>
</div>




{% endblock %}


{% block content %}

<strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-4">
  Foundation
</strong>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Building apprenticeship 2025 Cycle</h1>
    <p class="govuk-caption-l" style="color:#0b0c0c">Premium Housebuilders</p>
    <p class="govuk-caption-l govuk-!-margin-bottom-5" style="color:	#505a5f">Knowle (BS23 2LB)</p>
    <p class="govuk-body govuk-!-margin-bottom-1">Closes on 31 May 2025</p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
      Posted on 1 May 2025</p>


    <!-- Add the link with the heart icon -->

    <head>
      <title>Link with Heart Icon</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="vacancy-page-saved-vacancy.html" class="heart-link govuk-!-padding-right-5">
        <i class="far fa-heart" style="color:		#1d70b8"></i> Save
      </a>

    </body>
    <!-- End the link with the heart icon -->

    <!-- Add the link with the print icon -->

    <head>
      <title>Print Icon with Link</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="#" class="print-link">
        <i class="fas fa-print" style="color:		#1d70b8"></i> Print
      </a>

    </body>
    <!-- End the link with the print icon -->

    <div class="govuk-!-padding-bottom-3"></div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>



<!-- START contents -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third content-list__sticky">
    <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation">
      <h2 class="gem-c-contents-list__title">
        Contents
      </h2>
      <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 1" data-track-label="#summary"
            data-track-options='{"dimension29":"Summary"}' href="#summary">Summary</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 2" data-track-label="#your-work"
            data-track-options='{"dimension29":"Your work"}' href="#your-work">Work</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 5" data-track-label="#your-training"
            data-track-options='{"dimension29":"Your training"}' href="#your-training">Training</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 3" data-track-label="#requirements"
            data-track-options='{"dimension29":"Requirements"}' href="#requirements">Requirements</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 4" data-track-label="#about-this-company"
            data-track-options='{"dimension29":"About this company"}' href="#about-this-company">About this company</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 6" data-track-label="#after-this-apprenticeship"
            data-track-options='{"dimension29":"After this apprenticeships"}' href="#after-this-apprenticeship">After
            this apprenticeship</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 7" data-track-label="#ask-a-question"
            data-track-options='{"dimension29":"Ask a question about this apprenticeship"}' href="#ask-a-question">Ask a
            question</a>

        </li>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 8" data-track-label="#apply-now"
            data-track-options='{"dimension29":"Apply now"}' href="#apply-now">Apply now</a>

        </li>
      </ol>
    </nav>
  </div>
  <!-- END contents -->

  

  <!--  intro -->
  <div class="govuk-grid-column-two-thirds">

    <h2 class=" govuk-heading-m govuk-!-margin-bottom-3" id="summary">Summary</h2>

    <div class="govuk-inset-text" style="border-left: 10px solid #F9DCE8; background-color: white; color: black;">
      <strong>As you're between 22 and 24,</strong> you can start this foundation apprenticeship if you: <br><br>
      <ul class="govuk-list govuk-list--bullet">
        <li>have an EHC plan</li>
        <li>are in care or have been in care</li>
        <li>are in prison or have been in prison</li>
      </ul>
      <p>YFoundation apprenticeships are introductory courses that help young people get started in an industry. You do not need
      to have any specific qualifications or experience to apply.</p>
      <p><a href="#" class="govuk-link">About foundation apprenticeships (opens in new tab)</a></p>
    </div>
    

    <p class="govuk-body">Take your first step into the exciting construction industry with Premium Housebuilders, the UK’s pioneering
    new-property developers with leading accreditation. Voted a Top 50 Place to Work in 2024.</p>
    <!-- END intro -->

    <!-- START table -->
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Wage
        </dt>
       
      <dd class="govuk-summary-list__value">
        <p class="govuk-body govuk-!-font-size-20" style="margin: 0 0 2px 0;">
          £12,342 to 15,687 a year
        </p>
  
        <p class="govuk-body govuk-!-font-size-14" style="margin: 0;">
          <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link" rel="noreferrer noopener"
            target="_blank">
            Minimum wage rates (opens in new tab)
          </a>
        </p>
      </dd>



      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Training course
        </dt>
        <dd class="govuk-summary-list__value">
          Construction foundation apprenticeship (level 2)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours
        </dt>

        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-font-size-20" style="margin: 0 0 2px 0;">
            9AM to 3PM Monday to Thursday
          </p>
          <p class="govuk-body govuk-!-font-size-14" style="margin: 0; color: #505a5f;">
            29 hours a week
          </p>
        </dd>
        
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Possible start date
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">14 June 2025</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Length
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">1 year</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Positions available
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">1</p>
        </dd>
      </div>
    </dl>
    <!-- END table -->


    <!-- START work -->
    <div class="govuk-!-padding-bottom-3"></div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="your-work">Work</h2>
    <p class="govuk-body" style="color:	#505a5f">Most of your apprenticeship is spent working. You’ll learn on the job
      by getting hands-on experience.</p>
    <h3 class="govuk-heading-s">What you’ll do at work</h3>
    <p class="govuk-body">We have an an exciting opportunity for a motivated and enthusiastic individual to join our team as a building
    apprentice.</p>
    <p class="govuk-body">You’ll be based at our new development in Knowle, near Bristol. Here, we’re building a new community of family homes,
    including affordable housing that’ll serve the local community.</p>
    <p class="govuk-body">You’ll learn:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        how to assist with site setup and maintain a site safety culture
      </li>
      <li>
        basic groundwork and foundation techniques
      </li>
      <li>
      how to support bricklayers and other trades with material handling and preparation
      </li>
      <li>
      and observe carpentry and joinery tasks and develop understanding
      </li>
      <li>
        general site maintenance and tidiness.
      </li>
    </ul>
    <p class="govuk-body">We’ll teach you about different stages of the build process, from initial construction to final handover.</p>


    <h3 class="govuk-heading-s">Where you’ll work</h3>
    <p class="govuk-body govuk-!-margin-bottom-0">1 Goosebury Road</p>
    <p class="govuk-body govuk-!-margin-bottom-0">Knowle</p>
    <p class="govuk-body govuk-!-margin-bottom-3">BS23 25B</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Check your travel to work
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Check your travel to work</h3>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="event-name">
              Enter your postcode
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            For example SW1A 2AA <a href="#" class="govuk-link"> use current location</a>
          </div>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="subject">
            Select a way of travelling
          </label>
          <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
            <option value="choose" selected>Select a method</option>
            <option value="public-transport">Public transport</option>
            <option value="car">Car</option>
            <option value="cycling">Cycling</option>
            <option value="walking">Walking</option>
          </select>
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Show route
        </button>
        <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 3 miles </p>
        <p class="govuk-body"><b>Duration</b> 15 minuets </p>
      </div>
    </details>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END work -->


    <!-- START training -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="your-training">Training</h2>
    <p class="govuk-body style=" style="color:	#505a5f">Apprenticeships include time away from working for specialist
      training. You’ll study to gain professional knowledge and
      skills.</p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">College or training organisation</h3>
    <p class="govuk-body govuk-!-margin-bottom-5">Construction for Tomorrow</p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Course</h3>
    <p class="govuk-body govuk-!-margin-bottom-1" style="color:#0b0c0c">Construction foundation apprenticeship (level 2)</p>
    <details class="govuk-details govuk-!-margin-bottom-5" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Course contents
        </span>
      </summary>
    <div class="govuk-details__text">
      <li>Apply and integrate appropriate mathematical and technical knowledge in the completion of built environment site
        and/or
        office processes to contribute to the coordination of construction projects.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Comply with health and safety regulations and procedures. Identify and document risks and hazards. Apply statutory
        and
        company environmental and safe working practices. Produce construction project risk assessment and method
        statements.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Communicate verbally to internal and external stakeholders using a range of techniques in line with company
        policies.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Interpret and abstract contract documentation to develop site solutions.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Apply digital construction processes to produce resource lists from tender and contract documentation.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>The use of project tendering, measurement and costing systems to assist with the planning of schedules of work and
        to
        provide early warning of problems for all contract phases on site.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Plan, carry out and manage own work in line with management requirements, assessing tasks, scheduling work,
        achieving
        deadlines, reviewing performance and keeping records of work undertaken.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Apply sustainable principles and low carbon processes in order to implement site environmental solutions..</li>
    </div>
    </details>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Training plan</h3>
    <p class="govuk-body govuk-!-margin-bottom-5">One day a week at college, located near the build site.
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END training -->

    <!-- START requirements -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="requirements">Requirements</h2>
<p class="govuk-body style=" style="color:	#505a5f">You do not need any specific qualifications to apply for a foundation apprenticeship.</p>



    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END requirements -->

    <!-- START about this company -->

    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="about-this-company">About this company</h2>
    <p class="govuk-body">PHC (Premium Housebuilders Company) is a division of RHUK, one of the UK’s most-trusted construction agencies. We work
    to create a sustainable, attainable vision of living for everyone.</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Company benefits</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Cycle to work scheme</li>
      <li>Electric Car salary sacrifice scheme</li>
      <li>Clear routes of progression</li>
    </ul>
      

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END about this company -->


    <!-- START after this apprenticeship -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="after-this-apprenticeship">After this apprenticeship</h2>
    <p class="govuk-body">This year marks the 10th anniversary of our ‘Brick by Brick’ apprenticeship scheme. Previous apprentices have taken jobs
    within our business, including more specialised construction roles, or pivoting to office-based roles in our HQ such as
    QS or HR.</p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END after this apprenticeship -->

    <!-- START contact -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="ask-a-question">Ask a question
    </h2>

    <p class="govuk-body">The contact for this apprenticeship is:</p>
    <p class="govuk-body govuk-!-margin-bottom-0"> Pieter Hannes</p>
    <p class="govuk-body govuk-!-margin-bottom-0"> PHC (Premium Housebuilding Company) </p>
    <p class="govuk-body govuk-!-margin-bottom-0">01234 56678</p>
    <p class="govuk-body">p.hannes@phc-sw.premiumhousebuilding.co.uk</p>
    <p class="govuk-body">This reference code for this apprenticeship is VAC10000067393.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END contact -->

    <!-- START apply -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="apply-now">Apply now</h2>

    <div class="govuk-inset-text" style="border-left: 10px solid #F9DCE8; background-color: white; color: black;">
      As you're between 22 and 24, you can start this foundation apprenticeship if you: <br><br>
      <ul class="govuk-list govuk-list--bullet">
        <li>have an EHC plan</li>
        <li>are in care or have been in care</li>
        <li>are in prison or have been in prison</li>
      </ul>
    </div>

    <p class="govuk-body">Closes on 31 May 2025.</p>
    <form class="form" action="./apply/application-task-list-new-user" method="post">
      <div class="govuk-button-group govuk-!-margin-top-5" href="./apply/application-task-list-new-user.html">
        <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
          Apply for this apprenticeship
        </button>
      </div>
    </form>

    <!-- END apply -->

  </div>













  {% endblock %}