{% set version = 'v29' %}


<h2 class="govuk-heading-l">
  <span class="govuk-tag">LATEST version</span><br>
  FAA Design 14 (V29)
  <span class="govuk-caption-l">
    28 October 2024 &ndash; 28 November 2024
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
    summaryText: "Sprint design work",
    html: "<table class='govuk-table'>
      <thead class='govuk-table__head'>
        <tr class='govuk-table__row'>
          <th scope='col' class='govuk-table__header'>What we've done</th>
          <th scope='col' class='govuk-table__header'>Why we're doing it</th>
        </tr>
      </thead>
      <tbody class='govuk-table__body'>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>Redesigning the apprentice journey on Find an apprenticeship</td>
          <td class='govuk-table__cell'>Find an apprenticeship upgrade</td>
        </tr>

      </tbody>
    </table>"
    }) }}




    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design tickets (in Trello)</h4>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a href="https://trello.com/c/elcTGU4Q/219-219-update-edit-live-vacancy-journey-employer-prover-traineeships" class="govuk-link govuk-link--no-visited-state">Edit live vacancy</a></li>   -->
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design artefacts</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li><a
          href="https://lucid.app/lucidspark/75df8cd3-1247-466f-b7c6-7980cf119bf5/edit?viewport_loc=-451923%2C-406751%2C41806%2C21450%2C0_0&invitationId=inv_295930d0-a2eb-4b25-a72a-e25f0aea5c39#"
          class="govuk-link govuk-link--no-visited-state">Lucid board</a></li>
    </ul>

    <!-- ////APPRENTICE//// -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Apprentice</h4>
    <div class="govuk-button-group">
      <a href="/{{version}}/faa/start-page" class="govuk-button" style="background: #1d70b8"
        data-module="govuk-button">View journey</a>
    </div>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What we've done
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>Page</th>
              <th scope='col' class='govuk-table__header'>What we've done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/search-listing-signed-in-what-only">Search listing (Nationwide and Multi locations
                  work)</a></td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Added recruiting nationally vacancy card
                </li>
                <li>Added multiple locations vacancy card
                </li>
                <li>Added hide companies recruitng nationally check box to the filter
                </li>
                <li>Added another apply filters button in the filter
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/vacancy-page-signed-in-nationwide">Nationwide vacancy page</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Added where you will work section
                </li>
                <li>Removed map
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/vacancy-page-closed-nationwide">Nationwide vacancy page (Closed)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/vacancy-page-aof">Multiple locations vacancy page</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Added where you will work section
                </li>
                <li>Added more than one location to the page
                </li>
                <li>Moved the map out onto the vacancy page not hidden in an accordian
                </li>
                <li>Check your travel to work time includes the ability to select the location you want to commute to
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/vacancy-page-closed-multi-locations">Multiple locations vacancy page (Closed)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/saved-vacancies/saved">Saved vacancies</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Added a vacancy card with multiple locations and nationwide
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/applications/withdraw-application-closed">Withdrawing a multiple locations vacancy
                  (closed)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/applications/withdraw-application-open-multi-locations">Withdrawing a multiple
                  locations vacancy
                  (open)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/setting/delete-your-account-and-withdraw-applications">Withdrawing a multiple
                  locations vacancy and nationwide vacancy
                  (deleting account)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/applications/started">Your applications portal
                  (started)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Added a vacancy card with multiple locations and nationwide
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/applications/submitted">Your applications portal
                  (submitted)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Added a vacancy card with multiple locations and nationwide
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/applications/successful">Your applications portal
                  (successful)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Added a vacancy card with multiple locations and nationwide
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/faa/applications/unsuccessful-02">Your applications portal
                  (unsuccessful)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Added a vacancy card with multiple locations and nationwide
                </li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <!-- ////EMPLOYER//// -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Employer</h4>
    <div class="govuk-button-group">
      <a href="/{{version}}/employer/login" class="govuk-button" style="background: #6F72AF"
        data-module="govuk-button">View journey</a>
    </div>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What we've done
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>Page</th>
              <th scope='col' class='govuk-table__header'>What we've done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/employer/create/task-list">Create an advert (Task list)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Updated content "address" to "locations"
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/employer/create/task-list">Create an advert (Task list)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Updated content "address" to "locations"
                </li>
              </td>
            </tr>
        </table>
      </div>
    </details>




    <!-- //// PROVIDER//// -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Provider</h4>

    <div class="govuk-button-group">
      <a href="/{{version}}/provider/login" class="govuk-button" style="background:#F47737"
        data-module="govuk-button">View journey</a>
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What we've done
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>Page</th>
              <th scope='col' class='govuk-table__header'>What we've done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v29/provider/create/task-list">Create an advert (Task list)</a>
              </td>
              <td class='govuk-table__cell'>
                Multiple locations and nationwide vacancies (Phase 1)
                <li>Updated content "address" to "locations"
                </li>
              </td>
            </tr>
        </table>
      </div>
    </details>


    <!-- ////TRAINEESHIP -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Traineeship</h4>

    <div class="govuk-button-group">
      <a href="/{{version}}/provider/login" class="govuk-button" style="background: #417F82"
        data-module="govuk-button">View journey</a>
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What we've done
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>Page</th>
              <th scope='col' class='govuk-table__header'>What we've done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>No updates</a></td>
              <td class='govuk-table__cell'>
        </table>
      </div>
    </details>




  </div>
</div>