{% extends "gov-uk-one-settings.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="account-details.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Change your email address</h1>

    <p class="govuk-body">We use the email address from your GOV.UK One Login.</p>
    <p class="govuk-body">Change the email you use to sign in on GOV.UK One Login to use a different address.</p>
    <p class="govuk-body">
      <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Change your sign in details in your GOV.UK One Login (opens in new tab)</a>
    </p>

  </div>
</div>


{% endblock %}