{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-postcode.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Create an account</span>
    <h1 class="govuk-heading-l">No addresses found for {{ data['postcode-input'] or 'SW1A 2AA' }}</h1>
    <p class="govuk-body">We didn’t find any addresses for this postcode. Check the postcode is correct or enter your
      address manually.</p>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Postcode</h2>
    <p class="govuk-body govuk-!-font-weight-bold"> {{ data['postcode-input'] or 'SW1A 2AA' }}
      <a class="govuk-body" href="#" class="govuk-link" rel="noreferrer noopener" target="_blank"> Change</a>
    </p>
    <div class="govuk-!-padding-bottom-2"></div>

      <a class="govuk-link" href="application-question-page-enter-postcode-manually.html">Enter address manually</a>



  </div>
</div>

{% endblock %}