{% extends "ma-layout.html" %}

{% block pageTitle %}
Manage team members
{% endblock %}

{% block beforeContent %}
{{super()}}

<a href="1-your-team" class="govuk-back-link">Back to your team</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Chris Lightfoot</h1>

<p class="govuk-body-l">
  Choose what you allow this team member to do.
</p>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
          Manage adverts and view account information
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint" checked="selected">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          Manage apprentices, adverts and view account information
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          Manage apprentices, adverts and account – includes signing the employer agreement, adding PAYE schemes and managing team member access 
        </label>
      </div>
    </div>
  </fieldset>
</div>

<a href="#" class="govuk-button" data-module="govuk-button">Update</a>

</div>
</div>
  
    
{% endblock %}
