{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-qualification-type.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Education history</span>
    <h1 class="govuk-heading-l">Add a National Vocational Qualification (NVQ)</h1>

    <form class="form" action="application-summary-qualifications" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="nvq-subject">
            Subject
          </label>
        </h1>
        <input class="govuk-input" id="nvq-subject" name="nvq-subject" type="subject"
          value="{{ data['nvq-subject'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>


      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="nvq-level">
            NVQ level
          </label>
        </h1>
        <select class="govuk-select" id="sort" name="sort">
          <option value="pass" selected>Entry level</option>
          <option value="merit">Level 1</option>
          <option value="distinction">Level 2</option>
          <option value="distinction">Level 3</option>
          <option value="distinction">Level 4</option>
          <option value="distinction">Level 5</option>
        </select>
      </div>
      <div class="govuk-!-padding-bottom-3"></div>



      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="year-acheived">
            Year achieved
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          If you are still studying, enter the year you’ll finish
        </div>
        <input class="govuk-input govuk-input--width-4" id="qualifications-nvq-year-achieved"
          name="qualifications-nvq-year-achieved" type="year" aria-describedby="event-name-hint"
          value="{{ data['qualifications-nvq-year-achieved'] or '' }}">
      </div>


      <div class="govuk-button-group" href="application-summary-qualifications.html">
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </div>


    </form>
  </div>
</div>

{% endblock %}