{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-qualification-type.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Education history</span>
    <h1 class="govuk-heading-l">Add other qualifications</h1>

    <form class="form" action="application-summary-qualifications" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="other-qualification-name">
            Name of qualification
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          For example, International Baccalaureate
        </div>
        <input class="govuk-input" id="other-qualification-name" name="other-qualification-name" type="name"
          value="{{ data['other-qualification-name'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="other-qualification-subject">
            Subject of qualification (optional)
          </label>
        </h1>
        <input class="govuk-input" id="other-qualification-subject" name="other-qualification-subject" type="subject"
          value="{{ data['other-qualification-subject'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="other-qualification-institution">
            School, college or institution
          </label>
        </h1>
        <input class="govuk-input" id="other-qualification-institution" name="other-qualification-institution"
          type="institution" value="{{ data['other-qualification-institution'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="other-qualification-grade">
            Grade (optional)
          </label>
        </h1>
        <input class="govuk-input govuk-!-width-one-third" id="other-qualification-grade" name="other-qualification-grade" type="grade"
          value="{{ data['other-qualification-grade'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>


      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="year-acheived">
            Year achieved
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          If you are still studying, enter the year you’ll finish
        </div>
        <input class="govuk-input govuk-input--width-4" id="qualifications-other-qualification-year-achieved"
          name="qualifications-other-qualification-year-achieved" type="year" aria-describedby="event-name-hint"
          value="{{ data['qualifications-apprenticeship-other-qualification-achieved'] or '' }}">
      </div>


      <div class="govuk-button-group" href="application-summary-qualifications.html">
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </div>


    </form>
  </div>
</div>

{% endblock %}