{% extends "gov-uk-one-settings.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Settings</h1>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="./account-details.html">Account details</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page">Notifications and search alerts</a>
            </li>

          </ul>

        </nav>

        <h2 class="govuk-heading-m">Notifications</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notification preferences
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-font-weight-bold">Your application gets a response</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Text</li>
                <li>Email</li>
              </ul>
              <p class="govuk-body govuk-!-font-weight-bold">An vacancy is about to close</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Email</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="application-question-page-name-input.html">
                Change<span class="govuk-visually-hidden"> first name</span>
              </a>
            </dd>
          </div>
        </dl>
        <div class="govuk-!-padding-bottom-7"></div>

        <h2 class="govuk-heading-m">Search alerts</h2>
        <p class="govuk-body">Receive an alert the moment apprenticeships meeting your search criteria.
        </p>
        <div class="govuk-!-padding-bottom-3"></div>
        
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Business admin, Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Business admin
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 20 miles</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Disability confident
                </dt>
                <dd class="govuk-summary-list__value">
                  Show disability confident employers
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-!-padding-bottom-3"></div>
        <form action="./delete-application-success-banner" method="post" novalidate>
          <div class="govuk-button-group" href="./delete-application-success-banner.html">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Back to search
            </button>
          </div>
        </form>



      </div>
    </div>
  </main>
</div>

{% endblock %}