{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="..//application-question-page-qualification-type.html">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="..//application-summary-qualifications" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Education history</span>
      <h1 class="govuk-heading-l">Add GCSEs</h1>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="school-name">
            Name of school or college
          </label>
        </h1>
        <input class="govuk-input" id="school-name" name="school-name" type="school"
          value="{{ data['school-name'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>
    </div>
  </div>




  <div data-module="moj-add-another">
    <h2 class="govuk-heading-m moj-add-another__heading" tabindex="-1">Subjects</h2>
    <div class="govuk-hint govuk-!-margin-bottom-6">
      If you’re still studying a subject, use the predicted grade your teacher expects you to get
    </div>
    <fieldset class="govuk-fieldset moj-add-another__item">
      <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m govuk-visually-hidden">
        Subject
      </legend>
      <div class="govuk-grid-row app-grid-row--flex">
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="subject[0][name]">
            Subject name
          </label>
          <input class="govuk-input" id="subject[0][name]" name="subject[0][name]" type="text"
            data-name="subject[%index%][name]" data-id="subject[%index%][name]">
        </div>
        <div class="govuk-grid-column-one-quarter">
          <label class="govuk-label" for="subject[0][grade]">
            Grade
          </label>
          <input class="govuk-input" id="subject[0][grade]" name="subject[0][grade]" type="text"
            data-name="subject[%index%][grade]" data-id="subject[%index%][grade]">
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="subject[0][predicted]" name="subject[0][predicted]"
                type="checkbox" value="yes" data-name="subject[%index%][predicted]"
                data-id="subject[%index%][predicted]">
              <label class="govuk-label govuk-checkboxes__label" for="subject[0][predicted]">
                Predicted grade
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="moj-button-action">
      <button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-top-6"
        data-module="govuk-button">
        Add another subject
      </button>
    </div>
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="year-acheived">
            Year achieved
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          If you are still studying, enter the year you’ll finish
        </div>
        <input class="govuk-input govuk-input--width-4" id="qualifications-year-achieved"
          name="qualifications-year-achieved" type="year" aria-describedby="event-name-hint"
          value="{{ data['qualifications-year-achieved'] or '' }}">
      </div>
      <div class="govuk-button-group" href="..//application-summary-qualifications.html">
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </div>

    </div>
  </div>
</form>

{% endblock %}