{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="..//application-question-page-qualification-type.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Education history</span>
    <h1 class="govuk-heading-l">Add a T level</h1>

    <form class="form" action="..//application-summary-qualifications" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="t-level-subject">
            Subject
          </label>
        </h1>
        <input class="govuk-input" id="t-level-subject" name="t-level-subject" type="subject"
          value="{{ data['t-level-subject'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="t-level-location">
            College
          </label>
        </h1>
        <input class="govuk-input" id="t-level-location" name="t-level-location" type="location"
          value="{{ data['t-level-location'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="t-level-grade">
            Grade (Optional)
          </label>
        </h1>
        <select class="govuk-select" id="sort" name="sort">
          <option value="pass" selected>Pass</option>
          <option value="merit">Merit</option>
          <option value="distinction">Distinction</option>
          <option value="distinction*">Distinction*</option>
        </select>
      </div>
      <div class="govuk-!-padding-bottom-3"></div>



      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="year-acheived">
            Year achieved
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          If you are still studying, enter the year you’ll finish
        </div>
        <input class="govuk-input govuk-input--width-4" id="qualifications-hnc-year-achieved"
          name="qualifications-hnc-year-achieved" type="year" aria-describedby="event-name-hint"
          value="{{ data['qualifications-hnc-year-achieved'] or '' }}">
      </div>


      <div class="govuk-button-group" href="..//application-summary-qualifications.html">
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </div>


    </form>
  </div>
</div>

{% endblock %}