{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="vacancy-page-02">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Apply for</span>
    <h1 class="govuk-heading-l">Business Administration Apprentice</h1>
    </p>
  </div>
</div>
<div class="govuk-!-padding-bottom-3"></div>
<div class="govuk-grid-column-two-thirds"
  style="background-color:#F3F2F1; padding-top: 30px; padding-right: 30px; padding-bottom: 30px; padding-left: 30px">

  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Business Administration Apprentice</h3>
  <p class="govuk-body govuk-!-margin-bottom-0">King recruitment LTD</p>
  <p class="govuk-body govuk-!-margin-bottom-3" style="color:#505a5f">
    Sheffield, S1 3FG</p>
  <a class="govuk-link" href="vacancy-page-01.html">View full vacancy</a>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-padding-bottom-8"></div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">My profile</h2>
    <p class="govuk-body">Use your profile to apply for apprenticeships as part of your application. These details
      will
      be saved for future
      applications.</p>

    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Application incomplete</h3>
      <p class="govuk-body">You have completed 0 of 6 sections.</p>
    </div>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Personal details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-name-input.html" aria-describedby="personal-information-status">
                Personal information
              </a>
            </span>

            {% if data['have-you-completed-personal-information'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['have-you-completed-personal-information'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}



          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-postcode.html" aria-describedby="contact-information-status">
                Contact information
              </a>
            </span>

            {% if data['completed-contact-info'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-contact-info'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}

          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Education History
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-qualification.html" aria-describedby="qualifications-status">
                Qualifications
              </a>
            </span>

            {% if data['completed-qualification-section'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-qualification-section'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-training-courses.html" aria-describedby="training-courses-status">
                Training courses
              </a>
            </span>

            {% if data['completed-training-courses-section'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-training-courses-section'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}

          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Work history
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-jobs-and-work-experience.html"
                aria-describedby="job-work-experience-status">
                Jobs and work experience
              </a>
            </span>

            {% if data['completed-jobs-work-experience'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-jobs-work-experience'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}

          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> About you
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-add-skills.html" aria-describedby="skills-status">
                Skills
              </a>
            </span>

            {% if data['completed-skills-section'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-skills-section'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}


          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-hobbies-interests.html" aria-describedby="hobbies-interests-status">
                Hobbies and interests
              </a>
            </span>

            {% if data['completed-add-hobbies'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-add-hobbies'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}

          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> Interview support
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-interview-adjustments.html"
                aria-describedby="interview-adjustments-status">
                Interview adjustments
              </a>
            </span>

            {% if data['completed-interview-adjustments-section'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-interview-adjustments-section'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}

          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section govuk-!-margin-bottom-1">
          <span class="app-task-list__section-number">6. </span> Application questions
        </h2>
        <p class="govuk-body style govuk-!-static-padding-left-6" style="color:	#505a5f">Tailor your answers to
          match
          the role.</p>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-main-strengths.html" aria-describedby="job-role-status">
                Job role questions
              </a>
            </span>


            {% if data['completed-role-questions'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-role-questions'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}


          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="application-question-page-employer-question-one.html"
                aria-describedby="additional-questions-status">
                Additional questions
              </a>
            </span>

            {% if data['completed-employer-questions'] == "yes" %}
            <strong class="govuk-tag app-task-list__tag">Completed</strong>

            {% elseif data['completed-employer-questions'] == "no" %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>

            {% endif %}

          </li>
        </ul>
      </li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Preview your profile</h2>
    <p class="govuk-body">Review your profile before submitting.</p>

    </p> <a class="govuk-link govuk-!-margin-right-2" href="/">Preview your profile</a>
    <a class="govuk-link" href="/">Remove your profile</a></p>
    <div class="govuk-!-padding-bottom-7"></div>


    <form class="form" action="search-listing" method="post">
      <div class="govuk-button-group" href="/">
        <button class="govuk-button" data-module="govuk-button">
          Submit
        </button>
        <a class="govuk-link" href="/">Save and finish later</a>
      </div>
    </form>


  </div>
</div>

{% endblock %}