{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-add-jobs-work-experience.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Work history</span>
    <h1 class="govuk-heading-l">Add jobs and work experience</h1>
    </p>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['role-name'] or 'Customer service assistant' }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Delete<span class="govuk-visually-hidden"> jobs and work experience</span>
            </a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link"
              href="application-question-page-add-jobs-work-experience">
              Change<span class="govuk-visually-hidden"> jobs and work experience</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of employer
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['employer-name'] or 'Betty’s Corner Shop' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What you did
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['what-you-did-in-the-role'] or 'The role involved stacking selfs, assisting customers with
              inquiries about products, scanning and updating the prices on products, liaising with senior members of
              staff, keeping the shop cleaning and organised.' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['work-start-date-month'] or '03' }} {{ data['work-start-date-year'] or '2019' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is this your current role?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        </dl>
      </div>
    </div>



    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another job or work experience
    </button>
    <div class="govuk-!-padding-bottom-5"></div>



    <form action="application-task-list-new-user" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Have you completed this section?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="have-you-completed-this-section"
                name="completed-jobs-work-experience" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section">
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="have-you-completed-this-section-2"
                name="completed-jobs-work-experience" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section-2">
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>



  </div>
</div>


{% endblock %}