{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-jobs-and-work-experience.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Work history</span>
    <h1 class="govuk-heading-l">Add job or work experience</h1>
    <form class="form" action="application-summary-jobs-work-experience" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="employer-name">
            Name of employer
          </label>
        </h1>
        <input class="govuk-input" id="employer-name" name="employer-name" type="employer"
          value="{{ data['employer-name'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>


      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="training-provider-name">
            Role
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          If you had more than one role with this employer, enter your last role
        </div>
        <input class="govuk-input" id="role-name" name="role-name" type="role" value="{{ data['role-name'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-word-count" data-module="govuk-word-count" data-maxlength="200">
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="with-hint">
              What you did
            </label>
          </h2>
          <div id="with-hint-hint" class="govuk-hint">
            Briefly describe your responsibilities to help the person looking at your application to understand what
            this
            role involved. You’ll be able to describe your strengths and experience later
          </div>
          <textarea class="govuk-textarea govuk-js-word-count" id="what-you-did-in-the-role"
            name="what-you-did-in-the-role" rows="5"
            aria-describedby="what-you-did-in-the-role-info">{{ data['what-you-did-in-the-role'] or '' }}</textarea>
        </div>
        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
          <p class="govuk-hint govuk-!-margin-bottom-0">300 words remaining
          <p class="govuk-hint govuk-!-margin-bottom-0">You do not need to use the full word count</p>
        </div>
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="with-hint">
              Start date
            </label>
          </h2>
          <div class="govuk-date-input" id="start-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-date-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-month"
                  name="start-date-month" type="text" inputmode="numeric"
                  value="{{ data['work-start-date-month'] or '' }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="start-date-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-date-year"
                  name="start-date-year" type="text" inputmode="numeric"
                  value="{{ data['work-start-date-year'] or '' }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Is this your current role?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-role-yes" name="current-role-yes" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="current-role-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-role-no" name="current-role-no" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="current-role-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>



      <div class="govuk-button-group" href="application-summary-jobs-work-experience.html">
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </div>
    </form>



  </div>
</div>

{% endblock %}