{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-training-courses.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Education history</span>
    <h1 class="govuk-heading-l">Training courses</h1>

    <form class="form" action="application-summary-training-courses" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="course-name">
            Course name
          </label>
        </h1>
        <input class="govuk-input" id="course-name" name="course-name" type="course"
          value="{{ data['course-name'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>


      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="training-provider-name">
            Training provider (college or company)
          </label>
        </h1>
        <input class="govuk-input" id="training-provider-name" name="training-provider-name" type="training-provider"
          value="{{ data['training-provider-name'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>



      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="year-acheived">
            Year achieved
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          If you are still studying, enter the year you will finish
        </div>
        <input class="govuk-input govuk-input--width-4" id="year-achieved" name="year-achieved" type="year"
          value="{{ data['year-achieved'] or '' }}" aria-describedby="year-achieved-info">
      </div>


      <div class="govuk-button-group" href="application-summary-training-courses.html">
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>
      </div>
    </form>



  </div>
</div>

{% endblock %}