{% extends "gov-uk-signed-out.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Create an account</span>
    <h1 class="govuk-heading-l">Date of birth</h1>

    <p class="govuk-body">We’ll use your age to: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check that you’re old enough to use this service </li>
      <li>check if you can apply for foundation apprenticeships</li>
      <li>calculate the correct minimum wage for you </li>
    </ul>

    <p class="govuk-body govuk-!-margin-bottom-7">We also monitor which age groups use our service to help us make
      improvements. </p>
    <form class="form" action="create-account-postcode" method="post">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What is your date of birth?
            </h1>
          </legend>
          <div id="date-of-birth-hint" class="govuk-hint govuk-!-margin-bottom-6" style="color: #b1b4b6;">
            For example, 31 03 1980
          </div>
          <div class="govuk-date-input" id="date-of-birth">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day"
                  name="date-of-birth-day" type="text" inputmode="numeric"
                  value="{{ data['date-of-birth-day'] or '' }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month"
                  name="date-of-birth-month" type="text" inputmode="numeric"
                  value="{{ data['date-of-birth-month'] or '' }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year"
                  name="date-of-birth-year" type="text" inputmode="numeric"
                  value="{{ data['date-of-birth-year'] or '' }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>



    

<a href="/v34/faa/search-page-signed-in.html" class="govuk-button" id="filters-submit-second">Continue</a>


  </div>
</div>


{% endblock %}