{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Your applications</h1>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="./started.html" href="#1">Started</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="./submitted.html">Submitted</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="./successful.html">Successful</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page">Unsuccessful</a>
            </li>
          </ul>

        </nav>

        <h2 class="govuk-heading-m">Unsuccessful</h2>
        <p class="govuk-body">
          You’ve been given feedback to help you improve your future applications.
        </p>
        <div class="govuk-!-padding-bottom-7"></div>

        <!-- START cards -->
        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link" id="vacancy-aof" href="vacancy-page-aof.html">
            Business Admin Apprenticeship</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Penzance Organic Farm</p>
        <p class="govuk-body" style="color:#505a5f">
          Penzance (TR18 2GB)</p>
        <div class="feedback-card govuk-!-margin-bottom-3"
          style="background-color:#f4f4f4;padding:20px;margin-bottom:30px;">
          <h3 class="govuk-heading-s">Feedback:</h3>
          <p class="govuk-body">
            After careful consideration, we regret to inform you that your application has not been successful in this
            instance.
            However, the competition was strong, and we have chosen candidates whose skills and experiences more closely
            align with
            our current needs. We encourage you to continue pursuing opportunities that match your qualifications and
            aspirations.
            Thank you for your interest in our organisation, and we wish you success in your future endeavours.
          </p>
        </div>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-5" style="color:#505a5f">
          Feedback received 19 January 2024
        </p>


        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">View your application<span
                class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link"
              href="./delete-application-unsuccessful.html">Delete<span class="govuk-visually-hidden"> contact
                details</span></a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6 ">
        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link" id="vacancy-aof" href="vacancy-page-aof.html">
            Business Analyst Apprenticeship</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Tech Corporation LTD</p>
        <p class="govuk-body" style="color:#505a5f">
          Brighton, Leeds, Liverpool, Manchester</p>

        <div class="feedback-card govuk-!-margin-bottom-3"
          style="background-color:#f4f4f4;padding:20px;margin-bottom:30px;">
          <h3 class="govuk-heading-s">Feedback:</h3>
          <p class="govuk-body">
            I appreciate your interest in the Business Analyst Apprenticeship position. We carefully reviewed your
            application and
            qualifications. While we recognize your skills and enthusiasm, we have decided to pursue other candidates
            whose
            experiences and background more closely align with our current needs. We genuinely appreciate the time and
            effort you
            invested in the application process and wish you the best in your future endeavors.
          </p>
        </div>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-5" style="color:#505a5f">
          Feedback received 11 January 2024
        </p>


        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">View your application<span
                class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Delete<span
                class="govuk-visually-hidden"> contact details</span></a></li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6 ">


        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link" id="vacancy-aof" href="vacancy-page-aof.html">
            Finance Apprenticeship</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Dice Tech LTD</p>
        <p class="govuk-body" style="color:#505a5f">
          Recruiting nationally</p>

        <div class="feedback-card govuk-!-margin-bottom-3"
          style="background-color:#f4f4f4;padding:20px;margin-bottom:30px;">
          <h3 class="govuk-heading-s">Feedback:</h3>
          <p class="govuk-body">
            Thank you for your application for the finance apprenticeship. After careful consideration, we regret to
            inform you that
            you have not been selected for this opportunity. While your qualifications are impressive, we received a
            high volume of
            strong applications, and we have chosen a candidate whose experience more closely aligns with the specific
            needs of the
            role. We encourage you to apply for future opportunities and wish you the best in your career journey.
          </p>
        </div>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-5" style="color:#505a5f">
          Feedback received 3 January 2024
        </p>


        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">View your application<span
                class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Delete<span
                class="govuk-visually-hidden"> contact details</span></a></li>
        </ul>
        <!-- END cards -->


      </div>
    </div>
  </main>
</div>

{% endblock %}