{% extends "ma-layout.html" %}

{% block pageTitle %}
Create an advert - Your apprenticeship adverts - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% if data.journey != "new" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create an advert for Find an apprenticeship</h1>
    <p class="govuk-body">Advertise an apprenticeship in England on <a href="https://www.gov.uk/apply-apprenticeship"
        class="govuk-link govuk-link--no-visited-state">Find an apprenticeship (opens in new tab)</a>.</p>
    <p class="govuk-body">You can receive applications through our service or add a link to your own website.</p>


    <h2 class="govuk-heading-m">Before creating an advert</h2>
    <p class="govuk-body">Make sure you have:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li> <a href="#">found apprenticeship training</a>and agreed training with a provider</li>
      <li> <a href="#">reserved funding</a>if you do not pay the apprenticeship levy</li>
      <li>decided details such as the wage and working hours</li>
    </ul>


    {% set _forwardLink = "task-list" %}

    {{ govukButton({
    text: "Start now",
    href: _forwardLink,
    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
    isStartButton: true
    }) }}


    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Let a training provider create adverts for you</h3>
    <p class="govuk-body"><a href="#" class="govuk-link">Change the permissions you give training providers</a> to allow them to make adverts for you. You can review adverts before they go live.
    </p>
    <div class="govuk-!-padding-bottom-5"></div>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Use APls to submit and display adverts</h3>
    <p class="govuk-body">If you're working with a software developer, you can connect your system to Find an apprenticeship by<a href="#" class="govuk-link">using out APIs</a>.
    </p>

  </div>
</div>

{% endblock %}