{% extends "ma-layout.html" %}

{% block pageTitle %}
Advert submitted for approval - Your apprenticeship adverts - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.title %}
    <span class="govuk-caption-xl">
      {{ data.title }}
    </span>
    {% endif %}
    <span class="govuk-caption-xl">Business administration apprentice</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      Confirm apprenticeship training course
    </h1>

    <div class="das-confirm-card" style="background-color:#f4f4f4; padding:20px; margin-bottom:30px;">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
        Business administrator Level: 3
      </h2>


      <span class="govuk-caption-m govuk-!-margin-bottom-3">
        Level: 3 advanced (equivalent to A levels) <br>
        Typical duration: 12 months<br>
        Apprenticeship standard<br>
      </span>

      {% if data.expiryDate %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <span id="selected-training" class="govuk-!-font-weight-bold">
            This apprenticeship training closes to new starters from 1 August 2022.
          </span>
        </strong>
      </div>
      {% endif %}

      <p class="govuk-body govuk-!-margin-bottom-0">
        <a href="std-select?change=yes">Change apprenticeship training</a>
      </p>
    </div>

    <div class="govuk-inset-text">
      <p class="govuk-body">This will change the course from a <strong>foundation apprenticeship</strong> to an
        <strong>apprenticeship standard</strong>.
      </p>
      <p class="govuk-body">You'll need to review this advert's requirements. This is because standards can have
        different entry requirements for
        applicants.</p>
      <p class="govuk-body">You should also review the other sections of your advert.</p>
    </div>


    <form method="post">
      <div class="govuk-button-group govuk-!-margin-top-5">
        <a href="/v34/provider/create/short-description.html" class="govuk-button" data-module="govuk-button">Save and
          continue</a>
        <a class="govuk-link" href="../dashboard">Cancel</a>
      </div>
    </form>

  </div>
</div>


{% endblock %}
