{% extends "gov-uk-signed-out.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-phone-number.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Create an account</span>
    <h1 class="govuk-heading-l">Get reminders about your unfinished applications</h1>
    <form class="form" action="application-summary-create-an-account" method="post">

      <p class="govuk-body">We can email you about applications you have not finished yet and remind you to apply.</p>
      <p class="govuk-body">We’ll remind you when there’s:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a week to go</li>
        <li>2 days to go</li>
      </ul>
      <p class="govuk-body">You can unsubscribe from these reminders at any time in your settings.</p>
      <div class="govuk-inset-text">
        No matter what you select, you’ll still get emails when companies tell us if your application has been
        successful or
        unsuccessful. We’ll also email you if an application you’ve started closes early.
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to get reminders about unfinished applications?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-button-group" href="application-summary-create-an-account.html">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>



  </div>
</div>

{% endblock %}