{% extends "gov-uk-signed-out.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">Terms and conditions</h1>
        <p class="govuk-body">This service is run by the Department for Education (DfE).</p>
        <p class="govuk-body">By using our service, you agree to our terms and conditions.</p>

        <div class="govuk-!-padding-bottom-3"></div>
        <h2 class="govuk-heading-m">Using a Find an apprenticeship account</h2>
        <h3 class="govuk-heading-s">Creating an account</h3>
        <p class="govuk-body">You must be at least 13 years old to have a Find an apprenticeship account.</p>
        <h3 class="govuk-heading-s">Misusing an account</h3>
        <p class="govuk-body">Your account might be blocked if you misuse it.</p>
        <p class="govuk-body">Examples of misuse include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>being dishonest in your applications or pretending to be someone else</li>
          <li>using abusive language</li>
          <li>using the service for illegal reasons, including those listed in the <a
              href="https://www.legislation.gov.uk/ukpga/1990/18/contents]" class="govuk-link">Computer Misuse Act
              1990</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Our responsibility for this service</h2>
        <p class="govuk-body">We strive to ensure that this service remains constantly available, free from viruses, and
          that the information provided
          is accurate and complete.</p>
        <p class="govuk-body">However, we do not accept liability for</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you being unable to access the service (such as when we experience excessive demand or take the service
            down for
            maintenance)</li>
          <li>delay or failure in receiving data</li>
          <li>indirect damages arising from you using the service or relying on its content</li>
          <li>the content and availability of external websites that linked from our service</li>
        </ul>




      </div>
    </div>
  </main>
</div>



{% endblock %}