{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}

<a class="govuk-back-link govuk-link--no-visited-state" href="/v34/faa/vacancy-page-signed-in-under21"
  onclick="event.preventDefault();">
  Back
</a>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-4">
  Foundation
</strong>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Apply for Construction apprentice</h1>
        <p class="govuk-caption-m govuk-!-margin-bottom-0" style="color:	#000000">JONES BUILDERS</p>
        <p class="govuk-body govuk-!-margin-bottom-3" style="color:#505a5f">Bristol (BS2 2JA)</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Closes on 28 May 2025</p>
        <p class="govuk-body govuk-!-margin-bottom-7">
          <a href="/v34/faa/vacancy-page-signed-in-under21" class="govuk-link govuk-link--no-visited-state " rel="noreferrer noopener"
            target="_blank">View vacancy (opens in new tab)</a>
        </p>


            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <form class="form" action="application-preview-page-02" method="post">
        
          <h2 class="govuk-heading-m">Education history</h2>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="application-question-page-qualification.html"
                  aria-describedby="qualifications-status">
                  School, college and university qualifications
                </a>
              </span>
        
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>
        
        
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="application-question-page-training-courses.html"
                  aria-describedby="training-courses-status">
                  Training courses
                </a>
              </span>
        
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>
        
        
            </li>
          </ul>
        
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Work history</h2>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="application-question-page-jobs.html"
                  aria-describedby="job-status">
                  Jobs
                </a>
              </span>
        
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>
        
        
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state"
                  href="application-question-page-volunteering-and-work-experience.html"
                  aria-describedby="work-experience-status">
                  Volunteering and work experience
                </a>
              </span>
        
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>
        
        
            </li>
          </ul>
        
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Application questions</h2>
          <ul class="govuk-task-list">
        
        
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state"
                  href="application-question-page-interests-you-about-this-apprenticeship.html"
                  aria-describedby="additional-questions-status">
                  What interests you about this apprenticeship?
                </a>
              </span>
        
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="application-question-page-employer-question-two.html"
                  aria-describedby="additional-questions-status">
                 Where do you see yourself in 5 years?<br>
                </a>
              </span>

              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            

            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="/v34/faa/apply/application-question-page-interests-you-about-this-apprenticeship-Q3.htm"
                  aria-describedby="additional-questions-status">
                How will you travel to this role?<br>
                </a>
              </span>

              {% if data['completed-employer-questions'] == "yes" %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

              {% elseif data['completed-employer-questions'] == "no" %}
              <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">Incomplete</strong>

              {% else %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag">Not yet started</strong>

              {% endif %}

            </li>
          </ul>

          <h2 class="govuk-heading-m govuk-!-margin-top-8">Interview adjustments</h2>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="application-question-page-interview-adjustments.html"
                  aria-describedby="interview-adjustments-status">
                  Request adjustments on your application
                </a>
              </span>

              {% if data['completed-interview-adjustments-section'] == "yes" %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

              {% elseif data['completed-interview-adjustments-section'] == "no" %}
              <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">Incomplete</strong>

              {% else %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag">Not yet started</strong>

              {% endif %}

            </li>
          </ul>

        
          <h2 class="govuk-heading-m govuk-!-margin-top-8">Disability Confident</h2>
          <p class="govuk-body" style="color:	#505a5f">This company has joined a government scheme.</p>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="application-summary-disability-disclosure.html" aria-describedby="disclose-disability-status">
                  Interview under the Disability Confident scheme
                </a>
              </span>
          
<strong class="govuk-tag govuk-tag--blue app-task-list__tag">Not yet started</strong>
          
          
            </li>
          </ul>

         

          <div class="govuk-button-group govuk-!-margin-top-8" href="application-preview-page-02.html">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a class="govuk-link" href="application-preview-page-02.html">Save and finish later</a>
          </div>


        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}