{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-hobbies-interests-input.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Application questions</span>
    <h1 class="govuk-heading-l">What interests you about this apprenticeship summary</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What interests you about this apprenticeship?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['like-to-learn'] or 'I would like to learn more about business and leadership. I feel that working
          for your company will give me many opportunities to expand my knowledge in these areas while helping your
          team
          to grow and your company to be more
          profitable.' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-interests-you-about-this-apprenticeship.html">
            Change<span class="govuk-visually-hidden"> what interests you about this apprenticeship</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>


<form action="application-task-list-new-user" method="post" novalidate>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Have you completed this section?
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="have-you-completed-this-section" name="completed-question-two"
            type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section">
            Yes, I’ve completed this section
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="have-you-completed-this-section-2" name="completed-question-two"
            type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section-2">
            No, I’ll come back to it later
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>



</div>
</div>


{% endblock %}