{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-task-list-new-user.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your application before submitting</h1>
    <div class="govuk-inset-text">
      This is what the company will see when they view your application.
    </div>
    <!-- Add the link with the print icon -->

    <head>
      <title>Link with Print Icon</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="#" class="print-link govuk-!-padding-right-5">
        <i class="fas fa-print" style="color: #1d70b8"></i> Print your application
      </a>

    </body>
    <!-- End the link with the print icon -->
    <div class="govuk-!-padding-bottom-7"></div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <div class="govuk-!-padding-bottom-8"></div>


    <!-- START personal details -->
    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Jones' }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-0">1 Hatchway Cottage
          <p class="govuk-body govuk-!-margin-bottom-0">London</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ data['postcode-input'] or 'SW1A 2AA' }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['phone-number'] or '07700 9009754' }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['email'] or 'sarah.philips@email.com' }}
        </dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break-non-visible">
    <!-- END personal details -->


    <!-- START qualifications -->
    <h2 class="govuk-heading-m">Qualifications</h2>
    <p class="govuk-body govuk-!-padding-bottom-3">
      <a href="application-question-page-qualification-type.html" class="govuk-link govuk-link--no-visited-state">Add
        qualifications</a>
    </p>


    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">GSCEs</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Delete<span class="govuk-visually-hidden"> GCSEs</span>
            </a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link"
              href="application-question-page-qualification-gcse">
              Change<span class="govuk-visually-hidden">GCSEs</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subjects and grades
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">Maths : A</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Science : C</p>
              <p class="govuk-body govuk-!-margin-bottom-0">English : B</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              School or college
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['school-name'] or 'Handsworth Grange' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data['qualifications-year-achieved'] or '2013' }}</p>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break-non-visible">
    <!-- END qualifications -->

    <!-- START training -->
    <h2 class="govuk-heading-m">Training</h2>
    <p class="govuk-body govuk-!-padding-bottom-3">
      <a href="application-question-page-add-training-courses.html" class="govuk-link govuk-link--no-visited-state">Add
        training</a>
    </p>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title"> {{ data['course-name'] or 'E33 Building Safety' }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Delete<span class="govuk-visually-hidden"> training course</span>
            </a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link"
              href="application-question-page-add-training-courses">
              Change<span class="govuk-visually-hidden"> training course</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              College or training provider
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['training-provider-name'] or 'Newquay Professional Training' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['year-achieved'] or '2018' }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break-non-visible">
    <!-- START training -->

    <!-- START job -->
    <h2 class="govuk-heading-m">Jobs</h2>
    <p class="govuk-body govuk-!-padding-bottom-3">
      <a href="application-question-page-add-jobs.html" class="govuk-link govuk-link--no-visited-state">Add
        jobs</a>
    </p>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['employer-name'] or 'Betty’s Corner Shop' }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Delete<span class="govuk-visually-hidden"> jobs and work experience</span>
            </a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link"
              href="application-question-page-add-jobs-work-experience">
              Change<span class="govuk-visually-hidden"> jobs and work experience</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['role-name'] or 'Customer service assistant' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Responsibilities
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['what-you-did-in-the-role'] or 'The role involved stacking selfs, assisting customers with
              inquiries about products, scanning and updating the prices on products, liaising with senior members of
              staff, keeping the shop cleaning and organised.' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Dates
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['work-start-date-month'] or 'March' }} {{ data['work-start-date-year'] or '2019' }} to {{
              data['work-end-date-month'] or 'May' }} {{ data['work-start-end-year'] or '2021' }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break-non-visible">
    </hr>
    <!-- END job -->

    <!-- START volunteering and work experience -->
    <h2 class="govuk-heading-m">Volunteering and work experience</h2>
    <p class="govuk-body govuk-!-padding-bottom-3">
      <a href="application-question-page-add-volunteering-and-work-experience.html" class="govuk-link govuk-link--no-visited-state">Add
        volunteering and work experience</a>
    </p>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['work-experience-organisation-name'] or 'Sheffield animal rescue'
          }}
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Delete<span class="govuk-visually-hidden"> volunteering and work experience</span>
            </a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link"
              href="application-question-page-add-jobs-work-experience">
              Change<span class="govuk-visually-hidden"> volunteering and work experience</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Responsibilities
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['what-you-did-in-the-work-experience-role'] or 'As a sports youth coach volunteer, I guided and
              supported young athletes, fostering their love for sports and teaching
              vital skills on and off the field. This included skill development, teamwork, and sportsmanship. I also
              focused on game
              strategy, physical fitness, mentoring, safety, and effective communication with parents. My role aimed to
              motivate and
              encourage athletes while engaging with the community to promote sports and positive values, shaping
              well-rounded and
              disciplined individuals.' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Dates
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['work-experience-start-date-month'] or 'March' }} {{ data['work-experience-start-date-year'] or
              '2019'
              }} to {{ data['work-experience-end-date-month'] or 'May' }} {{ data['work-experience-end-date-year'] or
              '2021'
              }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break-non-visible">
    </hr>
    <!-- END volunteering and work experience -->

    <!-- START equal opportunity questions -->
    <h2 class="govuk-heading-m">Equal opportunity</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Apply through Disability Confident
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-disability-disclosure.html">
            Change<span class="govuk-visually-hidden"> disability-disclosure</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Requested interview adjustments
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['interview-adjustments-input'] or ' I would need a British Sign Language (BSL)
          interpreter
          to complete my interview.' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-input-interview-adjustments.html">
            Change<span class="govuk-visually-hidden"> interview adjustments</span>
          </a>
        </dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break-non-visible">
    <!-- END equal opportunity questions -->

    <!-- START role questions -->
    <h2 class="govuk-heading-m">Application questions</h2>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          what are your main strengths?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['main-strengths'] or 'My biggest strength is that I can think on my feet and can work under a lot
          of
          pressure. As an event manager at Sarah’s boutique, we were organizing an IT conference that needed a
          number of
          last-minute changes - due to a speaker
          canceling because of an emergency and 2 of our volunteers not being able to show up.
          So, we allocated more time to each speaker and added a QA section at the end of each speech. We also
          encouraged the present speakers to talk about their business and personal experience more in-depth after
          they
          were done
          with their speech. As for being understaffed, one day before the conference, I reached out to my network
          and
          found 2 students
          who were willing to help out. I personally met them 2 hours before the conference and got them up to speed
          with
          everything we were doing for the day, and gave them their tasks.' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-main-strengths.html">
            Change<span class="govuk-visually-hidden"> main strengths</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What interests you about this apprenticeship?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['like-to-learn'] or 'I would like to learn more about business and leadership. I feel that working
          for your company will give me many opportunities to expand my knowledge in these areas while helping your
          team
          to grow and your company to be more
          profitable.' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-interests-you-about-this-apprenticeship.html">
            Change<span class="govuk-visually-hidden"> what interests you about this apprenticeship</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will you travel to this apprenticeship?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['employer-question-two'] or 'I can drive so will be commuting to and from work by car.' }}

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-employer-question-two.html">
            Change<span class="govuk-visually-hidden"> how will you get to the apprenticeship</span>
          </a>
        </dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break-non-visible">
    </hr>
    <!-- END role questions -->

    <!-- START submit -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Submit your application
          </h1>
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              I understand that I won't be able to make any changes after I submit my application
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <form class="form" action="equality-question" method="post">
      <div class="govuk-button-group" href="equality-question.html">
        <button class="govuk-button" data-module="govuk-button">
          Submit
        </button>
      </div>
    </form>

  </div>
</div>

{% endblock %}