{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-qualification.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Education history</span>
    <h1 class="govuk-heading-l">Qualification type</h1>
    </p>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-gcse" name="qualification-type" type="radio"
              value="gcse">
            <label class="govuk-label govuk-radios__label" for="qualification-type-gcse">
              GCSE
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-aslevel" name="qualification-type" type="radio"
              value="aslevel">
            <label class="govuk-label govuk-radios__label" for="qualification-type-aslevel">
              A level
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-alevel" name="qualification-type" type="radio"
              value="alevel">
            <label class="govuk-label govuk-radios__label" for="qualification-type-alevel">
              AS level
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-btec" name="qualification-type" type="radio"
              value="btec">
            <label class="govuk-label govuk-radios__label" for="qualification-type-btec">
              Apprenticeship
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-nvq-or-svq-level-1" name="qualification-type"
              type="radio" value="nvq-or-svq-level-1">
            <label class="govuk-label govuk-radios__label" for="qualification-type-nvq-or-svq-level-1">
              BTEC
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-nvq-or-svq-level-2" name="qualification-type"
              type="radio" value="nvq-or-svq-level-2">
            <label class="govuk-label govuk-radios__label" for="qualification-type-nvq-or-svq-level-2">
              Degree (undergraduate, postgraduate or foundation)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-nvq-or-svq-level-3" name="qualification-type"
              type="radio" value="nvq-or-svq-level-3">
            <label class="govuk-label govuk-radios__label" for="qualification-type-nvq-or-svq-level-3">
              Higher National Certificate (HNC)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-nvq-or-svq-level-3" name="qualification-type"
              type="radio" value="nvq-or-svq-level-3">
            <label class="govuk-label govuk-radios__label" for="qualification-type-nvq-or-svq-level-3">
              Higher National Diploma (HND)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-type-nvq-or-svq-level-3" name="qualification-type"
              type="radio" value="nvq-or-svq-level-3">
            <label class="govuk-label govuk-radios__label" for="qualification-type-nvq-or-svq-level-3">
              National Vocational Qualification (NVQ)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="qualification-other" name="qualification-type" type="radio"
              value="other">
            <label class="govuk-label govuk-radios__label" for="qualification-other">
              T level
            </label>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
              Other (including international qualifications)
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <form class="form" action="application-question-page-qualification-gcse" method="post">
      <div class="govuk-button-group" href="application-question-page-qualification-gcse.html">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>



  </div>
</div>

{% endblock %}