{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-task-list-new-user.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Create an account</span>
    <h1 class="govuk-heading-l">What is your name?</h1>
    <p class="govuk-body">Write your name as you want it to show on applications</p>
    <form class="form" action="application-question-page-date-of-birth" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="first-name">
          First name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="first-name" type="first"
          value="{{ data['first-name'] or '' }}">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="last-name">
          Last name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="last-name" name="last-name" type="last"
          value="{{ data['last-name'] or '' }}">
      </div>

      <h2 class="govuk-heading-m">Terms and conditions</h2>
      <p class="govuk-body">By continuing, you confirm that you agree to our:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body">
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">terms and conditions (opens in
              a new tab)</a> which explains our policies
          </p>
        </li>
        <li>
          <p class="govuk-body">
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">privacy notice (opens in a new
              tab)</a> which explains how we will use any personal information you enter into Find an apprenticeship
          </p>
        </li>
      </ul>


      <div class="govuk-button-group" href="application-question-page-date-of-birth.html">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>


  </div>
</div>

{% endblock %}