{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-task-list-new-user.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Equal opportunity</span>
    <h1 class="govuk-heading-l">Disability Confident</h1>
    <img src="/public/images/disability-confident.png" width="130px">
    <div class="govuk-!-padding-bottom-5"></div>
    <p class="govuk-body">King Recruitment has signed up to the government’s Disability Confidence scheme. They want to
      help people with a
      disability get an interview for this apprenticeship.</p>
    </p>
    <p class="govuk-body">The company will try to offer an interview if you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have a disability</li>
      <li>meet the essential requirements for this apprenticeship</li>
    </ul>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Understanding disability
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">Almost 1 in 4 working age adults in the UK have a disability. A disability is a long-term
          physical or mental condition
          that affects your daily life.</p>
        <p class="govuk-body">
          <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010#:~:text=You're%20disabled%20under%20the,t%20apply%20to%20Northern%20Ireland."
            class="govuk-link" rel="noreferrer noopener" target="_blank">Read how the Equality Act 2010 describes
            disability (opens in new tab)</a>
        </p>
      </div>
    </details>
    <p class="govuk-body">If this advert gets a lot of applications, the company may not be able to offer everybody with
      a disability an
      interview. They’ll still interview a fair proportion of applicants with a disability.</p>
    <p class="govuk-body">If you opt in to Disability Confident, you don’t need to provide any information about your
      condition. If you need
      support at an interview, you can ask for this in the <b>Request interview adjustments</b> of your application.
    </p>
    <div class="govuk-!-padding-bottom-5"></div>

    <form class="form" action="application-summary-disability-disclosure" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to apply through Disability Confident?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="disability-disclosure-yes" name="disability-disclosure"
                type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="disability-disclosure-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="disability-disclosure-no" name="disability-disclosure" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="idisability-disclosure-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-button-group" href="application-summary-disability-disclosure.html">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>



  </div>
</div>

{% endblock %}