{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-add-volunteering-and-work-experience.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Work history</span>
    <h1 class="govuk-heading-l">Volunteering or work experience summary</h1>
    </p>


    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['work-experience-organisation-name'] or 'Sheffield animal rescue' }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Delete<span class="govuk-visually-hidden"> volunteering and work experience</span>
            </a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link"
              href="application-question-page-add-jobs-work-experience">
              Change<span class="govuk-visually-hidden"> volunteering and work experience</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Responsibilities
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['what-you-did-in-the-work-experience-role'] or 'As a sports youth coach volunteer, I guided and supported young athletes, fostering their love for sports and teaching
              vital skills on and off the field. This included skill development, teamwork, and sportsmanship. I also focused on game
              strategy, physical fitness, mentoring, safety, and effective communication with parents. My role aimed to motivate and
              encourage athletes while engaging with the community to promote sports and positive values, shaping well-rounded and
              disciplined individuals.' }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Dates
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['work-experience-start-date-month'] or 'March' }} {{ data['work-experience-start-date-year'] or '2019' }} to {{ data['work-experience-end-date-month'] or 'May' }} {{ data['work-experience-end-date-year'] or '2021' }}
            </dd>
          </div>
        </dl>
      </div>
    </div>



    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another job or work experience
    </button>
    <div class="govuk-!-padding-bottom-5"></div>



    <form action="application-task-list-new-user" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Have you completed this section?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="have-you-completed-this-section"
                name="completed-work-experience" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section">
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="have-you-completed-this-section-2"
                name="completed-work-experience" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section-2">
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>



  </div>
</div>


{% endblock %}