{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your application has been submitted</h1>
        <p class="govuk-body">As someone using Find an apprenticeship, we’d like to ask some equality questions.</p>

        <form class="form" action="equality-question-sex-gender" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="equalitiesInfo-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Do you want to answer the equality questions?
              </legend>
              <div id="equalitiesInfo-hint" class="govuk-hint">
                <p class="govuk-!-margin-top-0">These questions are optional. The Department for Education will use any
                  information you provide to improve this service
                  and ensure apprenticeship recruitment is inclusive.</p>
                <p>These answers will not be shared when you apply for apprenticeships.</p>
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="equalitiesInfo" name="equalitiesInfo" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="equalitiesInfo">
                    Yes, answer the equality questions (takes 2 minutes)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="equalitiesInfo-2" name="equalitiesInfo" type="radio"
                    value="no">
                  <label class="govuk-label govuk-radios__label" for="equalitiesInfo-2">
                    No, skip the equality questions
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-button-group" href="equality-question-sex-gender.html">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>




</div>
</div>

{% endblock %}