{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href=".html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">We’ve used your previous answers to fill in some parts of this
            application.</p>
          <p class="govuk-body">Answers copied from <b>Apprentice Vehicle Damage Paint Technician</b> at <b>PC
              Motors</b> (submitted 13 March 2023).</p>
        </div>
      </div>


      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Apply for Business Administration Apprentice</h1>
      <p class="govuk-caption-l govuk-!-margin-bottom-3" style="color:	#505a5f">King Recruitment</p>
      <p class="govuk-body govuk-!-margin-bottom-3">Closes in 3 days (Friday 4 August at 11:59pm)</p>
      <p class="govuk-body govuk-!-margin-bottom-7">
        <a href="../vacancy-page-02.html" class="govuk-link" rel="noreferrer noopener" target="_blank">View vacancy
          (opens
          in new tab)</a>
      </p>

      <form class="form" action="application-preview-page-02" method="post">
        <h2 class="govuk-heading-m">Education history</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-qualification.html" aria-describedby="qualifications-status">
                School, college and university qualifications
              </a>
            </span>

            {% if data['completed-qualification-section'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-qualification-section'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--pink app-task-list__tag">Previous answer</strong>

            {% endif %}

          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-training-courses.html" aria-describedby="training-courses-status">
                Training courses
              </a>
            </span>

            {% if data['completed-training-courses-section'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-training-courses-section'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--pink app-task-list__tag">Previous answer</strong>

            {% endif %}

          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Work history</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-jobs.html" aria-describedby="job-status">
                Jobs
              </a>
            </span>

            {% if data['completed-jobs'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-jobs'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--pink app-task-list__tag">Previous answer</strong>

            {% endif %}

          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-volunteering-and-work-experience.html"
                aria-describedby="work-experience-status">
                Volunteering and work experience
              </a>
            </span>

            {% if data['completed-work-experience'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-work-experience'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--pink app-task-list__tag">Previous answer</strong>

            {% endif %}

          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Application questions</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-main-strengths.html" aria-describedby="job-role-status">
                What are your skills and strengths?
              </a>
            </span>


            {% if data['completed-role-questions'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-role-questions'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">Not yet started</strong>

            {% endif %}


          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-interests-you-about-this-apprenticeship.html"
                aria-describedby="additional-questions-status">
                What interests you about this apprenticeship?
              </a>
            </span>

            {% if data['completed-question-two'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-question-two'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">Not yet started</strong>

            {% endif %}

          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-employer-question-two.html"
                aria-describedby="additional-questions-status">
                How will you get to and from this vacancy every day if<br>successful?<br>
              </a>
            </span>

            {% if data['completed-employer-question-two'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-employer-question-two'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">Not yet started</strong>

            {% endif %}

          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-employer-question-one.html"
                aria-describedby="additional-questions-status">
                When you’re balancing multiple projects, how do you<br>keep yourself organised?<br>
              </a>
            </span>

            {% if data['completed-employer-questions'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-employer-questions'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">Not yet started</strong>

            {% endif %}

          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Interview adjustments</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-interview-adjustments.html"
                aria-describedby="interview-adjustments-status">
                Request adjustments on your application
              </a>
            </span>

            {% if data['completed-interview-adjustments-section'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-interview-adjustments-section'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--pink app-task-list__tag">Previous answer</strong>

            {% endif %}

          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Disability Confidence</h2>
        <p class="govuk-body" style="color:	#505a5f">This company has joined the government’s Disability Confidence
          scheme.</p>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <span class="app-task-list__task-name">
              <a href="application-question-page-disability-disclosure.html"
                aria-describedby="disclose-disability-status">
                Interview under the Disability Confident scheme
              </a>
            </span>

            {% if data['completed-disability-disclosure-section'] == "yes" %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Completed</strong>

            {% elseif data['completed-disability-disclosure-section'] == "no" %}
            <strong class="govuk-tag govuk-tag--light-blue app-task-list__tag">In progress</strong>

            {% else %}
            <strong class="govuk-tag govuk-tag--pink app-task-list__tag">Previous answer</strong>

            {% endif %}


          </li>
        </ul>

        <div class="govuk-button-group govuk-!-margin-top-8" href="application-preview-page-02.html">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="application-preview-page-02.html">Save and finish later</a>
        </div>


      </form>
    </div>
  </div>
</div>

{% endblock %}