{% extends "no-brand.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width govuk-!-margin-bottom-5">
    <div class="govuk-breadcrumbs govuk-!-margin-left-3">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Education and learning</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Apprenticeships, 14 to 19 education and training for work</a>
        </li>
      </ol>
    </div>
  </div>
  {% endblock %}

  {% block content %}



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl govuk-!-margin-left-3">Find an apprenticeship</h1>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Use this service to search and apply for apprenticeships in England.
          </p>
          <p class="govuk-body">During an apprenticeship, you’ll:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>work and get paid</li>
            <li>train and gain a qualification</li>
          </ul>
          <div class="govuk-inset-text">
            There’s a different way to <a href="https://www.apprenticeships.scot/"
              class="govuk-link govuk-link--no-visited-state">apply if you live in Scotland</a>, <a
              href="https://careerswales.gov.wales/apprenticeship-search"
              class="govuk-link govuk-link--no-visited-state">apply if you live in Wales</a>, or <a
              href="https://www.nidirect.gov.uk/campaigns/apprenticeships"
              class="govuk-link govuk-link--no-visited-state">apply if you live in Northern Ireland</a>.
          </div>
          <div class="govuk-!-padding-bottom-3"></div>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
          <div class="related-navigation">
            <h2 class="govuk-heading-s">Related content</h2>
            <ul class="govuk-list related-links">
              <li class="govuk-body-s"><a href="https://www.gov.uk/career-skills-and-training" class="govuk-link"
                  rel="noreferrer noopener" target="_blank">Career skills and training</a></li>
            </ul>
          </div>
        </div>

      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Who can do an apprenticeship</h2>
          <p class="govuk-body">You can start an apprenticeship if you’re:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>16 or over - there’s no upper age limit</li>
            <li>not in education (full or part-time)</li>
          </ul>
          <p class="govuk-body">You can have a previous qualification, like a degree, and still start an apprenticeship.
          </p>
          <div class="govuk-!-padding-bottom-3"></div>
          <h2 class="govuk-heading-m">Before you start</h2>
          <p class="govuk-body">Find out more about <a href="https://www.gov.uk/become-apprentice" class="govuk-link"
              rel="noreferrer noopener" target="_blank">how apprenticeships work and what you’ll get</a>.</p>
          <div class="govuk-!-padding-bottom-5"></div>
          <h2 class="govuk-heading-m">Find apprenticeships online</h2>
          <a class="gem-c-button govuk-button govuk-button--start" role="button" href="search-page-02.html"> Search
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg"
              width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg></a>

          <p class="govuk-body">
            Already have an account? <a href="./govuk-one-login-flow-start-page/sign-in-or-create.html" class="govuk-link">Sign in</a>.
          </p>

        </div>
      </div>


  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="related-navigation">
      <h2 class="govuk-heading-s">Explore the topic</h2>
      <ul class="govuk-list related-links">
        <li class="govuk-body-s govuk-!-padding-bottom-1"><a href="https://www.gov.uk/browse/education/find-course"
            class="govuk-link" rel="noreferrer noopener" target="_blank"><b>Apprenticeships, 14 to 19 education and
              training for
              work</b></a></li>
        <li class="govuk-body-s"><a href="https://www.gov.uk/browse/working/finding-job" class="govuk-link"
            rel="noreferrer noopener" target="_blank"><b>Find a job</b></a></li>
      </ul>


      <h2 class="govuk-heading-s">Elsewhere on the web</h2>
      <ul class="govuk-list related-links">
        <li class="govuk-body-s govuk-!-padding-bottom-1"><a
            href="https://www.apprenticeships.gov.uk/apprentices/about-apprenticeships" class="govuk-link"
            rel="noreferrer noopener" target="_blank">Apprenticeships: becoming an apprentice</a></li>
        <li class="govuk-body-s govuk-!-padding-bottom-1"><a href="https://nationalcareers.service.gov.uk/" class="govuk-link"
            rel="noreferrer noopener" target="_blank">National Careers Service: careers advice and guidance</a></li>
        <li class="govuk-body-s"><a href="https://www.skillsforcareers.education.gov.uk/" class="govuk-link"
            rel="noreferrer noopener" target="_blank">Skills for careers: advice on skills and training</a></li>
      </ul>
    </div>

  </div>
</div>


</div>








</main>
</div>
</div>
{% endblock %}