{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="..//application-question-page-qualification-type.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Education history</span>
    <h1 class="govuk-heading-l">Add a degree</h1>

    <form class="form" action="..//application-summary-qualifications" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="degree-type">
            Degree
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          For example, BSc Mechanical Engineering
        </div>
        <input class="govuk-input" id="degree-subject" name="degree-subect" type="degree"
          value="{{ data['degree-subject'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="university-name">
            University
          </label>
        </h1>
        <input class="govuk-input" id="university-name" name="university-name" type="name"
          value="{{ data['university-name'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <div class="govuk-form-group govuk-!-width-one-third">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Grade
          </label>
        </h1>
        <input class="govuk-input" id="degree-grade" name="degree-grade" type="grade"
          value="{{ data['degree-grade'] or '' }}">
      </div>
      <div class="govuk-!-padding-bottom-3"></div>


      <div class="govuk-button-group" href="..//application-summary-qualifications.html">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>


    </form>
  </div>
</div>

{% endblock %}