{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="search-listing.html">Back</a>
  </div>
</div>




{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Business Administration Apprentice</h1>
    <p class="govuk-caption-l" style="color:#0b0c0c">King Recruitment</p>
    <p class="govuk-caption-l govuk-!-margin-bottom-6" style="color:	#505a5f">Sheffield, S3 7GE</p>
    <p class="govuk-body govuk-!-margin-bottom-3">Closes in 30 days (Friday 4 August at 11:59pm)</p>

    <!-- Add the link with the heart icon -->

    <head>
      <title>Link with Heart Icon</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="#" class="heart-link govuk-!-padding-right-5">
        <i class="far fa-heart" style="color:		#1d70b8"></i> Save to my applications
      </a>

    </body>
    <!-- End the link with the heart icon -->

    <!-- Add the link with the print icon -->

    <head>
      <title>Print Icon with Link</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="#" class="print-link">
        <i class="fas fa-print" style="color:		#1d70b8"></i> Print this page
      </a>

    </body>
    <!-- End the link with the print icon -->

    <div class="govuk-!-padding-bottom-3"></div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>


<!-- START contents -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third content-list__sticky">
    <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation">
      <h2 class="gem-c-contents-list__title">
        Contents
      </h2>
      <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 1" data-track-label="#summary"
            data-track-options='{"dimension29":"Summary"}' href="#summary">Summary</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 2" data-track-label="#your-work"
            data-track-options='{"dimension29":"Your work"}' href="#your-work">Your work</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 3" data-track-label="#requirements"
            data-track-options='{"dimension29":"Requirements"}' href="#requirements">Requirements</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 4" data-track-label="#training"
            data-track-options='{"dimension29":"Training"}' href="#training">Training</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 5" data-track-label="#working-week-timetable"
            data-track-options='{"dimension29":"Working week timetable"}' href="#working-week-timetable">Working week
            timetable</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 6" data-track-label="#after-this-apprenticeship"
            data-track-options='{"dimension29":"After this apprenticeships"}' href="#after-this-apprenticeship">After
            this apprenticeship</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 7" data-track-label="#ask-a-question"
            data-track-options='{"dimension29":"Ask a question about this apprenticeship"}' href="#ask-a-question">Ask a
            question about this apprenticeship</a>

        </li>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 8" data-track-label="#apply-now"
            data-track-options='{"dimension29":"Apply now"}' href="#apply-now">Apply now</a>

        </li>
      </ol>
    </nav>
  </div>
  <!-- END contents -->


  <!--  intro -->
  <div class="govuk-grid-column-two-thirds">
    <h2 class=" govuk-heading-m govuk-!-margin-bottom-3" id="summary">Summary</h2>
    <p class="govuk-body">As the business administration apprentice, you will be responsible for
      supporting the day-to-day running of our office.
      You will need to provide helpful and fast support to both staff and clients. You may also need to take on some
      receptionist duties including answering the phone.</p>
    <!-- END intro -->

    <!-- START table -->
    <table class="govuk-table">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working for</th>
          <td class="govuk-table__cell">King Recruitment
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training with</th>
          <td class="govuk-table__cell">Sheffield Professional College
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Wage</th>
          <td class="govuk-table__cell">£10,159<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0"
              govuk-!-font-size-14 govuk-!-margin-><a href="https://www.gov.uk/national-minimum-wage-rates"
                class="govuk-link govuk-link--no-visited-state">What you’ll get paid as an apprentice</a></p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working hours</th>
          <td class="govuk-table__cell">37 hours a week<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0"
              style="color:#505a5f">
              Includes work and training</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Start date</th>
          <td class="govuk-table__cell">Around Monday 21 August
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Duration</th>
          <td class="govuk-table__cell">18 months (ends March 2024)</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Positions available</th>
          <td class="govuk-table__cell">1</td>
        </tr>
      </tbody>
    </table>
    <!-- END table -->

    <!-- START work -->
    <div class="govuk-!-padding-bottom-3"></div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="your-work">Your work</h2>
    <p class="govuk-body">You’ll be at the heart of keeping our busy office running smoothly:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        Be part of King Recruitment’s commitment to being an inclusive, open and supportive workplace
      </li>
      <li>
        Keep our databases and customer relationship management software (CRM) accurate and up-to-date, following best
        GDPR
        practice
      </li>
      <li>
        Assist members of the team to create reports that track company performance
      </li>
      <li>
        Take minutes of company meetings and transcribe and circulate them accurately and quickly
      </li>
      <li>
        Talk with clients on the phone and help schedule appointments for them to meet our recruiters
      </li>
      <li>
        Printing, photocopying, scanning, typing up minutes, general office support work including some receptionist
        duties and
        handling post
      </li>
    </ul>

    <h3 class="govuk-heading-s">About this company</h3>
    <p class="govuk-body">King Recruitment is a leading recruitment company specialising in medical, science and
      manufacturing recruitment. Our
      mission is to find people jobs that help them meet and exceed their potential. We’ve helped over 1,000 people
      into
      work.
      We have a staff of 15 employees and our office is busy.</p>

    <a href="www.kingrecruitment.com" class="govuk-link" rel="noreferrer noopener" target="_blank">Go to this employer’s
      website (opens in new
      tab)</a>

    <div class="govuk-!-padding-bottom-7"></div>
    <h3 class="govuk-heading-s">Disability Confident</h3>
    <p class="govuk-body">This employer has committed to support disabled people at work.</p>
    <img src="/public/images/disability-confident.png" width="130px">
    <div class="govuk-!-padding-bottom-3"></div>
    <a href="/" class="govuk-link" rel="noreferrer noopener" target="_blank">Learn more about
      Disability Confident (opens in new tab)</a>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END employment -->

    <!-- START requirements -->
    <h2 class="govuk-heading-m" id="requirements">Requirements</h2>

    <h3 class="govuk-heading-s">You must have</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>GCSE English (grade 4 or C)</li>
      <li>GCSE Maths (grade 4 or C)</li>
      <li>2 more GCSE subjects (grade 4 or C)</li>
    </ul>

    <h3 class="govuk-heading-s">This employer is also looking for</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Communication skills </li>
      <li>IT skills </li>
      <li>Attention to detail </li>
      <li>Organisation skills </li>
      <li>Administrative skills </li>
      <li>Team working </li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END requirements -->

    <!-- START training -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="training">Training</h2>
    <p class="govuk-body">You will be taught the Business Administrator Apprenticeship Standard LEVEL 3.</p>
    <p class="govuk-body">Attendance: 1 day per month alternating between Microsoft teams and in-person at Sheffield
      Professional College, Jam Avenue Campus.</p>


    <h3 class="govuk-heading-s">Apprenticeship training course</h3>
    <p class="govuk-body govuk-!-margin-bottom-3">Business administrator (level 3)</p>


    <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Skills you’ll learn
        </span>
      </summary>
      <div class="govuk-details__text">
        Content needs to go here about skills taught in the apprenticeship standard
      </div>
    </details>

    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1" style="color:#505a5f">Most people will do this
      qualification level:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16" style="color:#505a5f">
      <li>after their GCSES or A-levels</li>
      <li>after completing a level 2 apprenticeship</li>
      <li>when switching into a new career</li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END training -->


    <!-- START working week -->
    <h2 class="govuk-heading-m govuk-!-static-padding-bottom-5" id="working-week-timetable">Working week timetable</h2>


    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Work</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-margin-bottom-0">Location</p>
          </th>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-margin-bottom-0">King Recruitment</p>
            <p class="govuk-body govuk-!-margin-bottom-0">54 Bing Road</p>
            <p class="govuk-body govuk-!-margin-bottom-0">Sheffield</p>
            <p class="govuk-body govuk-!-margin-bottom-0">S3 7GE</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-margin-bottom-0">When you’ll work</p>
          </th>
          <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday</p>
            <p class="govuk-body govuk-!-margin-bottom-0">9am to 5pm</p>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Training</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-margin-bottom-0">Location</p>
          </th>
          <td class="govuk-table__cell">Sheffield Professional College</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-margin-bottom-0">When you’ll train</p>
          </th>
          <td class="govuk-table__cell">You’ll train on day release (normally one day each week away from work to train)
          </td>
        </tr>
      </tbody>
    </table>


    <h3 class="govuk-heading-s">Check your commute</h3>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="event-name">
              Your location
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            Enter your location
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Transport
          </label>
          <div id="subject-hint" class="govuk-hint">
            Select method
          </div>
          <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
            <option value="choose" selected>Choose transport</option>
            <option value="driving">Driving</option>
            <option value="bus-train">Bus/train</option>
            <option value="walking">Walking</option>
            <option value="cycling">Cycling</option>
          </select>
        </div>
      </div>
    </div>

    <img src="/public/images/Map-sheff-college.png" width="630px">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END working week -->


    <!-- START after this apprenticeship -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="after-this-apprenticeship">After this apprenticeship</h2>
    <p class="govuk-body">On successful completion, you might be able to continue working this role or continue learning
      and become a recruiter or work in our IT department.</p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- START after this apprenticeship -->

    <!-- START contact -->

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m" id="ask-a-question">Ask a question about this
        apprenticeship
      </caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-margin-bottom-0">Contact</p>
          </th>
          <td class="govuk-table__cell">Malcolm<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0"
              style="color:#505a5f">
              Sheffield Professional College</p>
          </td>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-margin-bottom-0">Phone number</p>
          </th>
          <td class="govuk-table__cell">0114 4960786</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-margin-bottom-0">Vacancy reference</p>
          </th>
          <td class="govuk-table__cell">VAC84739RH32R</td>
        </tr>
      </tbody>
    </table>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END contact -->

    <!-- START apply -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="apply-now">Apply now</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">Closes in 30 days (Friday 4 August at 11:59pm)</p>
    <p class="govuk-body govuk-body govuk-!-font-size-16" style="color:#505a5f">Posted 19 June</p>
    <form class="form" action="application-terms-conditions" method="post">
      <div class="govuk-button-group" href="application-terms-conditions.html">
        <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
          Apply for apprenticeship
        </button>
      </div>
      <p class="govuk-body govuk-body govuk-!-font-size-16">You’ll be asked to sign in with a
        GOV.UK One Login. You can create one at the same time as applying for this
        apprenticeship.</p>
    </form>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <!-- END apply -->
    <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Report this vacancy</a>


  </div>













  {% endblock %}