{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="search-listing.html">Back</a>
  </div>
</div>




{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Business Apprenticeship</h1>
    <p class="govuk-caption-l" style="color:#0b0c0c">AOF Consulting Ltd</p>
    <p class="govuk-caption-l govuk-!-margin-bottom-6" style="color:	#505a5f">Sheffield, S7 3PT</p>
    <p class="govuk-body govuk-!-margin-bottom-3">Closes on 30 October at 11:59pm</p>
    <div class="govuk-!-padding-bottom-3"></div>

    <!-- Add the link with the heart icon -->

    <head>
      <title>Link with Heart Icon</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="#" class="heart-link govuk-!-padding-right-5">
        <i class="far fa-heart" style="color:		#1d70b8"></i> Save to my favourites
      </a>

    </body>
    <!-- End the link with the heart icon -->

    <!-- Add the link with the print icon -->

    <head>
      <title>Print Icon with Link</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="#" class="print-link">
        <i class="fas fa-print" style="color:		#1d70b8"></i> Print
      </a>

    </body>
    <!-- End the link with the print icon -->

    <div class="govuk-!-padding-bottom-3"></div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>


<!-- START contents -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third content-list__sticky">
    <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation">
      <h2 class="gem-c-contents-list__title">
        Contents
      </h2>
      <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 1" data-track-label="#summary"
            data-track-options='{"dimension29":"Summary"}' href="#summary">Summary</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 2" data-track-label="#your-work"
            data-track-options='{"dimension29":"Your work"}' href="#your-work">What you’ll do on this apprenticeship</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 3" data-track-label="#requirements"
            data-track-options='{"dimension29":"Requirements"}' href="#requirements">Requirements</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 5" data-track-label="#working-week-timetable"
            data-track-options='{"dimension29":"Working week timetable"}' href="#working-week-timetable">Work and
            training timetable</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 4" data-track-label="#about-this-company"
            data-track-options='{"dimension29":"About this company"}' href="#about-this-company">About this company</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 6" data-track-label="#after-this-apprenticeship"
            data-track-options='{"dimension29":"After this apprenticeships"}' href="#after-this-apprenticeship">After
            this apprenticeship</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 7" data-track-label="#ask-a-question"
            data-track-options='{"dimension29":"Ask a question about this apprenticeship"}' href="#ask-a-question">Ask a
            question</a>

        </li>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 8" data-track-label="#apply-now"
            data-track-options='{"dimension29":"Apply now"}' href="#apply-now">Apply now</a>

        </li>
      </ol>
    </nav>
  </div>
  <!-- END contents -->


  <!--  intro -->
  <div class="govuk-grid-column-two-thirds">
    <h2 class=" govuk-heading-m govuk-!-margin-bottom-3" id="summary">Summary</h2>
    <p class="govuk-body">Are you a problem-solver with a strong analytical mind? We’re looking for an eager new
      apprentice to become part of our
      Business Analyst unit. An opportunity for those who like to collaborate to deliver digital change. Work with a
      range of
      clients and discover exciting new ways to do business.</p>
    <!-- END intro -->

    <!-- START table -->
    <table class="govuk-table">
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Working for</th>
          <td class="govuk-table__cell">AOF Consulting Ltd
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training with</th>
          <td class="govuk-table__cell">AOF Consulting Ltd
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Annual wage</th>
          <td class="govuk-table__cell">£25,000<p class="govuk-body govuk-!-margin-0">Bonus of up to £100 a month</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Hours</th>
          <td class="govuk-table__cell">40 hours a week</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Possible start date</th>
          <td class="govuk-table__cell">Friday 3 November
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Length of apprenticeship</th>
          <td class="govuk-table__cell">18 months</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Positions available</th>
          <td class="govuk-table__cell">1</td>
        </tr>
      </tbody>
    </table>
    <!-- END table -->

    <!-- START what you'll do -->
    <div class="govuk-!-padding-bottom-3"></div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="your-work">What you’ll do on this apprenticeship</h2>
    <h3 class="govuk-heading-s">Work</h3>
    <p class="govuk-body">During this apprenticeship, you’ll work on real-world projects that will have a direct impact
      on our clients'
      operations. You'll also learn from experienced professionals and gain the skills and knowledge you need to launch
      a
      successful career as a business analyst.</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        Help our Business Analyst Unit (BAU) investigate and document processes across a range of sectors, helping to
        disrupt
        and innovate.
      </li>
      <li>
        Collect data for the BAU and learn to create analysis that can inform business decisions and help our talented
        developer
        teams do their best work.
      </li>
      <li>
        Maintain key performance indicator (KPI) dashboards, using analytics to guide our success.
      </li>
      <li>
        Collaborate closely inside and outside AOF. By the end of this apprenticeship, you’ll know how to talk in
        developer
        speak and run workshops with important stakeholders.
      </li>
      <li>
        Learn Agile and Scrum ways of working. Learn best practices for documentation.
      </li>
    </ul>

    <h3 class="govuk-heading-s">Training course</h3>
    <p class="govuk-body govuk-!-margin-bottom-1" style="color:#0b0c0c">Business analyst</p>
    <p class="govuk-body" style="color:	#505a5f">Level 4 (equal to HNC)</p>
    <details class="govuk-details govuk-!-margin-top-0" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What you’ll learn
        </span>
      </summary>
      <div class="govuk-details__text">
        <li>Apply appropriate approaches to scope, plan and perform Business Analysis</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Communicate effectively in a variety of situations with a range of stakeholders</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Apply a range of structured investigation techniques to a business situation</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Produce an outline definition of a business situation using an appropriate technique</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Apply appropriate techniques to identify problems and opportunities within a business situation</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Support the identification and presentation of proposed actions to stakeholders in order to gain agreement
          for further
          analysis activity</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Apply appropriate techniques to analyse and document options and recommendations for change</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Elicit process information from stakeholders</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Model business processes using relevant techniques, standards, notation and software tools</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Analyse business process models to identify opportunities for improvement</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Produce models of redesigned business processes</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Elicit requirements from stakeholders to identify business and user needs</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Document clear functional and non-functional requirements in line with local standards</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Analyse documented requirements to remove duplication, conflict and overlap</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Prioritise requirements using an appropriate prioritisation approach</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Validate requirements with stakeholders</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Support the establishment of requirements traceability</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Elicit business data needs from relevant sources</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Support the development of simple data models using relevant techniques, standards, notation and software
          tools</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Document current business situations to enable gap analysis and decision making</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Support the development of models of future state business situations</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Identify key differences between current and future business situations</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Identify actions required to move from the current to future business situation</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Define acceptance criteria for business and system changes</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Support business acceptance of business and system changes</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Apply relevant techniques to research and identify stakeholders</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Analyse and document stakeholders' areas of interest and influence</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Support the development of cost/benefit analysis for proposed business changes</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Evaluate and document the key impacts on people, process, organisation, technology and information</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Present information in a manner appropriate to the audience</li>
      </div>
    </details>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END what you'll do -->

    <!-- START requirements -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="requirements">Requirements</h2>

    <h3 class="govuk-heading-s">Essential qualifications</h3>
    <p class="govuk-body">GCSEs or equivalent in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>English (grade 9 to 4 or A* to C)</li>
      <li>Maths (grade 9 to 4 or A* to C)</li>
    </ul>

    <p class="govuk-body">Let the employer know about other relevant qualifications and industry experience you have.
      They can adjust the
      apprenticeship to reflect what you already know.</p>

    <h3 class="govuk-heading-s">Skills and qualities</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Communication skills </li>
      <li>Attention to detail </li>
      <li>Organisation skills </li>
      <li>Problem solving skills </li>
      <li>Number skills </li>
      <li>Analytical skills </li>
      <li>Logical </li>
      <li>Team working </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END requirements -->


    <!-- START working week -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="working-week-timetable">Work and training timetable</h2>

    <h3 class="govuk-heading-s">Working hours</h3>
    <p class="govuk-body">Monday to Friday 8.30am to 5pm</p>

    <h3 class="govuk-heading-s">Work location</h3>
    <p class="govuk-body govuk-!-margin-bottom-0">13 Giant’s Walk</p>
    <p class="govuk-body govuk-!-margin-bottom-0">Sheffield</p>
    <p class="govuk-body govuk-!-margin-bottom-3">S7 3PT</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Check your travel to work
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Check your commute</h3>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="event-name">
              Enter your postcode
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            For example SW1A 2AA <a href="#" class="govuk-link"> use current location</a>
          </div>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="subject">
            Select a transport method
          </label>
          <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
            <option value="choose" selected>Select a method</option>
            <option value="eastmidlands">Car</option>
            <option value="eastofengland">Public transport</option>
            <option value="london">Walking</option>
            <option value="northeast">Cycling</option>
          </select>
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Show route
        </button>
        <img src="/public/images/Map-sheff-college.png" width="630px">
      </div>
    </details>

    <h3 class="govuk-heading-s">Training plan</h3>
    <p class="govuk-body">You’ll train online with our AoF Consulting trainers. You’ve have time during the work week to
      join seminars and learn.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END working week -->

    <!-- START about this company -->

    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="about-this-company">About this company</h2>
    <p class="govuk-body">A member of the award-winning Tech Together partnership, AOF Consulting is an award-winning IT
      services company founded
      in 2010. AOF Consulting believes in innovation through collaboration. The best solutions are developed when people
      from
      different backgrounds and with different expertise work together.</p>

    <p class="govuk-body">
      <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">www.aof.co (opens in new tab)</a>
    </p>

    <h3 class="govuk-heading-s">Company benefits</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>28 days holiday inclusive of bank holidays </li>
      <li>on-site parking </li>
    </ul>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



    <!-- START after this apprenticeship -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="after-this-apprenticeship">After this apprenticeship</h2>
    <p class="govuk-body">At the end of this apprenticeship, you’ll have a recognised qualification for an in-demand
      job. This apprenticeship will
      introduce you to other business analysts, software developers, product owners and designers from across AOF and
      other
      businesses. You’ll have gained a huge amount of knowledge, allowing you to take the next step with confidence.</p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- START after this apprenticeship -->

    <!-- START contact -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="ask-a-question">Ask a question
    </h2>

    <p class="govuk-body">The contact for this apprenticeship is:</p>
    <p class="govuk-body govuk-!-margin-bottom-0">Alex Hamshire</p>
    <p class="govuk-body govuk-!-margin-bottom-0">AOF Consulting Ltd</p>
    <p class="govuk-body govuk-!-margin-bottom-0">alex@aofconsulting.co</p>

    <p class="govuk-body">This reference code for this apprenticeship is VAC10000067393.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END contact -->

    <!-- START apply -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="apply-now">Apply now</h2>
    <p class="govuk-body">Closes on 30 October at 11:59pm</p>
    <p class="govuk-body">When you apply, you’ll be asked to sign in with a GOV.UK One Login. You can create one at the
      same time as applying for
      this apprenticeship.</p>
    <form class="form" action="govuk-one-login/sign-in-or-create" method="post">
      <div class="govuk-button-group" href="govuk-one-login/sign-in-or-create.html">
        <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
          Apply for apprenticeship
        </button>
      </div>
      <p class="govuk-body govuk-body govuk-!-font-size-16">Posted on 13 June</p>
    </form>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <!-- END apply -->
    <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Report this vacancy</a>


  </div>













  {% endblock %}