{% extends "govuk-one-login-header--login.html" %}
{% set serviceName = "Find an apprenticeship" %}

{# Set where you want this to go to #}
{% set signInLink = "search-page-signed-in" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}

<div class="govuk-width-container style">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
          aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Find an apprenticeship account deleted.
            </h3>
          </div>
        </div>


        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Search apprenticeships</h1>
        <p class="govuk-body-l govuk-!-margin-top-0" style="color:	#505a5f">10,408 apprenticeships currently listed
        </p>
      </div>
    </div>
  </main>
</div>

<div class="govuk-grid-row">
  <div
    style="background-color:#F3F2F1;   padding-top: 50px; padding-right: 30px; padding-bottom: 30px; padding-left: 30px">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="Keyword">
                What
              </label>
            </h1>
            <div id="event-name-hint" class="govuk-hint">
              Enter a job or company
            </div>
            <input class="govuk-input" id="Keyword" name="Keyword" type="Keyword" aria-describedby="event-name-hint">
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="where">
                Where
              </label>
            </h1>
            <div id="event-name-hint" class="govuk-hint">
              Enter a city or postcode
            </div>
            <input class="govuk-input" id="where" name="event-name" type="where" aria-describedby="event-name-hint">
          </div>
        </div>
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-one-half">
          <form class="form" action="search-listing" method="post">
            <div class="govuk-button-group" href="search-listing">
              <button class="govuk-button" data-module="govuk-button">
                Search
              </button>
              <a class="govuk-link" href="sector-selection-page">Browse by your interests instead</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>






{% endblock %}