{% extends "tp-layout.html" %}

{% block pageTitle %}
Where will the apprentices work? - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
        aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            8 Craft Centre, Leeds S10 3TR added.
          </h3>
        </div>
      </div>

      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Safety, Health & Environment
            Technician Apprentice{% endif %}</span>
          <h1 class="govuk-fieldset__heading">
            Add a location
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          Select one location
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item" data-target="one-location">
            <input class="govuk-radios__input" id="location-1" name="one-location" type="radio" value="location-1">
            <label class="govuk-label govuk-radios__label" for="location-1">
              Cheylesmore House, 5 Quinton Rd, Coventry CV1 2WT
            </label>
          </div>
          <div class="govuk-radios__item" data-target="one-location">
            <input class="govuk-radios__input" id="location-2" name="one-location" type="radio" value="location-2">
            <label class="govuk-label govuk-radios__label" for="location-2">
              Cheylesmore House, 5 Quinton Rd, Coventry CV1 2WT
            </label>
          </div>
          <div class="govuk-radios__item" data-target="one-location">
            <input class="govuk-radios__input" id="location-3" name="one-location" type="radio" value="location-3">
            <label class="govuk-label govuk-radios__label" for="location-3">
              Cheylesmore House, 5 Quinton Rd, Coventry CV1 2WT
            </label>
          </div>
          <div class="govuk-radios__item" data-target="one-location">
            <input class="govuk-radios__input" id="location-3" name="one-location" type="radio" value="location-3"
              checked>
            <label class="govuk-label govuk-radios__label" for="location-3">
              8 Craft Centre, Leeds S10 3TR
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <form action="add-new-location-postcode" method="post">
      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">
        Add a new location
      </button>
    </form>

    <form method="post" action="task-list?section2=completed">
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <a class="govuk-link" href="../dashboard">Cancel</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}