{% extends "gov-uk-signed-out.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="sign-in-old-faa.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Transfer your data</span>
        <h1 class="govuk-heading-l">Confirm your data transfer</h1>
        <p class="govuk-body"><b>Sarah</b>, we’ve found your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            personal details</li>
          <li>
            <b>12</b> started applications
          </li>
          <li>
            <b>8</b> submitted applications
          </li>
          <li>
            <b>24</b> saved vacancies
          </li>
        </ul>
        <div class="govuk-!-padding-bottom-5"></div>

        <p class="govuk-body">We’ll transfer this to your new Find an apprenticeship account:</p>
        <p class="govuk-body govuk-!-margin-bottom-1"><b>sarah.jones@professional-email.com</b></p>
        <p class="govuk-body" style="color:#505a5f">Sign in with GOV.UK One Login</p>
        <div class="govuk-!-padding-bottom-3"></div>

        <form class="form" action="finish-your-account-set-up" method="post">
          <div class="govuk-button-group" href="finish-your-account-set-up.html">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>
        </form>

      </div>
    </div>
  </main>
</div>



{% endblock %}