{% extends "gov-uk-one-search.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="search-listing.html">Back</a>
  </div>
</div>




{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Weapon Engineering - Engineering Technician Accelerated
      Apprenticeship</h1>
    <p class="govuk-caption-l" style="color:#0b0c0c">Royal Navy</p>
    <p class="govuk-caption-l govuk-!-margin-bottom-5" style="color:	#505a5f">Recruiting nationally</p>
    <p class="govuk-body govuk-!-margin-bottom-1">Closes on Friday 14 August</p>
    <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
      Posted 13 June</p>


    <!-- Add the link with the heart icon -->

    <head>
      <title>Link with Heart Icon</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="vacancy-page-saved-vacancy.html" class="heart-link govuk-!-padding-right-5">
        <i class="far fa-heart" style="color:		#1d70b8"></i> Save vacancy
      </a>

    </body>
    <!-- End the link with the heart icon -->

    <!-- Add the link with the print icon -->

    <head>
      <title>Print Icon with Link</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="#" class="print-link">
        <i class="fas fa-print" style="color:		#1d70b8"></i> Print
      </a>

    </body>
    <!-- End the link with the print icon -->

    <div class="govuk-!-padding-bottom-3"></div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>


<!-- START contents -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third content-list__sticky">
    <nav data-module="gem-track-click" aria-label="Contents" class="gem-c-contents-list" role="navigation">
      <h2 class="gem-c-contents-list__title">
        Contents
      </h2>
      <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 1" data-track-label="#summary"
            data-track-options='{"dimension29":"Summary"}' href="#summary">Summary</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 2" data-track-label="#your-work"
            data-track-options='{"dimension29":"Your work"}' href="#your-work">Work</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 5" data-track-label="#your-training"
            data-track-options='{"dimension29":"Your training"}' href="#your-training">Training</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 3" data-track-label="#requirements"
            data-track-options='{"dimension29":"Requirements"}' href="#requirements">Requirements</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 4" data-track-label="#about-this-company"
            data-track-options='{"dimension29":"About this company"}' href="#about-this-company">About this company</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 6" data-track-label="#after-this-apprenticeship"
            data-track-options='{"dimension29":"After this apprenticeships"}' href="#after-this-apprenticeship">After
            this apprenticeship</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 7" data-track-label="#ask-a-question"
            data-track-options='{"dimension29":"Ask a question about this apprenticeship"}' href="#ask-a-question">Ask a
            question</a>

        </li>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked"
            data-track-action="content_item 8" data-track-label="#apply-now"
            data-track-options='{"dimension29":"Apply now"}' href="#apply-now">Apply now</a>

        </li>
      </ol>
    </nav>
  </div>
  <!-- END contents -->


  <!--  intro -->
  <div class="govuk-grid-column-two-thirds">
    <h2 class=" govuk-heading-m govuk-!-margin-bottom-3" id="summary">Summary</h2>
    <p class="govuk-body">Joining the Royal Navy on the Accelerated Apprentice Scheme means accelerating your training
      and development within one
      of our most elite teams. You’ll be fast-tracked to real responsibility, getting your hands on some of the most
      advanced
      kit on the planet, and guaranteeing your warship’s performance as a state-of-the-art fighting machine.</p>
    <!-- END intro -->

    <!-- START table -->
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Annual wage
        </dt>
        <dd class="govuk-summary-list__value">
          £34,000.00
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Training course
        </dt>
        <dd class="govuk-summary-list__value">
          Engineering technician
          (Level 3)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours
        </dt>
        <dd class="govuk-summary-list__value">
          Shifts to be confirmed<p class="govuk-body govuk-!-font-size-14 govuk-!-margin-0">
            40 hours a week</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Possible start date
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Thursday 02 Jun 2026</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">3 year 5 months</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Positions available
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">96</p>
        </dd>
      </div>
    </dl>
    <!-- END table -->

    <!-- START work -->
    <div class="govuk-!-padding-bottom-3"></div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="your-work">Work</h2>
    <p class="govuk-body" style="color:	#505a5f">Most of your apprenticeship is spent working. You’ll learn on the job
      by getting hands-on experience.</p>
    <h3 class="govuk-heading-s">What you’ll do at work</h3>

    <p class="govuk-body">You’ll be embarking on one of the world’s top apprenticeship schemes, which means training
      will be a constant feature of
      your time with us. As well as helping you develop your Royal Navy career, everything you achieve will be valued by
      a
      future civilian employer.</p>

    <p class="govuk-body">Your job will focussing on:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        Learning how machinery works
      </li>
      <li>
        Repairing equipment
      </li>
      <li>
        Making components
      </li>
      <li>
        Using essential tools and techniques
      </li>
      <li>
        Safety procedures
      </li>
      <li>
        Take responsibility for the safety of your crewmates, whether that’s identifying a potential threat, or ensuring
        your
        ship can defend itself
      </li>
      <li>
        Maintain and operate complex communication, sensor and weapon systems, guaranteeing missiles, guns and
        anti-submarine
        torpedoes are fully operational
      </li>
      <li>
        Get a hold of some of the most sophisticated electronic equipment in existence, working with your team, and
        under the
        guidance of the Weapon Engineer Officer
      </li>
      <li>
        Complete daily rounds, checking equipment to ensure the ship remains operational, and finding innovative
        solutions when
        there’s a problem
      </li>
    </ul>

    <h3 class="govuk-heading-s">Where you’ll work</h3>
    <p class="govuk-body">This apprenticeship is available across England.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END work -->


    <!-- START training -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="your-training">Training</h2>
    <p class="govuk-body style=" style="color:	#505a5f">Apprenticeships include time away from working for specialist
      training. You’ll study to gain professional knowledge and
      skills.</p>
    <h3 class="govuk-heading-s">College or training organisation</h3>
    <p class="govuk-body">ROYAL NAVY</p>
    <h3 class="govuk-heading-s">Your training course</h3>
    <p class="govuk-body govuk-!-margin-bottom-1" style="color:#0b0c0c">Engineering technician
      (Level 3)</p>
    <p class="govuk-body" style="color:	#505a5f">Equal to A levels</p>
    <details class="govuk-details govuk-!-margin-top-0" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Course contents
        </span>
      </summary>
      <div class="govuk-details__text">
        <li>Skilled in the use of multiple IT packages and systems relevant to the organisation in order to: write
          letters or
          emails, create proposals, perform financial processes, record and analyse data. Examples include MS
          Office or equivalent
          packages. Able to choose the most appropriate IT solution to suit the business problem. Able to update
          and review
          databases, record information and produce data analysis where required.</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Produces accurate records and documents including: emails, letters, files, payments, reports and
          proposals. Makes
          recommendations for improvements and present solutions to management. Drafts correspondence, writes
          reports and able to
          review others' work. Maintains records and files, handles confidential information in compliance with
          the organisation's
          procedures. Coaches others in the processes required to complete these tasks.</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Exercises proactivity and good judgement. Makes effective decisions based on sound reasoning and is
          able to deal with
          challenges in a mature way. Seeks advice of more experienced team members when appropriate.</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Builds and maintains positive relationships within their own team and across the organisation.
          Demonstrates ability to
          influence and challenge appropriately. Becomes a role model to peers and team members, developing
          coaching skills as
          they gain area knowledge.</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Demonstrates good communication skills, whether face-to-face, on the telephone, in writing or on
          digital platforms. Uses
          the most appropriate channels to communicate effectively. Demonstrates agility and confidence in
          communications,
          carrying authority appropriately. Understands and applies social media solutions appropriately. Answers
          questions from
          inside and outside of the organisation, representing the organisation or department.</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Completes tasks to a high standard. Demonstrates the necessary level of expertise required to complete
          tasks and applies
          themself to continuously improve their work. Is able to review processes autonomously and make
          suggestions for
          improvements. Shares administrative best-practice across the organisation e.g. coaches others to perform
          tasks
          correctly. Applies problem-solving skills to resolve challenging or complex complaints and is a key
          point of contact for
          addressing issues.</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Takes responsibility for initiating and completing tasks, manages priorities and time in order to
          successfully meet
          deadlines. Positively manages the expectations of colleagues at all levels and sets a positive example
          for others in the
          workplace. Makes suggestions for improvements to working practice, showing understanding of implications
          beyond the
          immediate environment (e.g. impact on clients, suppliers, other parts of the organisation). Manages
          resources e.g.
          equipment or facilities. Organises meetings and events, takes minutes during meetings and creates action
          logs as
          appropriate. Takes responsibility for logistics e.g. travel and accommodation.</li>
        <div class="govuk-!-padding-bottom-3"></div>
        <li>Uses relevant project management principles and tools to scope, plan, monitor and report. Plans
          required resources to
          successfully deliver projects. Undertakes and leads projects as and when required.</li>
      </div>
    </details>

    <h3 class="govuk-heading-s">Your training plan</h3>
    <p class="govuk-body">You complete 10 weeks of basic naval training, followed by marine engineering training at HMS
      Sultan.</p>

    <h3 class="govuk-heading-s">Additional training information</h3>
    <p class="govuk-body ">Once you have completed your training you will be a qualified Weapon Engineering -
      Engineering Technician.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END training -->

    <!-- START requirements -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="requirements">Requirements</h2>

    <h3 class="govuk-heading-s">Essential qualifications</h3>
    <p class="govuk-body">GCSEs or equivalent in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>English (grade 3 to 2 or D to E)</li>
      <li>Maths (grade 3 to 2 or D to E)</li>
    </ul>

    <p class="govuk-body">Let the employer know about other relevant qualifications and industry experience you have.
      They can adjust the
      apprenticeship to reflect what you already know.</p>

    <h3 class="govuk-heading-s">Skills</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Communication skills </li>
      <li>IT skills </li>
      <li>Attention to detail </li>
      <li>Organisation skills </li>
      <li>Administrative skills </li>
      <li>Team working </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END requirements -->

    <!-- START about this company -->

    <h2 class="govuk-heading-m govuk-!-margin-bottom-5" id="about-this-company">About this company</h2>
    <p class="govuk-body">The Royal Navy (RN) is responsible for the protection of British interests at home and around
      the World. 95% of all
      world trade passes through the high seas and every year Britain imports £524 billion worth of goods. The RN takes
      an
      active part in the protection of British Shipping. Around the United Kingdom the RN protects vital fishing stocks
      by
      monitoring fishing activities in our waters. We recruit throughout the year, so please ignore Key Dates.</p>
    <p class="govuk-body">
      <a href="https://www.royalnavy.mod.uk/careers" class="govuk-link" rel="noreferrer noopener"
        target="_blank">www.royalnavy.mod.uk/careers (opens in new
        tab)</a>
    </p>

    <h3 class="govuk-heading-s">Company benefits</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>An excellent non-contributory pension scheme – we pay into it for you, so you don’t have to sacrifice any
        salary </li>
      <li>Six weeks of paid holiday every year </li>
      <li>Free medical and dental care </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END about this company -->


    <!-- START after this apprenticeship -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="after-this-apprenticeship">After this apprenticeship</h2>
    <p class="govuk-body">You’ll start your naval career as a Probationary Leading Hand. With experience and further training, you could be
    promoted to Petty Officer and beyond. It will also be recognised by Professional Institutions, so you can take a streamlined route to registering as an
    EngTech or an IEng. It takes place in two distinct environments: at onshore training facilities and on-board operational
    ships.</p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END after this apprenticeship -->

    <!-- START contact -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="ask-a-question">Ask a question
    </h2>

    <p class="govuk-body">The contact for this apprenticeship is:</p>
    <p class="govuk-body govuk-!-margin-bottom-0">Malcolm Gladstone</p>
    <p class="govuk-body govuk-!-margin-bottom-0">HR manager, Royal navy</p>
    <p class="govuk-body govuk-!-margin-bottom-0">malcolm@royalnavy.com</p>
    <p class="govuk-body">01234 56678</p>
    <p class="govuk-body">This reference code for this apprenticeship is VAC10000067393.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- END contact -->

    <!-- START apply -->
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="apply-now">Apply now</h2>
    <p class="govuk-body">Closes on Friday 14 August</p>
    <form class="form" action="./apply/application-task-list-new-user" method="post">
      <div class="govuk-button-group govuk-!-margin-top-5" href="./apply/application-task-list-new-user.html">
        <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
          Apply on comapny website
        </button>
      </div>
    </form>

    <!-- END apply -->

  </div>













  {% endblock %}