{% extends "layout-guidance.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-question-page-hobbies-interests-input.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Application questions</span>
    <h1 class="govuk-heading-l">Role questions</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          what are your main strengths?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['main-strengths'] or 'My biggest strength is that I can think on my feet and can work under a lot
          of
          pressure. As an event manager at Sarah’s boutique, we were organizing an IT conference that needed a
          number of
          last-minute changes - due to a speaker
          canceling because of an emergency and 2 of our volunteers not being able to show up.
          So, we allocated more time to each speaker and added a QA section at the end of each speech. We also
          encouraged the present speakers to talk about their business and personal experience more in-depth after
          they
          were done
          with their speech. As for being understaffed, one day before the conference, I reached out to my network
          and
          found 2 students
          who were willing to help out. I personally met them 2 hours before the conference and got them up to speed
          with
          everything we were doing for the day, and gave them their tasks.' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-main-strengths.html">
            Change<span class="govuk-visually-hidden"> main strengths</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What interests you about this apprenticeship?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['like-to-learn'] or 'I would like to learn more about business and leadership. I feel that working
          for your company will give me many opportunities to expand my knowledge in these areas while helping your
          team
          to grow and your company to be more
          profitable.' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-interests-you-about-this-apprenticeship.html">
            Change<span class="govuk-visually-hidden"> what interests you about this apprenticeship</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What are your hobbies and interests?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['add-hobbies'] or 'I help maintain vintage cars with my dad. We normally
          spend a day a week in his
          workshop where we do specialist repairs
          on cards built between 1960 and 1980. I help him with engine rebuilds, bodywork, cleaning and general
          maintenance.
          This has helped me understand how to be useful in a workshop and has given me a good understanding of
          engines
          and
          cars.' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="application-question-page-interests-you-about-this-apprenticeship.html">
            Change<span class="govuk-visually-hidden"> hobbies and interests</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>


<form action="application-task-list-new-user" method="post" novalidate>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Have you completed this section?
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="have-you-completed-this-section" name="completed-role-questions"
            type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section">
            Yes, I’ve completed this section
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="have-you-completed-this-section-2" name="completed-role-questions"
            type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="have-you-completed-this-section-2">
            No, I’ll come back to it later
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>



</div>
</div>


{% endblock %}