{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
</head>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Your applications</h1>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="#1">Started</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./submitted.html">Submitted</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./successful.html">Successful</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./unsuccessful-02.html">Unsuccessful</a>
            </li>
          </ul>

        </nav>

        <h2 class="govuk-heading-m">Started</h2>
        <div class="govuk-inset-text">
          Apply as soon as you can. A company may close their vacancy early if they receive a lot of applications.
        </div>
        <div class="govuk-!-padding-bottom-7"></div>

        <!-- START cards -->
        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link govuk-link--no-visited-state" id="vacancy-aof" href="..//vacancy-page-started-application.html">
            Business Apprenticeship</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">AOF Consulting Ltd</p>
        <p class="govuk-body" style="color:#505a5f">
          Recruiting nationally</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Started on 28 October 2024</p>
        <p class="govuk-body" style="color:#505a5f">
          Closes on Tuesday 5 April 2025
        </p>
 
        <style>
          .govuk-summary-list__actions-list-item+.govuk-summary-list__actions-list-item {
            margin-left: -15px;
          }
        </style>


        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="#">Continue application<span
                class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
              href="./delete-application-started-nationwide.html">Delete<span class="govuk-visually-hidden"> contact
                details</span></a></li>
            
        </ul>



        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        
        <div style="display: flex; justify-content: space-between; align-items: start;">
          <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1" style="margin-bottom: 0;">
            <a class="das-search-results__link govuk-link--no-visited-state" id="vacancy-page-02" href="..//vacancy-page-started-application.html">
              Business Administration Apprentice
            </a>
          </h2>
          <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-2" style="white-space: nowrap;">
            Foundation
          </strong>
        </div>
        
        <p class="govuk-body govuk-!-margin-bottom-0">King Recruitment</p>
        <p class="govuk-body" style="color:#505a5f">
          Sheffield (S3 7GE)</p>

        <p class="govuk-body govuk-!-margin-bottom-0">Started on 21 October 2024</p>
        <p class="govuk-body" style="color:#505a5f"> 
          Closes tomorrow (Friday 7 February 2025)
        </p>

        
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="#">Continue
              application<span class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
              href="./delete-application-started-multi-locations.html">Delete<span class="govuk-visually-hidden">
                contact
                details</span></a></li>
        </ul>



        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6 ">
        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link govuk-link--no-visited-state" id="vacancy-page-02" href="..//vacancy-page-started-application.html">
            Business Administration Apprentice</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">FIELDS studio</p>
        <p class="govuk-body" style="color:#505a5f">
          Leeds, London, Manchester</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Started on 12 October 2024</p>
        <p class="govuk-body" style="color:#505a5f">
          Closes on Monday 18 May 2025
        </p>

        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="#">Continue application<span
                class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
              href="./delete-application-started-multi-locations.html">Delete<span class="govuk-visually-hidden">
                contact
                details</span></a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6 ">
        <!-- END cards -->

        <h2 class="govuk-heading-m govuk-!-margin-top-9">Expired</h2>
        <p class="govuk-body">Applications you started for vacancies that closed.
        </p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Show expired vacancies
            </span>
          </summary>
          <div class="govuk-details__text">
            <hr class="govuk-section-break govuk-section-break-non-visible govuk-!-margin-bottom-6 ">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Business admin apprenticeship</h2>
            <p class="govuk-body govuk-!-margin-bottom-0">Luna tech LTD</p>
            <p class="govuk-body" style="color:#505a5f">
              Manchester (M1D 7SA)</p>
            <p class="govuk-body govuk-!-margin-bottom-0">Started on 30 August 2024</p>
            <p class="govuk-body">
              Closed on Tuesday 21 October 2024
            </p>

            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
                  href="./delete-application-expired.html">Delete<span class="govuk-visually-hidden"> contact
                    details</span></a></li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 ">

            <hr class="govuk-section-break govuk-section-break-non-visible govuk-!-margin-bottom-6 ">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Business analyst apprenticeship</h2>
            <p class="govuk-body govuk-!-margin-bottom-0">Spire solicitors LTD</p>
            <p class="govuk-body" style="color:#505a5f">
              Bristol, Leeds, Manchester</p>
            <p class="govuk-body govuk-!-margin-bottom-0">Started on 21 July 2024</p>
            <p class="govuk-body">
              Closed on Monday 28 September 2024
            </p>

            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
                  href="./delete-application-expired-multi-locations.html">Delete<span class="govuk-visually-hidden">
                    contact
                    details</span></a></li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 ">

            <hr class="govuk-section-break govuk-section-break-non-visible govuk-!-margin-bottom-6 ">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Business administration apprenticeship</h2>
            <p class="govuk-body govuk-!-margin-bottom-0">UK Doors and Windows Limited</p>
            <p class="govuk-body" style="color:#505a5f">
              Recruiting nationally</p>
            <p class="govuk-body govuk-!-margin-bottom-0">Started on 3 June 2024</p>
            <p class="govuk-body">
              Closed on Wednesday 13 August 2024
            </p>

            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
                  href="./delete-application-expired-nationwide.html">Delete<span class="govuk-visually-hidden">
                    contact
                    details</span></a></li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 ">
          </div>
        </details>


      </div>
    </div>
  </main>
</div>

{% endblock %}