{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
</head>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Your applications</h1>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="#1">Started</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./submitted.html">Submitted</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./successful.html">Successful</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="./unsuccessful-02.html">Unsuccessful</a>
            </li>
          </ul>

        </nav>

        <h2 class="govuk-heading-m">Started</h2>
        <div class="govuk-inset-text">
          Apply as soon as you can. A company may close their vacancy early if they receive a lot of applications.
        </div>
        <div class="govuk-!-padding-bottom-3"></div>



        <!-- START cards -->
        
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        
        <div style="display: flex; justify-content: space-between; align-items: start;">
          <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1" style="margin-bottom: 0;">
            <a class="das-search-results__link govuk-link--no-visited-state" id="vacancy-page-02" href="/v34/faa/apply/application-task-list-new-user-completed-2">
            Construction apprentice
            </a>
          </h2>
          <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-2" style="white-space: nowrap;">
            Foundation
          </strong>
        </div>
        
        <p class="govuk-body govuk-!-margin-bottom-0">JONES BUILDERS</p>
        <p class="govuk-body" style="color:#505a5f">
          Bristol (BS2 2JA)</p>

        <p class="govuk-body govuk-!-margin-bottom-0">Started on 4 May 2025</p>
        <p class="govuk-body" style="color:#505a5f"> 
          Closes on Tuesday 28 May 2025
        </p>

        
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="#">Continue
              application<span class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
              href="./delete-application-started-multi-locations.html">Delete<span class="govuk-visually-hidden">
                contact
                details</span></a></li>
        </ul>




        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6 ">
        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link govuk-link--no-visited-state" id="vacancy-page-02" href="..//vacancy-page-started-application.html">
            Site Management Apprenticeship</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Cornwall Construction Co</p>
        <p class="govuk-body" style="color:#505a5f">
          Newquay (PL13 6PJ)</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Started on 31 March 2025</p>
        <p class="govuk-body" style="color:#505a5f">
        Closes on Tuesday 3 June 2025
        </p>

        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="#">Continue application<span
                class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
              href="./delete-application-started-multi-locations.html">Delete<span class="govuk-visually-hidden">
                contact
                details</span></a></li>
        </ul>       


        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6 ">
        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link govuk-link--no-visited-state" id="vacancy-page-02"
            href="..//vacancy-page-started-application.html">
            Bricklayer Apprentice</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">BRICK-A-BRACK CONSTRUCTION LTD</p>
        <p class="govuk-body" style="color:#505a5f">
          Bristol (BS1 1HK)</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Started on 31 March 2025</p>
        <p class="govuk-body" style="color:#505a5f">
          Closes on Tuesday 3 June 2025
        </p>
        
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="#">Continue
              application<span class="govuk-visually-hidden"> contact details</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
              href="./delete-application-started-multi-locations.html">Delete<span class="govuk-visually-hidden">
                contact
                details</span></a></li>
        </ul>
       
        <!-- END cards -->


{% endblock %}