{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="equality-question-white-background.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your equality information</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sex
        </dt>
        <dd class="govuk-summary-list__value">
          Female
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="equality-question-sex-gender.html">
            Change<span class="govuk-visually-hidden"> sex</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the gender you identify with the same as your sex registered at birth?
        </dt>
        <dd class="govuk-summary-list__value">Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="equality-question-sex-gender.html">
            Change<span class="govuk-visually-hidden"> Is the gender you identify with the same as your sex registered
              at birth?</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ethnic group
        </dt>
        <dd class="govuk-summary-list__value">
          White
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="equality-question-ethinic-group.html">
            Change<span class="govuk-visually-hidden"> ethnic group</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Describe your ethnic background
        </dt>
        <dd class="govuk-summary-list__value">
          British
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="equality-question-white-background.html">
            Change<span class="govuk-visually-hidden"> ethnic background</span>
          </a>
        </dd>
      </div>
    </dl>
    <p class="govuk-body">If you need to, you can change these answers at any point in <b>Settings</b>.</p>

    <form class="form" action="success-page-first-application" method="post">
      <div class="govuk-button-group" href="success-page-first-application.html">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>
    </form>



  </div>
</div>


{% endblock %}