{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="equality-question-sex-gender.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Equality questions</span>
    <h1 class="govuk-heading-l">What is your ethnic group?</h1>

    <form class="form" action="equality-question-white-background" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yourethnicgroup" name="yourethnicgroup" type="radio" value="white">
              <label class="govuk-label govuk-radios__label" for="yourethnicgroup">
                White
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yourethnicgroup-2" name="yourethnicgroup" type="radio"
                value="mixed-or-multiple-ethnic-groups">
              <label class="govuk-label govuk-radios__label" for="yourethnicgroup-2">
                Mixed or multiple ethnic groups
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yourethnicgroup-3" name="yourethnicgroup" type="radio" value="asian-or-british-asain">
              <label class="govuk-label govuk-radios__label" for="yourethnicgroup-3">
                Asian or Asian British
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yourethnicgroup-4" name="yourethnicgroup" type="radio"
                value="black-african-carribbean-black-british">
              <label class="govuk-label govuk-radios__label" for="yourethnicgroup-4">
                Black, African, Caribbean or Black British
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yourethnicgroup-5" name="yourethnicgroup" type="radio"
                value="nother-ethnic-group">
              <label class="govuk-label govuk-radios__label" for="yourethnicgroup-5">
                Other ethnic group
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yourethnicgroup-6" name="yourethnicgroup" type="radio"
                value="prefer-not-to-say">
              <label class="govuk-label govuk-radios__label" for="yourethnicgroup-6">
                Prefer not to say
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group" href="equality-question-white-background.html">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>


  </div>
</div>


{% endblock %}