{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukOneLoginServiceHeader({
serviceName: "Find an apprenticeship",
navigationItems: [{
href: "../../faa/search-page-02.html",
text: 'Search',
id: 'servicelink1'
},
{
href: "#",
text: 'Saved vacancies',
id: 'servicelink2'
},
{
href: "../../faa/applications/started.html",
text: 'Applications',
activeLinkId: 'servicelink3'
},
{
href: "#",
text: 'Settings',
id: 'servicelink4'
}],
id: 'servicelink4'
}) }}
{% endblock %}