{% extends "gov-uk-one-search.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="search-page-02.html">Back</a>
{% endblock %}

{% block content %}

<!-- START title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">5 apprenticeships found</h1>
  </div>
</div>
<div class="govuk-!-padding-bottom-3"></div>
<!-- END title -->

<!-- START filter -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <!-- MOJ filter START -->

    <div class="moj-filter">

      <div class="das-filter__header">
        <div class="govuk-!-padding-bottom-3"></div>

        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m govuk-!-padding-left-4">Filter</h2>
        </div>

        <div class="moj-filter__header-action">

        </div>

      </div>

      <div class="moj-filter__content">

        <div class="moj-filter__selected">


          <div class="moj-filter__selected-heading">

            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>

            <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear</a></p>
            </div>

          </div>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">What</h3>

          <ul class="moj-filter-tags">

            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this
                  filter</span> Admin</a></li>


          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Where</h3>

          <ul class="moj-filter-tags">

            <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this
                  filter</span> Sheffield (within 10 miles)</a></li>

          </ul>

          <div class="govuk-!-padding-bottom-4"></div>

          <head>
            <title>Link with Bell Icon</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
          </head>

          <body>

            <a href="search-listing-search-alert-saved.html" class="bell-link govuk-!-padding-right-5"
              style="font-weight: bold;">
              <i class="far fa-bell" style="color: #1d70b8"></i> Create an alert for this search
            </a>


          </body>


        </div>

        <div class="moj-filter__options">

          <div class="govuk-form-group">
            <label for="Keyword" class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-0">What
              <p class="govuk-hint">Enter a job or company</p>
            </label>
            <input name="keyword" type="search" title="Search" class="govuk-input" id="Keyword" value="">
          </div>

          <div class="govuk-form-group">
            <label for="Location" class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-0">Where
              <p class="govuk-hint">Enter a city or postcode</p>
            </label>
            <input name="Location" type="search" title="Search" class="govuk-input" id="Location" value="">
            <div id="Location" class="govuk-hint govuk-!-margin-top-2">
              Within
            </div>
            <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
              <option value="published">2 miles</option>
              <option value="published">5 miles</option>
              <option value="updated" selected>10 miles</option>
              <option value="views">15 miles</option>
              <option value="comments">20 miles</option>
              <option value="comments">30 miles</option>
              <option value="comments">40 miles</option>
              <option value="comments">Across England</option>
            </select>
          </div>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default ">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading ">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Apprenticeship level
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <p class="govuk-body style=" style="color:	#505a5f">Select the level you want to apply for</p>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level-2" name="levels" type="checkbox" value="2" />
                        <label class="govuk-label govuk-checkboxes__label" for="level-2">
                          Level 2
                        </label>
                        <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                          Equal to GCSEs
                        </div>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level-3" name="levels" type="checkbox" value="3" />
                        <label class="govuk-label govuk-checkboxes__label" for="level-3">
                          Level 3
                        </label>
                        <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                          Equal to A-levels
                        </div>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level-4" name="levels" type="checkbox" value="4" />
                        <label class="govuk-label govuk-checkboxes__label" for="level-4">
                          Level 4
                        </label>
                        <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                          Equal to a HNC
                        </div>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level-5" name="levels" type="checkbox" value="5" />
                        <label class="govuk-label govuk-checkboxes__label" for="level-5">
                          Level 5
                        </label>
                        <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                          Equal to a HND or foundation
                        </div>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level-6" name="levels" type="checkbox" value="6" />
                        <label class="govuk-label govuk-checkboxes__label" for="level-6">
                          Level 6 - degree apprenticeship
                        </label>
                        <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                          Equal to an undergraduate degree
                        </div>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="level-7" name="levels" type="checkbox" value="7" />
                        <label class="govuk-label govuk-checkboxes__label" for="level-7">
                          Level 7 - degree apprenticeship
                        </label>
                        <div id="level-item-hint" class="govuk-hint govuk-checkboxes__hint">
                          Equal to a master’s degree
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3"><a
                      class="govuk-link govuk-link--no-visited-state"
                      href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"
                      target="_blank" rel="external">What
                      qualification levels mean
                      (opens in new tab)</a></p>
                </div>
              </div>
            </div>


            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Job categories
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-2">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-2868f657-3279-452a-9196-24f7294bd950"
                          name="sectors" type="checkbox" value="Agriculture, environmental and animal care">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-2868f657-3279-452a-9196-24f7294bd950">
                          Agriculture, environmental and animal care
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-7e11990f-1967-4fdc-9f56-b49893d73645"
                          name="sectors" type="checkbox" value="Business and administration">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-7e11990f-1967-4fdc-9f56-b49893d73645">
                          Business and administration
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-67f93420-76b7-4e76-b3c0-f006c302e6b7"
                          name="sectors" type="checkbox" value="Care services">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-67f93420-76b7-4e76-b3c0-f006c302e6b7">
                          Care services
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-29bfe27e-95d8-4e5c-9be2-b538bb38a452"
                          name="sectors" type="checkbox" value="Catering and hospitality">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-29bfe27e-95d8-4e5c-9be2-b538bb38a452">
                          Catering and hospitality
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-13e44e4e-1b5b-4e4d-b804-a832483d2a76"
                          name="sectors" type="checkbox" value="Construction and the built environment">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-13e44e4e-1b5b-4e4d-b804-a832483d2a76">
                          Construction and the built environment
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-821e4541-3dfd-470e-8435-cb9701704a48"
                          name="sectors" type="checkbox" value="Creative and design">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-821e4541-3dfd-470e-8435-cb9701704a48">
                          Creative and design
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-94d46af2-9298-4f8d-a127-ea04ac019cee"
                          name="sectors" type="checkbox" value="Digital">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-94d46af2-9298-4f8d-a127-ea04ac019cee">
                          Digital
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-13afbfa6-592f-4841-96b2-4d1c8ee5363b"
                          name="sectors" type="checkbox" value="Education and early years">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-13afbfa6-592f-4841-96b2-4d1c8ee5363b">
                          Education and early years
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-407af951-9317-446a-bf7d-0da752c7a092"
                          name="sectors" type="checkbox" value="Engineering and manufacturing">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-407af951-9317-446a-bf7d-0da752c7a092">
                          Engineering and manufacturing
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-cb50c085-d71b-47e2-b624-b034a6148201"
                          name="sectors" type="checkbox" value="Hair and beauty">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-cb50c085-d71b-47e2-b624-b034a6148201">
                          Hair and beauty
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-02b509c1-319f-4825-8526-3dbd8760baf9"
                          name="sectors" type="checkbox" value="Health and science">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-02b509c1-319f-4825-8526-3dbd8760baf9">
                          Health and science
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-ca87e41b-6ab9-4291-bb5f-c084a029d010"
                          name="sectors" type="checkbox" value="Legal, finance and accounting">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-ca87e41b-6ab9-4291-bb5f-c084a029d010">
                          Legal, finance and accounting
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-ff16a7b9-8c77-4786-8a2b-c5ee5f562743"
                          name="sectors" type="checkbox" value="Protective services">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-ff16a7b9-8c77-4786-8a2b-c5ee5f562743">
                          Protective services
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-29ddf300-5a11-403a-8920-c53284571eb5"
                          name="sectors" type="checkbox" value="Sales, marketing and procurement">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-29ddf300-5a11-403a-8920-c53284571eb5">
                          Sales, marketing and procurement
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="route-8576ae03-4f55-441f-adeb-ec3bcf81d265"
                          name="sectors" type="checkbox" value="Transport and logistics">
                        <label class="govuk-label govuk-checkboxes__label"
                          for="route-8576ae03-4f55-441f-adeb-ec3bcf81d265">
                          Transport and logistics
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <label for="disability"
                class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-0">Disability
                Confident scheme
                <p class="govuk-hint">Companies that have comitted to support people with disabilities and long-term
                  health
                  conditions</p>
              </label>
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="onlyshow" name="disability" type="checkbox" value="yes" />
                  <label class="govuk-label govuk-checkboxes__label" for="disability">
                    Only show Disability Confident companies
                  </label>
                </div>
              </div>
            </fieldset>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">
            <button type="submit" class="govuk-button" id="filters-submit-second">Apply filters</button>
          </div>

        </div>

      </div>

    </div>
  </div>

  <!-- END filter -->


  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">

    <!-- START controls section -->

    <!-- START map -->
    <div class="icon-link-container" style="float:left; width:50%;">
      <img src="/public/images/map-icon.png" width="30px" alt="Icon" class="icon">
      <a href="map-02" class="link">Open map</a>
    </div>



    <!-- END map -->

    <!-- START sort -->
    <div style="float:right; width:50%;">
      <div class="govuk-form-group" style="text-align: right;">
        <label for=" sorting">Sort results</label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="recent">Most recent</option>
          <option value="distance">Distance</option>
          <option value="closing">Closing soon</option>
          <option value="salary-decending" selected>Wage high to low</option>
          <option value="salary-accending">Wage low to high</option>
        </select>
      </div>
    </div>
    <div class="govuk-!-padding-bottom-9"></div>
    <div class="govuk-!-padding-bottom-2"></div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">
  </div>

  <!-- END sort -->

  <!-- END controls section -->

  <!-- START competative salary -->
  <div class="govuk-grid-column-two-thirds"
    style="background-color:#F3F2F1; padding-top: 30px; padding-right: 30px; padding-bottom: 20px; padding-left: 30px">

    <h3 class="govuk-heading-s  das-search-results__heading">
      2 vacancies can’t be shown in this list
    </h3>
    <p class="govuk-body">We have not included vacancies where we do not know the annual wage.</p>
    <p class="govuk-body">
      <a href="search-listing-nhs-salary-sort.html" class="govuk-link govuk-link--no-visited-state">Hide vacancies
        without an wage</a>
    </p>
  </div>

  <!-- END competative salary -->



  <!-- START cards -->
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
            <a class="das-search-results__link" id="vacancy-page-nhs" href="vacancy-page-nhs.html">
              NCL DESP Apprentice Administration Assistant (from NHS Jobs)</a>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">North Middlesex University Hospital NHS Trust</p>
          <p class="govuk-body" style="color:#505a5f">
            Edmonton (N18 1QX)</p>
          <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 7.6 miles</p>
          <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> See more details on NHS Jobs
          </p>
          <p class="govuk-body"><b>Wage</b> Depends on experience</p>
          <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes Monday 4 December
          </p>
          <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
            Posted 7 October</p>
        </div>
        <!-- Add the link with the heart icon -->
        <div class="govuk-grid-column-one-third" style="text-align: right;">


          <head>
            <title>Link with Heart Icon</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
          </head>

          <body>

            <a href="#" class="heart-link">
              <i class="far fa-heart" style="color:		#1d70b8"></i>
            </a>

          </body>
        </div>
        <!-- End the link with the heart icon -->
      </div>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 ">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
            <a class="das-search-results__link" id="vacancy-page-fields-studio" href="vacancy-page-fields-studio.html">
              Apprentice - Administration Assistant</a>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">CRT - Care Services</p>
          <p class="govuk-body" style="color:#505a5f">
            Sheffield (S9 3TY)</p>
          <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 7.6 miles</p>
          <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> See more details on NHS Jobs
          </p>
          <p class="govuk-body"><b>Wage</b> Competitive</p>
          <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes Monday 31 Janaury
          </p>
          <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
            Posted on 19 September</p>
        </div>
        <!-- Add the link with the heart icon -->
        <div class="govuk-grid-column-one-third" style="text-align: right;">


          <head>
            <title>Link with Heart Icon</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
          </head>

          <body>

            <a href="#" class="heart-link">
              <i class="far fa-heart" style="color:		#1d70b8"></i>
            </a>

          </body>
        </div>
        <!-- End the link with the heart icon -->
      </div>

    </div>

    <div class="govuk-!-padding-bottom-5"></div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 ">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link" id="vacancy-page-fields-studio" href="vacancy-page-fields-studio.html">
            Endoscopy Performance Administrator (from NHS Jobs)</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">North Middlesex University Hospital NHS Trust</p>
        <p class="govuk-body" style="color:#505a5f">
          Edmonton (N18 1QX)</p>
        <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 7.6 miles</p>
        <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> See more details on NHS Jobs
        </p>
        <p class="govuk-body"><b>Wage</b> £21,348 a year</p>
        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes Monday 31 Janaury
        </p>
        <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
          Posted on 19 September</p>
      </div>
      <!-- Add the link with the heart icon -->
      <div class="govuk-grid-column-one-third" style="text-align: right;">


        <head>
          <title>Link with Heart Icon</title>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        </head>

        <body>

          <a href="#" class="heart-link">
            <i class="far fa-heart" style="color:		#1d70b8"></i>
          </a>

        </body>
      </div>
      <!-- End the link with the heart icon -->
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 ">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link" id="vacancy-page-fields-studio" href="vacancy-page-fields-studio.html">
            Administration Apprentice</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">BLAKE UK LTD</p>
        <p class="govuk-body" style="color:#505a5f">
          Sheffield (S3 9PT)</p>
        <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 1.3 miles</p>
        <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> Business administrator (Level 3)
        </p>
        <p class="govuk-body"><b>Wage</b> £10,290 a year</p>
        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes Monday 31 July
        </p>
        <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
          Posted on 19 September</p>
      </div>
      <!-- Add the link with the heart icon -->
      <div class="govuk-grid-column-one-third" style="text-align: right;">


        <head>
          <title>Link with Heart Icon</title>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        </head>

        <body>

          <a href="#" class="heart-link">
            <i class="far fa-heart" style="color:		#1d70b8"></i>
          </a>

        </body>
      </div>
      <!-- End the link with the heart icon -->
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 ">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-2">
          Closing soon
        </strong>
        <h2 class="govuk-heading-m  das-search-results__heading govuk-!-margin-bottom-1">
          <a class="das-search-results__link" id="vacancy-02" href="vacancy-page-nhs.html">
            Apprentice Administration (from NHS Jobs)</a>
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Kings College Hospital NHS Foundation Trust</p>
        <p class="govuk-body" style="color:#505a5f">
          London (SE5 8AD)</p>
        <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> 2.8 miles</p>
        <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> See more details on NHS Jobs</p>
        <p class="govuk-body"><b>Wage</b> £6.40 per hour</p>
        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">Closes tomorrow at 11:59pm
        </p>
        <p class="govuk-body govuk-!-font-size-16" style="color:#505a5f">
          Posted on 19 September</p>
      </div>
      <!-- Add the link with the heart icon -->
      <div class="govuk-grid-column-one-third" style="text-align: right;">


        <head>
          <title>Link with Heart Icon</title>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        </head>

        <body>

          <a href="search-listing-saved-vacancy-signed-in-user.html" class="heart-link">
            <i class="far fa-heart" style="color:		#1d70b8"></i>
          </a>

        </body>
      </div>
      <!-- End the link with the heart icon -->
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 ">
    <!-- END cards -->

    <p class="govuk-body govuk-!-padding-bottom-3">Showing <b>1</b> to <b>5</b> of <b>5</b>






  </div>
</div>







{% endblock %}