{% extends "gov-uk-one-settings.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="delete-your-account-and-withdraw-applications.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Confirm your account deletion</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Your applications, saved vacancies and personal details will be deleted forever.
      </strong>
    </div>
    <div class="govuk-!-padding-bottom-3"></div>


    <form class="form" action="delete-your-account-success-banner" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="account-number">
            Confirm your account deletion
          </label>
        </h1>
        <div id="account-number-hint" class="govuk-hint">
          Enter your email address to delete your Find an apprenticeship account
        </div>
        <label class="govuk-label" for="event-name">
          Your email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="twoThirds" type="text">
      </div>


      <div class="govuk-button-group" href="delete-your-account-success-banner.html">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Delete my account
        </button>
        <a class="govuk-link" href="account-details.html">Cancel (return to settings)</a>
      </div>
    </form>



  </div>
</div>

{% endblock %}