{% extends "gov-uk-signed-out.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="create-account-phone-number.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Create an account</span>
    <h1 class="govuk-heading-l">Get email notifications</h1>
    <div class="govuk-!-padding-bottom-3"></div>

    <form class="form" action="create-account-confirmation" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Get reminded to apply for your saved vacancies
            </h1>
          </legend>
          <div id="signIn-hint" class="govuk-hint">
            We can remind you to apply for a vacancy you’ve saved when it’s closing soon.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes, remind me to apply for my saved vacancies
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Get reminded to submit unfinished applications
            </h1>
          </legend>
          <div id="signIn-hint" class="govuk-hint">
            We can remind you to submit applications you’ve started when the apprenticeship’s closing soon.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes, remind me to submit unfinished application
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-m">Get notified when you’re offered an apprenticeship</h2>
      <p class="govuk-body">We’ll always email you when your application is successful or unsuccessful.
      </p>

      <div class="govuk-!-padding-bottom-6"></div>
      <div class="govuk-button-group" href="create-account-confirmation.html.html">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>



  </div>
</div>

{% endblock %}