{% extends "gov-uk-one.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a class="govuk-back-link" href="application-task-list-new-user-multi-location.html">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Locations</span>
    <form class="form" action="application-summary-location-preference" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="location-preference">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Where do you want to apply for?
          </h1>
        </legend>
        <div id="waste-hint" class="govuk-hint">
          Select all that apply
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              5 Clare Street, Sheffield, S7 3PT
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              3 Chapel Street, Manchester, M1 1AD
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
              18 Mill Park, Leeds, LS1 2TB
            </label>
          </div>
        </div>
      </fieldset>
    </div>


    <div class="govuk-button-group" href="application-summary-location-preference.html">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>
    </form>



  </div>
</div>

{% endblock %}