{% set version = 'v31' %}


<h2 class="govuk-heading-l">
  <span class="govuk-tag">LATEST version</span><br>
  FAA Design 16 (V31)
  <span class="govuk-caption-l">
    2 January 2025 &ndash; Present
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
    summaryText: "Sprint design work",
    html: "<table class='govuk-table'>
      <thead class='govuk-table__head'>
        <tr class='govuk-table__row'>
          <th scope='col' class='govuk-table__header'>What we've done</th>
          <th scope='col' class='govuk-table__header'>Why we're doing it</th>
        </tr>
      </thead>
      <tbody class='govuk-table__body'>
        <tr class='govuk-table__row'>
          <td class='govuk-table__cell'>Redesigning the apprentice journey on Find an apprenticeship</td>
          <td class='govuk-table__cell'>Find an apprenticeship upgrade</td>
        </tr>

      </tbody>
    </table>"
    }) }}




    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design tickets (in Trello)</h4>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a href="https://trello.com/c/elcTGU4Q/219-219-update-edit-live-vacancy-journey-employer-prover-traineeships" class="govuk-link govuk-link--no-visited-state">Edit live vacancy</a></li>   -->
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design artefacts</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li><a
          href="https://lucid.app/lucidspark/75df8cd3-1247-466f-b7c6-7980cf119bf5/edit?viewport_loc=-451923%2C-406751%2C41806%2C21450%2C0_0&invitationId=inv_295930d0-a2eb-4b25-a72a-e25f0aea5c39#"
          class="govuk-link govuk-link--no-visited-state">Lucid board</a></li>
    </ul>

    <!-- ////APPRENTICE//// -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Apprentice</h4>
    <div class="govuk-button-group">
      <a href="/{{version}}/faa/start-page" class="govuk-button" style="background: #1d70b8"
        data-module="govuk-button">View journey</a>
    </div>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What we've done
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>Page</th>
              <th scope='col' class='govuk-table__header'>What we've done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v31/faa/search-listing">Search listing (Wage display) - Signed out</a></td>
              <td class='govuk-table__cell'>
                <li>Wage can't be calculated exactly based on wage on the vacancy card as the user is not signed in.
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v31/faa/search-listing-signed-in">Search listing (Wage display) - Signed in</a></td>
              <td class='govuk-table__cell'>
                <li>Wage can be caluclated on the vacancy card when the user is signed in as we know there age to give
                  an exact figure.
                </li>
              </td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'><a class="govuk-link govuk-link--no-visited-state"
                  href="/v31/faa/search-listing-signed-in">Vacancy page (Wage display) - Signed out</a></td>
              <td class='govuk-table__cell'>
                <li>Wage can be caluclated on the vacancy card when the user is signed in as we know there age to give
                  an exact
                  figure.
                </li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <!-- ////EMPLOYER//// -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Employer</h4>
    <div class="govuk-button-group">
      <a href="/{{version}}/employer/login" class="govuk-button" style="background: #6F72AF"
        data-module="govuk-button">View journey</a>
    </div>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What we've done
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>Page</th>
              <th scope='col' class='govuk-table__header'>What we've done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>No updates</a></td>
              <td class='govuk-table__cell'>
        </table>
      </div>
    </details>




    <!-- //// PROVIDER//// -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Provider</h4>

    <div class="govuk-button-group">
      <a href="/{{version}}/provider/login" class="govuk-button" style="background:#F47737"
        data-module="govuk-button">View journey</a>
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What we've done
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>Page</th>
              <th scope='col' class='govuk-table__header'>What we've done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>No updates</a></td>
              <td class='govuk-table__cell'>
        </table>
      </div>
    </details>


    <!-- ////TRAINEESHIP -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Traineeship</h4>

    <div class="govuk-button-group">
      <a href="/{{version}}/provider/login" class="govuk-button" style="background: #417F82"
        data-module="govuk-button">View journey</a>
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What we've done
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class='govuk-table'>
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>Page</th>
              <th scope='col' class='govuk-table__header'>What we've done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>No updates</a></td>
              <td class='govuk-table__cell'>
        </table>
      </div>
    </details>




  </div>
</div>