{% extends "gov-uk-one-settings.html" %}

{% block pageTitle %}
Find an apprenticeship - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Settings</h1>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="./account-details.html">Your account</a>
            </li>

            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page">Search alerts</a>
            </li>

          </ul>

        </nav>

        <h2 class="govuk-heading-l">Search alerts</h2>
        <p class="govuk-body">We’ll email you about these searches every Monday at 8am.
        </p>

        <div class="govuk-inset-text">
          You’ve created all the search alerts you can. To create a new search alert, you’ll need to delete one first. 
        </div>

        <div class="govuk-!-padding-bottom-3"></div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Business admin in Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Business admin
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 20 miles</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Disability confident
                </dt>
                <dd class="govuk-summary-list__value">
                  Show disability confident employers
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              2 categories in Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 20 miles</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Categories
                </dt>
                <dd class="govuk-summary-list__value">
                  <li>Agriculture, environmental and animal care</li>
                  <li>Business and administration</li>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Apprenticeship level
                </dt>
                <dd class="govuk-summary-list__value">
                  <li>Level 3</li>
                  <li>Level 4</li>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Business analyst, across England
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Business analyst
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Across all of England
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Digital, across England
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Digital
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Across all of England
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              NHS in Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  NHS
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 30 miles</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Care assistant in Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Care assistant
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 30 miles</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Teaching in Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Teaching
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 30 miles</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Education in Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Education
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 30 miles</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Finance in Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Finance
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 30 miles</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Marketing in Sheffield South Yorkshire
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="delete-search-alert.html">Delete<span class="govuk-visually-hidden">Delete
                    search alert</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Marketing
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield, South Yorkshire
                  <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">
                    Within 30 miles</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>





      </div>
    </div>
  </main>
</div>

{% endblock %}