{% if data.user=='employer'%}{% extends "ma-layout.html" %}{%else%}{% extends "tp-layout.html" %}{%endif%}

{% block pageTitle %}
Where will the apprentices work? - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="location-success-banner-new-location-added">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Safety, Health & Environment
              Technician Apprentice{% endif %}</span>

            <h1 class="govuk-heading-xl">Enter a new location</h1>
            <div class="govuk-form-group">
              <label class="govuk-label" for="full">
                Address line 1
              </label>
              <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="full">
                Address line 2 (optional)
              </label>
              <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="three-quarters">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="three-quarters">
                County (optional)
              </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="one-third">
                Postcode
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="one-third" name="oneThird" type="text">
            </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <a class="govuk-link" href="../dashboard">Cancel</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}