{% extends "tp-layout.html" %}

{% block pageTitle %}
Where will the apprentices work? - Recruitment - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="task-list?section2=completed">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">{% if data.title %}{{data.title}}{% else %}Safety, Health & Environment
              Technician Apprentice{% endif %}</span>

            <h1 class="govuk-heading-xl">Confirm locations</h1>

            <div class="das-confirm-card" style="background-color:#f4f4f4;padding:20px;margin-bottom:30px;">
              <p class="govuk-body govuk-!-margin-bottom-0">8 Craft Centre</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Leeds</p>
              <p class="govuk-body govuk-!-margin-bottom-3">S10 3TR</p>

              <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
              <div class="govuk-!-padding-bottom-3"></div>

              <p class="govuk-body govuk-!-margin-bottom-0">14 Howard Street</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Manchester</p>
              <p class="govuk-body govuk-!-margin-bottom-3">S8 8BR</p>

              <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
              <div class="govuk-!-padding-bottom-3"></div>

              <p class="govuk-body govuk-!-margin-bottom-0">10 Jam Jar Way</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Shrewsbury</p>
              <p class="govuk-body govuk-!-margin-bottom-3">S3 7GE</p>

              <div class="govuk-!-padding-bottom-1"></div>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="multi-location-cities">Change locations</a><br>
              </p>
            </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">Confirm and continue</button>
        <a class="govuk-link" href="../dashboard">Cancel</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}